section.detail-content-wrap
    .container
        .row
            section.col-md-4.col-sm-12.col-xs-12.detail-itm
                h2 Description & Features
                .desc Leasing in the Great Northern Warehouse in Manchester available. Located within the entertainment complex so ideal for visitors or someone working in the area. 6 minutes from Deansgate station. 24/7 access from Monday to Sunday. Leasing available for hourly, daily and long-term rentals.
                ul.timing
                    li
                        i.fa.fa-clock-o
                        | 24/7 Access
                    li
                        i.fa.fa-map-marker
                        | Allocated Space
                .thumbnails.gal-box
                    .thumbnail
                        a(class="gl-item", href="uploads/gallery/gal-1.jpeg")
                            img(src="uploads/gallery/gal-1.jpeg", alt="")
                    .thumbnail
                        a(class="gl-item", href="uploads/gallery/gal-2.jpeg")
                            img(src="uploads/gallery/gal-2.jpeg", alt="")
                    .thumbnail
                        a(class="gl-item", href="uploads/gallery/gal-3.jpeg")
                            img(src="uploads/gallery/gal-3.jpeg", alt="")
                .button-comment
                    p
                        a(class="btn btn-red w100" , data-toggle="modal", data-target="#myModalComment") Have a question about this space?
                    p
                        a(href="#", class="btn btn-blue w100") Contact Host
            // END : ITM
            section.col-md-4.col-sm-6.col-xs-12.detail-itm
                .blk-inner
                    h2 How It Works
                    .desc This car park uses number plate recognition technology. On arrival at the car park your number plate will be automatically recognised and you'll be issued a ticket.
                    .guarantee
                        .blue-box
                            img(src="uploads/guarantee.png", alt="")
                            p You’re always protected when you book with ZoneSpace.
                            a(href="#") View our booking guarantee
                // END: BLK
                .blk-inner
                    h2 Our Cancellation Policy
                    .desc Your short term booking is fully refundable up to 24 hours before the start of your reservation.
                // END: BLK
                .blk-inner
                    h2 Rental Terms
                    .desc Rolling 30-day agreement with the first month's rent taken up-front along with one month's rent as a deposit.
                        a(href="#") Why is there a deposit?
                // END: BLK
            // END : ITM
            section.col-md-4.col-sm-6.col-xs-12.detail-itm
                .access-times
                    h3 Event Planners
                    table.table.table-striped.table-hover.table-condensed
                        thead
                            tr
                                th Company
                        tbody
                            tr
                                td Saigon Appartments
                            tr
                                td IBM
                            tr
                                td Company A
                            tr
                                td Company B
                            tr
                                td Company C
                            tr
                                td Company D
                            tr
                                td Company E
                            tr
                                td Company F
                    .pagination-container
                        ul.pagination
                            li.disabled
                                a(href="#") First
                            li.disabled
                                a(href="#") Previous
                            li.active
                                a(href="#") 1
                            li
                                a(href="#") 2
                            li.disabled
                                a(href="#") Next
                            li.disabled
                                a(href="#") Last
            // END : ITM
