section.detail-wrap
    include detail-map.jade
    // END : MAPs
    include detail-path.jade
    // END : PATH
    include detail-content.jade
    // END : CONTENT
    include detail-comment.jade
    // END : COMMENT
    include modal_guard.jade
    // END : MODAL GUARD
    include modal_comment.jade
    // END : MODAL COMMENT
    include modal_term.jade
    // END : MODAL TERM
