<!-- END : MAIN CONTENT-->
<footer class="footer-wrap">
    <section class="footer-menu">
        <div class="container">
            <div class="row">
                <section class="footer-choice col-md-3 col-sm-3 col-xs-4">
                    <div class="foo-logo">zonepace</div>
                    <div class="blk-lang">
                        <select class="slect slect-lang">
                            <option value="">Language (Eng)</option>
                            <option value="en">English</option>
                            <option value="fr">French</option>
                        </select>
                    </div>
                    <!-- END : BLK -->
                    <div class="blk-money">
                        <select class="slect slect-money">
                            <option value="">Currency (USD)</option>
                            <option value="VND">VND</option>
                            <option value="$">$</option>
                            <option value="€">€</option>
                        </select>
                    </div>
                    <!-- END : BLK -->
                </section>
                <section class="footer-company col-md-2 col-sm-2 col-xs-4">
                    <h2 class="foo-ttl">company</h2>
                    <ul>
                        <li><a href="{{ getUrlPage('ABOUT_US') }}">About</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Press</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Policies</a></li>
                        <li><a href="#">Disaster Respone</a></li>
                        <li><a href="#">Terms & Privacy</a></li>
                    </ul>
                </section>
                <!-- END : COMPANY-->
                <section class="footer-discover col-md-2 col-sm-2 col-xs-4">
                    <h2 class="foo-ttl">USING ZONPACE</h2>
                    <ul>
                        <li><a href="#">Why Host</a></li>
                        <li><a href="#">Responsible Hosting</a></li>
                        <li><a href="#">Booking Guarantee</a></li>
                        <li><a href="#">Zonpace Picks</a></li>
                    </ul>
                </section>
                <!-- END : DISCOVER-->
                <section class="footer-subscrible col-md-5 col-sm-5 col-xs-12">
                    <section class="blk-subscrible">
                        <h2 class="foo-ttl">SUBSCRIBE TO OUR NEWSLETTER</h2>
                        <form class="frm-subscrible">
                            <input type="text" placeholder="Email address" class="ipt">
                            <input type="submit" value="Subscribe" class="btn btn-subscrible">
                        </form>
                    </section>
                    <!-- END : SUBSCRIBLE-->
                    <section class="blk-social">
                        <h2 class="foo-ttl">JOIN US ON</h2><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-youtube-play"> </i></a><a href="#"><i class="fa fa-instagram"></i></a>
                    </section>
                    <!-- END : SOCIAL-->
                </section>
                <!-- END : SUBSCRIBLE WRAP-->
            </div>
        </div>
    </section>
    <!-- END : FOOTER MENU-->
    <section class="footer-follow">
        <div class="container">
            <div class="t-c">Copyright 2016 by © ZONPACE, INC</div>
        </div>
    </section>
    <!-- END : FOOTER FOLLOW-->
</footer>
<!-- END: FOOTER-->