{<header class="header-wrap hd-fixed">
    <div class="container-fluid">
        <div class="row">
            <section class="header-logo col-md-6 col-sm-6 col-xs-12"><a href="javascript:;" class="a_menu"><i class="fa fa-bars"></i></a><a href="javascript:;" class="a_search"><i class="fa fa-search"></i></a>
                <h1 class="logo"><a href="{{ path('app_default') }}" title="Zone &amp; Pace Rentals"><img src="{{asset('bundles/app/main/images/logo.png')}}" alt=""></a></h1>
                <section class="header-search">
                    <form name="frm-search" class="frm-search">
                        <button type="submit"><i class="ico ico-zoom-b"></i></button>
                        <input type="text" id="ipt-search" placeholder="Seach Space..." name="title">
                    </form>
                </section>
                <!-- END : SEARCH-->
            </section>
            <!-- END : LOGO-->
            <section class="header-menu col-md-6 col-sm-6 col-xs-12">
                <ul class="menu clearfix">
                    <li class="active"><a href="#">Lease My Space</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">How It Works</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Log In / Sign Up</a></li>
                </ul>
            </section>
            <!-- END : LOGO-->
        </div>
    </div>
</header>
<!-- END : HEADER-->
<section class="menu-mobile">
    <div class="menu-mobile-inner"><a href="#" class="a_close"><i class="fa fa-times"></i></a>
        <ul class="menu">
            <li class="active"><a href="#">Lease My Space</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">How It Works</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Log In / Sign Up</a></li>
        </ul>
    </div>
</section>
<!-- END : MENU MOBILE-->