<div class="header-container">

    <header class="header  fixed    clearfix">

        <div class="container">
            <div class="row">
                <div class="col-md-3 ">
                    <div class="header-left clearfix">

                        <div id="logo" class="logo">
                            <a href="#" class="logo-space"><img style="max-width: 60%;" src="{{ asset('bundles/app/images/zonpace-logo.png') }}"></a>
                        </div>
                    </div>

                </div>
                <div class="col-md-9">
                    <div class="header-right clearfix">
                        <div class="main-navigation  animated with-dropdown-buttons">
                            <nav class="navbar navbar-default" role="navigation">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>

                                    </div>
                                    <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                        <input id="pac-input" style="margin-top: 25px; margin-left: -115px;
" class="controls" type="text" placeholder="Search Space...">
                                        <i class="fa fa-search" style="margin-left:-25px;"></i>
                                        <ul class="nav navbar-nav ">
                                            <li>
                                                <a href="{{ path('app_default') }}">Home</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('app_user_space_create',{'step':1}) }}">Lease My Space</a>
                                            </li>
                                            <li>
                                                <a href="index.html">How it Works</a>
                                            </li>
                                            <li>
                                                <a href="index.html">Help</a>
                                            </li>
                                            <li>
                                                <a href="index.html">Log In/Sign Up</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
</div>