/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/



.idea
/nbproject/private/



/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/




/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
/.buildpath
/.project
/npm-shrinkwrap.json
/.settings
/public/build

/public/css/*.css
/public/css/*.css.map
/public/js/*.js
/public/js/*.js.map

/resources/assets/css/frontend/
/resources/assets/css/backend/

.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.idea
.project
_ide_helper.php
composer.phar
error.log
Todo.rtf
/.vagrant
/composer.lock
