section.blk-our-team
    .container
        h2.blk-ttl MEET OUR TEAM
        .row
            section.col-xs-6
                section.team-itm
                    a(href="#") 
                        figure.zone-img(style="background-image: url('uploads/user-2.jpg')")
                        .team-info
                            h2.name Jason McGrath
                            h3.position General Manager
                            .desc Over his six years at McMaster Carr Supply Company, he directed strategic planning and forecasting for receiving and shipping departments that serviced the western United States and Mexico and was responsible for leading all West Coast sales operations
                // END : ITM
                section.team-itm
                    a(href="#") 
                        figure.zone-img(style="background-image: url('uploads/user-1.jpg')")
                        .team-info
                            h2.name Federico Oneto
                            h3.position Director of Business Development
                            .desc Prior to this he held operations roles with AnyJunk (the UK’s largest on-demand waste removal service) and Mars Chocolate, which was where he set up a direct-to-consumer business and got addicted to the startup buzz and rank of Captain.
                // END : ITM
                section.team-itm
                    a(href="#") 
                        figure.zone-img(style="background-image: url('uploads/avatar.jpg')")
                        .team-info
                            h2.name Lenny Beckerman-Rodau
                            h3.position Director of Supply
                            .desc Melissa started her career as a molecular geneticist, winning a Congressional Award for her research at the National Oceanic and Atmospheric Administration. She has a BS in biological sciences from the University of Missouri.
                // END : ITM
            // END : COL
            section.col-xs-6
                section.team-itm
                    a(href="#") 
                        figure.zone-img(style="background-image: url('uploads/user-1.jpg')")
                        .team-info
                            h2.name Federico Oneto
                            h3.position Director of Business Development
                            .desc Prior to this he held operations roles with AnyJunk (the UK’s largest on-demand waste removal service) and Mars Chocolate, which was where he set up a direct-to-consumer business and got addicted to the startup buzz and rank of Captain.
                // END : ITM
                section.team-itm
                    a(href="#") 
                        figure.zone-img(style="background-image: url('uploads/avatar.jpg')")
                        .team-info
                            h2.name Lenny Beckerman-Rodau
                            h3.position Director of Supply
                            .desc Melissa started her career as a molecular geneticist, winning a Congressional Award for her research at the National Oceanic and Atmospheric Administration. She has a BS in biological sciences from the University of Missouri.
                // END : ITM
                section.team-itm
                    a(href="#") 
                        figure.zone-img(style="background-image: url('uploads/user-2.jpg')")
                        .team-info
                            h2.name Jason McGrath
                            h3.position General Manager
                            .desc Over his six years at McMaster Carr Supply Company, he directed strategic planning and forecasting for receiving and shipping departments that serviced the western United States and Mexico and was responsible for leading all West Coast sales operations
                // END : ITM
            // END : COL