section.blk-jobs.blk-white
    .container
        h2.blk-ttl  
            span WANT TO BE A PART OF OUR TEAM?
            span WE ARE LOOKING FOR:
        .row
            section.col-xs-6
                section.job-itm
                    a(href="#") Director of Supply
                // END : ITM
                section.job-itm
                    a(href="#") General Manager
                // END : ITM
            // END : COL
            section.col-xs-6
                section.job-itm
                    a(href="#") Director of Business Development
                // END : ITM
                section.job-itm
                    a(href="#") Android Developer
                // END : ITM
            // END : COL