/**
 * CSS FILTER
 */
.blk-filter-wrap {
    margin-top: -80px;
    position: relative;
    z-index: 10;
    margin-bottom: 60px;
	.frm-filter {
		margin-bottom: 0;
	}
	.inner {
		padding: 20px 20px 0 20px;
		background-color: rgba(255, 255, 255, 0.5);
		.border-radius(5px);
	}
	.filter-itm {
		position: relative;
	}
	.btn {
		&.btn-red {
			width: 100%;
		}
	}
	.input-daterange {
		.itm-ipt {
			width: 48%;
			float: left;
			height: 40px;
			.border-radius(5px) !important;
			background-color: #fff;
			border: 1px solid transparent;
			position: relative;
			&:focus {
				border-color: #999;
			}
			i {
				position: absolute;
				top: 13px;
				right: 13px;
				font-size: 14px;
				color: #818181;
			}
			.ipt {
				text-align: left;
				background-color: transparent;
				&:focus {
					border-color: transparent;
				}
			}
			&:last-child {
				float: right;
			}
		}
	}
}
.datepicker {
	table {
		tr {
			td {
				&.active {
					background: @red !important;  
				}
				&.today {
					background: rgba(255,0,51,0.7) !important;
					color: #fff;
				}
			}
		}
	}
}
.blk-filter-wrap {
	#slider-ranger {
		&.ui-rangeSlider {
			padding-top: 0;
			.ui-rangeSlider-container, .ui-rangeSlider-arrow {
				height: 40px;
				border-top: none;
				border-bottom: none;
				.box-shadow(none);
			}
			.ui-rangeSlider-bar {
				height: 38px;
				background: @red;
			}
			.ui-rangeSlider-container, .ui-rangeSlider-arrow, .ui-rangeSlider-label {
				background: #fff;
			}
			.ui-rangeSlider-label {
				color: #575757;
			}
			.ui-rangeSlider-label-inner {
				border-top: 10px solid #fff;
			}
			.ui-rangeSlider-leftArrow {
				border-left: none;
				.ui-rangeSlider-arrow-inner {
				    border-right: 10px solid @red;
				}
			}
			.ui-rangeSlider-rightArrow {
				border-right: none;
				.ui-rangeSlider-arrow-inner {
				    border-left: 10px solid @red;
				}
			}
			&.ui-rangeSlider-withArrows {
				.ui-rangeSlider-container {
				    margin: 0 16px 0 14px;
				    width: 90% !important;
				}
			}
		}
		.ui-rangeSlider-withArrows .ui-rangeSlider-container, .ui-rangeSlider-noArrow .ui-rangeSlider-container, .ui-rangeSlider-arrow {
			.box-shadow(none);
		}
	}
}
