/**
 * CSS BLK AREA
 */
.blk-area-wrap {
	margin-bottom: 30px;
	h2.area-ttl {
		font-weight: 900;
		text-transform: uppercase;
		font-size: 30px;
		text-align: center;
		margin-bottom: 30px;
	}
	.area-itm {
		.area-img {
			height: 180px;
			position: relative;
			background-repeat: no-repeat;
			background-size: cover;
			margin-bottom: 20px;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 1;
				background-color: rgba(0,0,0,0.2);
				.transition(all 0.4s ease);
			}
			&:hover {
				&::before {
					background-color: rgba(0,0,0,0.5);
				}
			}
			h3 {
				font-weight: 700;
				text-transform: uppercase;
				font-size: 20px;
				color: #fff;
				text-align: center;
				position: absolute;
				margin-bottom: 0;
				top: 50%;
				left: 0;
				right: 0;
				z-index: 2;
				margin-top: -10px;
			}
		}
		li {
			padding: 3px 0;
		}
		ol {
			padding-left: 12px;
		}
		.more {
			margin-top: 10px;
			a {
				color: @red;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
