section.blk-how-it-work.blk-white
    .container
        h2.blk-ttl HOW IT WORKS
        section.work-desc 
            span Zonpace is here to help you search the vacant land or empty space for rent (to all of your purposes). 
            span Whether you’re a space owner or a searcher looking for somewhere to rent, here’s how Zonepace works in 4 simple steps:
        // END : DESC
        section.work-col
            .row
                section.col-xs-6
                    h2.blk-ttl-bold For Searchers
                    section.work-itm
                        section.wrk-icon
                            span.ico.ico-zoom
                        section.wrk-content
                            h3.wrk-ttl Search
                            ul
                                li Enter the location where you need renting.
                                li You can enter a city, street name or postcode into the search box to bring up listings that are most relevant to you.
                                li Filters allow you to narrow down your search, depending on your requirements.
                    // END : ITM
                    section.work-itm
                        section.wrk-icon
                            span.ico.ico-pin
                        section.wrk-content
                            h3.wrk-ttl Choose
                            ul
                                li A browser will appear the listings of which includes information related to your search keywords in the search box frame.
                                li Choose the one which best suits, you can view more details about price, area, map, policy, service…on where you chose.
                    // END : ITM
                    section.work-itm
                        section.wrk-icon
                            span.ico.ico-calgrid
                        section.wrk-content
                            h3.wrk-ttl Book
                            ul
                                li To be able to start booking, simply ﬁll in the information in table form. 
                                li If you are afraid your information leaked to the outside, Zonepace can ensure your privacy. 
                                li Your information is only passed to the owner to conﬁrmed tenants.
                    // END : ITM
                    section.work-itm
                        section.wrk-icon
                            span.ico.ico-check
                        section.wrk-content
                            h3.wrk-ttl Active
                            ul
                                li Once you’ve received conﬁrmation of your booking from Zonpace, your reservations completed.
                    // END : ITM
                // END
                section.col-xs-6
                    h2.blk-ttl-bold For Owners
                    section.work-itm
                        section.wrk-icon
                            span.ico.ico-plus
                        section.wrk-content
                            h3.wrk-ttl Create your listing & Plot a space
                            ul
                                li On the form is available, you just need to enter the details and description of your rental space to create your free listing. As detailed as possible, this will make guests appreciate the place for rent.
                    // END : ITM
                    section.work-itm
                        section.wrk-icon
                            span.ico.ico-calgrid
                        section.wrk-content
                            h3.wrk-ttl Update photos & calendar
                            ul
                                li To enhance your listing, you can add images to your space (up to 10 photos). 
                                li Also Zonpace provides availability calendar, which you can customize the time that you want to hire  
                    // END : ITM
                    section.work-itm
                        section.wrk-icon
                            span.ico.ico-chat
                        section.wrk-content
                            h3.wrk-ttl Wait for bookings
                            ul
                                li If you're renting out your space on a daily basis just wait for bookings to come in.
                                li Conﬁrmation will be sent to you via text messages via the phone number you provided us.
                    // END : ITM
                    section.work-itm
                        section.wrk-icon
                            span.ico.ico-wallet
                        section.wrk-content
                            h3.wrk-ttl Manage service
                            ul
                                li We offer a fully managed service so renting out a space is as hassle-free as it can possibly be. Monthly payments will be automatically made to you, we’ll ensure there are no missed payments, and our dedicated team will deal with any queries.
                    // END : ITM
                // END