section.blk-how-it-work.blk-why-us
    .container
        h2.blk-ttl WHY US?
        section.work-desc We’re a platform that enables users to ﬁnd the right space for their events. Through our platform thousands of owners are making additional income through renting out their unused spaces and if you need one we have a selection of over 250,000 spaces nationwide. Read on to ﬁnd out about the beneﬁts of using Zonpace:
        // END : DESC
        section.work-col
            .row
                section.col-xs-6
                    h2.blk-ttl-bold For Searchers
                    section.work-itm
                        section.wrk-icon
                            span.ico.ico-zoom
                        section.wrk-content
                            h3.wrk-ttl Nationwide Coverage
                            .desc Enter the location where you need renting. You can enter a city, street name or postcode into the search box to bring up listings that are most relevant to you. Filters allow you to narrow down your search, depending on your requirements.
                    // END : ITM
                    section.work-itm
                        section.wrk-icon
                            span.ico.ico-pin
                        section.wrk-content
                            h3.wrk-ttl A Trusted Brand
                            .desc A browser will appear the listings of which includes information related to your search keywords in the search box frame.
                    // END : ITM
                    section.work-itm
                        section.wrk-icon
                            span.ico.ico-calgrid
                        section.wrk-content
                            h3.wrk-ttl Easy Booking Process
                            .desc To be able to start booking, simply ﬁll in the information in table form. If you are afraid your information leaked to the outside, Zonepace can ensure your privacy. 
                    // END : ITM
                    section.work-itm
                        section.wrk-icon
                            span.ico.ico-check
                        section.wrk-content
                            h3.wrk-ttl Quick Rentals
                            .desc Once you’ve received conﬁrmation of your booking from Zonpace, your reservations completed.
                    // END : ITM
                // END
                section.col-xs-6
                    h2.blk-ttl-bold For Owners
                    section.work-itm
                        section.wrk-icon
                            span.ico.ico-plus
                        section.wrk-content
                            h3.wrk-ttl Hassle-free
                            .desc On the form is available, you just need to enter the details and description of your rental space to create your free listing. As detailed as possible, this will make guests appreciate the place for rent.
                    // END : ITM
                    section.work-itm
                        section.wrk-icon
                            span.ico.ico-calgrid
                        section.wrk-content
                            h3.wrk-ttl 24/7 Support
                            .desc To enhance your listing, you can add images to your space (up to 10 photos).
                    // END : ITM
                    section.work-itm
                        section.wrk-icon
                            span.ico.ico-chat
                        section.wrk-content
                            h3.wrk-ttl Simple & Easy to Use
                            .desc If you're renting out your space on a daily basis just wait for bookings to come in. Conﬁrmation will be sent to you via text messages via the phone number you provided us.
                    // END : ITM
                    section.work-itm
                        section.wrk-icon
                            span.ico.ico-wallet
                        section.wrk-content
                            h3.wrk-ttl Secured Service
                            .desc Monthly payments will be automatically made to you, we’ll ensure there are no missed payments, and our dedicated team will deal with any queries.
                // END