<!DOCTYPE html>
<!--[if IE 8]><html lang="en" class="no-js ie ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="no-js ie ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Zone &amp; Space Rentals</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header class="header">
      <div class="header-wrap">
        <div class="container-fluid">
          <div class="row">
            <section class="header-logo col-md-6 col-sm-6 col-xs-12"><a href="javascript:;" class="a_menu"><i class="fa fa-bars"></i></a><a href="javascript:;" class="a_search"><i class="fa fa-search"></i></a>
              <h1 class="logo"><a href="index.html" title="Zone &amp; Pace Rentals"><img src="images/zonpace-logo.png" alt=""><span>zone & space rentals</span></a></h1>
              <section data-href="ajax/countries.json" class="header-search">
                <form name="frm-search" class="frm-search">
                  <button type="submit"><i class="fa fa-search"></i></button>
                  <input type="text" placeholder="Zone &amp; space rentals" name="title">
                </form>
              </section>
              <!-- END : SEARCH-->
            </section>
            <!-- END : LOGO-->
            <section class="header-menu col-md-6 col-sm-6 col-xs-12">
              <ul class="menu clearfix">
                <li class="active"><a href="#">Lease my space</a></li>
                <li class="hover-help-blk"><a href="#">Help</a>
                  <div class="help-blk">
                    <div class="help-ct">
                      <div class="help-search"> 
                        <form><i class="fa fa-search"></i>
                          <input type="text" placeholder="How can we help you?" class="ipt ipt-search-help">
                        </form>
                      </div>
                      <div class="help-result-list">
                        <div class="help-r-l-ct">
                          <label>Suggested Articles</label>
                          <ul class="h-r-list">
                            <li><a href="#"> <i class="fa fa-file-text-o"></i><span>Getting Started Guide</span></a></li>
                            <li><a href="#"> <i class="fa fa-file-text-o"></i><span>Getting Started Guide</span></a></li>
                            <li><a href="#"> <i class="fa fa-file-text-o"></i><span>Getting Started Guide Getting Started Guide Getting Started Guide Getting Started Guide</span></a></li>
                            <li><a href="#"> <i class="fa fa-file-text-o"></i><span>Getting Started Guide</span></a></li>
                            <li><a href="#"> <i class="fa fa-file-text-o"></i><span>Getting Started Guide</span></a></li>
                            <li><a href="#"> <i class="fa fa-file-text-o"></i><span>Getting Started Guide</span></a></li>
                            <li><a href="#"> <i class="fa fa-file-text-o"></i><span>Getting Started Guide</span></a></li>
                            <li><a href="#"> <i class="fa fa-file-text-o"></i><span>Getting Started Guide</span></a></li>
                            <li><a href="#"> <i class="fa fa-file-text-o"></i><span>Getting Started Guide</span></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="help-link"><a href="#">Help center</a></div>
                    </div>
                  </div>
                </li>
                <li><a href="#" data-toggle="modal" data-target="#mySignUp">Sign up</a></li>
                <li><a href="#" data-toggle="modal" data-target="#myLogin">log in</a></li>
              </ul>
            </section>
            <!-- END : LOGO-->
          </div>
        </div>
      </div>
    </header>
    <!-- END : HEADER-->
    <section class="main">
      <section class="blk-list-space">
        <header class="header-list-space">
          <div class="container">
            <h2><i class="fa fa-edit"></i>List Your Space</h2>
            <div class="desc">You are a couple of minutes away from joining over 20,000 people across the UK who are making money by renting out their parking space, driveway or garage. Just fill in the details below to register your space.</div>
          </div>
        </header>
        <!-- END : HEADER-->
        <section class="space-details">
          <div class="container">
            <div class="steps">
              <ul>
                <li><a href="list-space-step1.html"><span>1</span><span>About your space</span></a></li>
                <li><a href="list-space-step2.html"><span>2</span><span>Photos</span></a></li>
                <li class="active"><a href="list-space-step3.html"><span>3</span><span>Availability</span></a></li>
              </ul>
            </div>
            <!-- END : STEPs-->
            <form class="list-form dropzone">
              <div class="step-3">
                <div class="row">
                  <section class="col-md-3 col-sm-3 col-xs-12 option-sider">
                    <div class="opt-inner">
                      <h2 class="opt-ttl active">options</h2>
                      <div class="opt-content opt-shw">
                        <div class="opt-group">
                          <h3><i class="fa fa-calendar"></i>Day selection</h3>
                          <ul>
                            <li>
                              <input type="radio" name="rd-day" id="mon-sun" checked="checked">
                              <label for="mon-sun">Monday - Sunday</label>
                            </li>
                            <li>
                              <input type="radio" name="rd-day" id="mon-fri">
                              <label for="mon-fri">Monday - Friday</label>
                            </li>
                          </ul>
                        </div>
                        <!-- END : OPT-->
                        <div class="opt-group">
                          <h3><i class="fa fa-clock-o"></i>Time selection</h3>
                          <ul>
                            <li>
                              <input type="radio" name="rd-time" id="rd-24">
                              <label for="rd-24">24 Hour</label>
                            </li>
                            <li>
                              <input type="radio" name="rd-time" id="rd-cus">
                              <label for="rd-cus">Custom</label>
                              <div class="custom-options">
                                <div class="custom-inner">
                                  <ul>
                                    <li>
                                      <label>Start Time:</label>
                                      <div class="select">
                                        <select name="schedule_time_start">
                                          <option value="00:00">00:00</option>
                                          <option value="00:30">00:30</option>
                                          <option value="01:00">01:00</option>
                                          <option value="01:30">01:30</option>
                                          <option value="02:00">02:00</option>
                                          <option value="02:30">02:30</option>
                                          <option value="03:00">03:00</option>
                                          <option value="03:30">03:30</option>
                                          <option value="04:00">04:00</option>
                                          <option value="04:30">04:30</option>
                                          <option value="05:00">05:00</option>
                                          <option value="05:30">05:30</option>
                                          <option value="06:00">06:00</option>
                                          <option value="06:30">06:30</option>
                                          <option value="07:00">07:00</option>
                                          <option value="07:30">07:30</option>
                                          <option value="08:00">08:00</option>
                                          <option value="08:30">08:30</option>
                                          <option value="09:00">09:00</option>
                                          <option value="09:30">09:30</option>
                                          <option value="10:00">10:00</option>
                                          <option value="10:30">10:30</option>
                                          <option value="11:00">11:00</option>
                                          <option value="11:30">11:30</option>
                                          <option value="12:00">12:00</option>
                                          <option value="12:30">12:30</option>
                                          <option value="13:00">13:00</option>
                                          <option value="13:30">13:30</option>
                                          <option value="14:00">14:00</option>
                                          <option value="14:30">14:30</option>
                                          <option value="15:00">15:00</option>
                                          <option value="15:30">15:30</option>
                                          <option value="16:00">16:00</option>
                                          <option value="16:30">16:30</option>
                                          <option value="17:00">17:00</option>
                                          <option value="17:30">17:30</option>
                                          <option value="18:00">18:00</option>
                                          <option value="18:30">18:30</option>
                                          <option value="19:00">19:00</option>
                                          <option value="19:30">19:30</option>
                                          <option value="20:00">20:00</option>
                                          <option value="20:30">20:30</option>
                                          <option value="21:00">21:00</option>
                                          <option value="21:30">21:30</option>
                                          <option value="22:00">22:00</option>
                                          <option value="22:30">22:30</option>
                                          <option value="23:00">23:00</option>
                                          <option value="23:30">23:30</option>
                                        </select>
                                      </div>
                                    </li>
                                    <li>
                                      <label>End Time:</label>
                                      <div class="select">
                                        <select name="schedule_time_end">
                                          <option value="00:00">00:00</option>
                                          <option value="00:30">00:30</option>
                                          <option value="01:00">01:00</option>
                                          <option value="01:30">01:30</option>
                                          <option value="02:00">02:00</option>
                                          <option value="02:30">02:30</option>
                                          <option value="03:00">03:00</option>
                                          <option value="03:30">03:30</option>
                                          <option value="04:00">04:00</option>
                                          <option value="04:30">04:30</option>
                                          <option value="05:00">05:00</option>
                                          <option value="05:30">05:30</option>
                                          <option value="06:00">06:00</option>
                                          <option value="06:30">06:30</option>
                                          <option value="07:00">07:00</option>
                                          <option value="07:30">07:30</option>
                                          <option value="08:00">08:00</option>
                                          <option value="08:30">08:30</option>
                                          <option value="09:00">09:00</option>
                                          <option value="09:30">09:30</option>
                                          <option value="10:00">10:00</option>
                                          <option value="10:30">10:30</option>
                                          <option value="11:00">11:00</option>
                                          <option value="11:30">11:30</option>
                                          <option value="12:00">12:00</option>
                                          <option value="12:30">12:30</option>
                                          <option value="13:00">13:00</option>
                                          <option value="13:30">13:30</option>
                                          <option value="14:00">14:00</option>
                                          <option value="14:30">14:30</option>
                                          <option value="15:00">15:00</option>
                                          <option value="15:30">15:30</option>
                                          <option value="16:00">16:00</option>
                                          <option value="16:30">16:30</option>
                                          <option value="17:00">17:00</option>
                                          <option value="17:30">17:30</option>
                                          <option value="18:00">18:00</option>
                                          <option value="18:30">18:30</option>
                                          <option value="19:00">19:00</option>
                                          <option value="19:30">19:30</option>
                                          <option value="20:00">20:00</option>
                                          <option value="20:30">20:30</option>
                                          <option value="21:00">21:00</option>
                                          <option value="21:30">21:30</option>
                                          <option value="22:00">22:00</option>
                                          <option value="22:30">22:30</option>
                                          <option value="23:00">23:00</option>
                                          <option value="23:30">23:30</option>
                                        </select>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <!-- END : OPT-->
                      </div>
                    </div>
                  </section>
                  <!-- END : SIDE BAR-->
                  <section class="col-md-9 col-sm-9 col-xs-12 option-calendar">
                    <div id="clndr">
                        <script type="text/template" id="template-calendar">
                         <div class="clndr-controls">
                           <div class="clndr-control-button">
                                <span class="clndr-previous-button">‹</span>
                            </div>
                           <div class="month"><%= month %></div>
                           <div class="clndr-control-button t-r">
                                <span class="clndr-next-button">›</span>
                           </div>
                         </div>
                         <div class="clndr-table">
                           <div class="header-days">
                               <% _.each(daysOfTheWeek, function(day) { %>
                                  <div class="header-day"><%= day %></div>
                               <% }); %>
                           </div>
                           <div class="days">
                           <% _.each(days, function(day) { %>
                                    <div class="<%= day.classes %>">
                                        <div class="day-contents">
                                            <span class="selected day-in-past">
                                                <i class="fa fa-check"></i>
                                            </span>
                                            <%= day.day %>
                                        </div>
                                    </div>  
                           <% }); %> 
                           </div>
                         </div>
                        </script>
                    </div>
                    <!-- calendar-->
                    <div class="helper-text">
                      <p><strong>Please Note:</strong>once you register your space will be available to be booked instantly, so if your space does become unavailable at some point in the future please do remember to hide your space.</p>
                    </div>
                  </section>
                  <!-- END : CALENDAR-->
                  <div class="next col-xs-12">
                    <div class="t-r">
                      <input type="submit" value="Save" class="btn btn-red">
                    </div>
                  </div>
                </div>
              </div>
              <!-- END : STEP 3-->
            </form>
          </div>
        </section>
        <!-- END : DETAIL-->
      </section>
      <!-- END : LIST YOUR SPACE-->
    </section>
    <!-- END : MAIN CONTENT-->
    <footer class="footer-wrap">
      <section class="footer-menu">
        <div class="container">
          <div class="row">
            <section class="footer-company col-md-3 col-sm-3 col-xs-6">
              <h2 class="foo-ttl">company</h2>
              <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Policies</a></li>
                <li><a href="#">Disaster Respone</a></li>
                <li><a href="#">Terms & Privacy</a></li>
              </ul>
            </section>
            <!-- END : COMPANY-->
            <section class="footer-discover col-md-3 col-sm-3 col-xs-6">
              <h2 class="foo-ttl">discover</h2>
              <ul>
                <li><a href="#">Trust & Safety</a></li>
                <li><a href="#">Travel Credit</a></li>
                <li><a href="#">Gift Cards</a></li>
                <li><a href="#">Airbnb Picks</a></li>
                <li><a href="#">Mobile</a></li>
                <li><a href="#">Airbnb Action</a></li>
                <li><a href="#">Business Travel</a></li>
                <li><a href="#">Site map</a></li>
              </ul>
            </section>
            <!-- END : DISCOVER-->
            <section class="footer-hosting col-md-3 col-sm-3 col-xs-6">
              <h2 class="foo-ttl">hosting</h2>
              <ul>
                <li><a href="#">Why Host</a></li>
                <li><a href="#">Hospitality</a></li>
                <li><a href="#">Responesible Hosting</a></li>
                <li><a href="#">Home Safety</a></li>
              </ul>
            </section>
            <!-- END : HOSTING-->
            <section class="footer-choice col-md-3 col-sm-3 col-xs-6">
              <div class="blk-lang">
                <h2 class="foo-ttl">select language</h2>
                <select class="slect slect-lang">
                  <option value="en">English</option>
                  <option value="fr">French</option>
                </select>
              </div>
              <!-- END : BLK -->
              <div class="blk-money">
                <h2 class="foo-ttl">your money type</h2>
                <select class="slect slect-money">
                  <option value="$">$</option>
                  <option value="€">€</option>
                </select>
              </div>
              <!-- END : BLK -->
            </section>
            <!-- END : CHOICE-->
          </div>
        </div>
      </section>
      <!-- END : FOOTER MENU-->
      <section class="footer-follow">
        <div class="container">
          <h2 class="foo-ttl">follow us on</h2>
          <ul class="clearfix">
            <li><a href="#" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#" title="Pinterest"><i class="fa fa-pinterest-p"></i></a></li>
            <li><a href="#" title="Tumblr"><i class="fa fa-tumblr"></i></a></li>
            <li><a href="#" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
            <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          </ul>
          <p class="t-c">Copyright 2016 by © <b>ZONPACE, INC.</b></p>
        </div>
      </section>
      <!-- END : FOOTER FOLLOW-->
    </footer>
    <!-- END: FOOTER-->
    <section class="blk-suggest-login">
      <div class="container">Join the millions of hosts and guests in Zonepace's trusted community.<a href="#" data-toggle="modal" data-target="#myLogin" class="sg-login">Log In</a><a href="#" data-toggle="modal" data-target="#mySignUp" class="sg-signup">Sign Up</a></div>
    </section>
    <!-- END: SUGGESTION LOGIN-->
    <div id="mySignUp" tabindex="-1" role="dialog" aria-labelledby="mySignUp" class="modal fade myPopup">
      <div role="document" class="modal-dialog">
        <div class="modal-content"><span data-dismiss="modal" aria-label="Close" aria-hidden="true" class="close">&times;</span>
          <div class="modal-body">
            <div class="social-button"><a href="#" class="facebook"><i class="fa fa-facebook"></i><span>Sign up with Facebook</span></a><a href="#" class="google"><i class="ico-google"></i><span>Sign up with Google</span></a></div>
            <div class="sepe"> <span>or</span></div>
            <div class="social-button sc-email"><a data-dismiss="modal" data-toggle="modal" data-target="#mySignUpEmail" class="email btn btn-red"><i class="fa fa-envelope-o"></i><span>Sign up with Email</span></a></div>
            <div class="terms">By signing up, I agree to Zonepace's <a href="#">Terms of Service</a>, <a href="#">Privacy Policy</a>, <a href="#">Guest Refund Policy</a>, and <a href="#">Host Guarantee Terms.</a></div>
            <div class="blk-redir">Already an Zonepace member? <a href="#" data-toggle="modal" data-target="#myLogin" data-dismiss="modal">Log in</a></div>
          </div>
        </div>
      </div>
    </div>
    <!-- END : MODAL SIGN UP-->
    <div id="mySignUpEmail" tabindex="-1" role="dialog" aria-labelledby="mySignUpEmail" class="modal fade myPopup">
      <div role="document" class="modal-dialog">
        <div class="modal-content"><span data-dismiss="modal" aria-label="Close" aria-hidden="true" class="close">&times;</span>
          <div class="modal-body">
            <div class="t-c head-signup">Sign up with <a href="#">Facebook </a>or <a href="#">Google</a></div>
            <div class="sepe"> <span>or</span></div>
            <div class="social-button sc-email">
              <form class="frm-signup-email">
                <div class="itm-ipt">
                  <input type="text" placeholder="First name" class="ipt"><i class="fa fa-user"></i>
                </div>
                <div class="itm-ipt">
                  <input type="text" placeholder="Last name" class="ipt"><i class="fa fa-user"></i>
                </div>
                <div class="itm-ipt">
                  <input type="email" placeholder="Email Address" class="ipt"><i class="fa fa-envelope-o"></i>
                </div>
                <div class="itm-ipt">
                  <input type="password" placeholder="Password" class="ipt"><i class="fa fa-lock"></i>
                </div>
                <div class="itm-ipt n-bd">
                  <label class="blk-birth">
                     
                    Birthday<i title="To sign up, you must be 18 or order. Other people won't see your birthday" data-toggle="tooltip" data-placement="top" class="fa fa-question-circle"></i>
                  </label>
                  <div class="blk-select">
                    <select class="slect sl-month">
                      <option value="">Month</option>
                      <option value="1">January</option>
                      <option value="2">February</option>
                      <option value="3">March</option>
                      <option value="4">April</option>
                      <option value="5">May</option>
                      <option value="6">June</option>
                      <option value="7">July</option>
                      <option value="8">August</option>
                      <option value="9">September</option>
                      <option value="10">October</option>
                      <option value="11">November</option>
                      <option value="12">December</option>
                    </select>
                    <select class="slect sl-date">
                      <option value="">Day</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                      <option value="24">24</option>
                      <option value="25">25</option>
                      <option value="26">26</option>
                      <option value="27">27</option>
                      <option value="28">28</option>
                      <option value="29">29</option>
                      <option value="30">30</option>
                      <option value="31">31</option>
                    </select>
                    <select class="slect sl-year">
                      <option value="">Year</option>
                      <option value="2016">2016</option>
                      <option value="2015">2015</option>
                      <option value="2014">2014</option>
                      <option value="2013">2013</option>
                      <option value="2012">2012</option>
                      <option value="2011">2011</option>
                      <option value="2011">2010</option>
                    </select>
                  </div>
                </div>
                <div class="itm-remem w100"><span class="remem">
                    <input type="checkbox" id="like_coupons">
                    <label for="like_coupons">I’d like to receive coupons and inspiration</label></span></div>
                <div class="terms">By signing up, I agree to Zonepace's <a href="#">Terms of Service</a>, <a href="#">Privacy Policy</a>, <a href="#">Guest Refund Policy</a>, and <a href="#">Host Guarantee Terms.</a></div>
                <button class="btn btn-red w100">Sign Up</button>
              </form>
            </div>
            <div class="blk-redir">Already an Zonepace member? <a href="#" data-toggle="modal" data-target="#myLogin" data-dismiss="modal">Log in</a></div>
          </div>
        </div>
      </div>
    </div>
    <!-- END : MODAL SIGN UP EMAIL-->
    <div id="myLogin" tabindex="-1" role="dialog" aria-labelledby="myLogin" class="modal fade myPopup">
      <div role="document" class="modal-dialog">
        <div class="modal-content"><span data-dismiss="modal" aria-label="Close" aria-hidden="true" class="close">&times;</span>
          <div class="modal-body">
            <div class="social-button"><a href="#" class="facebook"><i class="fa fa-facebook"></i><span>Log in with Facebook</span></a><a href="#" class="google"><i class="ico-google"></i><span>Log in with Google</span></a></div>
            <div class="sepe"> <span>or</span></div>
            <div class="social-button sc-email">
              <form class="frm-login">
                <div class="itm-ipt">
                  <input type="email" placeholder="Email Address" class="ipt"><i class="fa fa-envelope-o"></i>
                </div>
                <div class="itm-ipt">
                  <input type="password" placeholder="Password" class="ipt"><i class="fa fa-lock"></i>
                </div>
                <div class="itm-remem"><span class="remem">
                    <input type="checkbox" id="remem">
                    <label for="remem">Remember me</label></span><span class="forgot"><a href="#" , data-toggle="modal" data-target="#myForgot" data-dismiss="modal">Forgot Password?</a></span></div>
                <button class="btn btn-red">Log In</button>
              </form>
            </div>
            <div class="blk-redir">Don't have an account? <a href="#" data-toggle="modal" data-target="#mySignUp" data-dismiss="modal">Sign up</a></div>
          </div>
        </div>
      </div>
    </div>
    <!-- END : MODAL LOGIN-->
    <div id="myForgot" tabindex="-1" role="dialog" aria-labelledby="myForgot" class="modal fade myPopup">
      <div role="document" class="modal-dialog">
        <div class="modal-content"><span data-dismiss="modal" aria-label="Close" aria-hidden="true" class="close">&times;</span>
          <div class="md-head">Reset Password</div>
          <div class="modal-body">
            <div class="social-button sc-email">
              <form class="frm-forgot">
                <div class="desc">Enter the email address associated with your account, and we'll email you a link to reset your password.</div>
                <div class="itm-ipt">
                  <input type="email" placeholder="Email Address" class="ipt"><i class="fa fa-envelope-o"></i>
                </div>
                <button class="btn btn-red">Send Reset Link</button>
              </form>
            </div>
            <div class="blk-redir t-r">Back to <a href="#" data-toggle="modal" data-target="#mySignUp" data-dismiss="modal">Login</a></div>
          </div>
        </div>
      </div>
    </div>
    <!-- END : MODAL FORFOT PASSWORD-->
    <script src="js/libs.js"></script>
    <script src="js/libs/jquery-ui.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/start.js"></script>
    <!-- ALLPAGE JS-->
    <script src="js/actions/allpage.js"></script>
    <!-- HOMEPAGE JS-->
    <!-- CATPAGE JS-->
    <!-- LOCATION LIST JS-->
    <!-- LOCATION DETAIL JS-->
    <!-- PROFILE JS-->
    <!-- LIST YOUR PAGE JS-->
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="js/actions/listspace.js"></script>
  </body>
</html>
