section.home-offer.about-offer
    .container
        section.about-desc
            | Whether an apartment for a night, a castle for a week, or a villa for a month, Zonpace connects people to unique space renting experiences, at any price point, in more than 191 cities in America. And with world-class customer service and a growing community of users, Zonpace is the easiest way for people to monetize their extra space and showcase it to an audience of millions.
        // END : DESC
        section.about-case
            .row
                section.offer-itm.col-md-4.col-sm-4.col-xs-6
                    a(href="#")
                        figure.zone-img(style="background-image: url(uploads/fig_location.png);")
                        h3.offer-ttl Vacant Lands  
                        .desc Thank you so much, our big land was rented out only within a few days and produced a lot of interest from potential customers.      
                // END : ITM
                section.offer-itm.col-md-4.col-sm-4.col-xs-6
                    a(href="#")
                        figure.zone-img(style="background-image: url(uploads/fig_house.png);")
                        h3.offer-ttl Spaces Attached To Property    
                        .desc Thank you so much, our big land was rented out only within a few days and produced a lot of interest from potential customers.  
                // END : ITM
                section.offer-itm.col-md-4.col-sm-4.col-xs-6
                    a(href="#")
                        figure.zone-img(style="background-image: url(uploads/fig_build.png);")
                        h3.offer-ttl Event Places   
                        .desc Thank you so much, our big land was rented out only within a few days and produced a lot of interest from potential customers.     
                // END : ITM
        // END : CASE