section.blk-list-space
    header.header-list-space
        .container
            h2
                i.fa.fa-edit
                | List Your Space
            .desc You are a couple of minutes away from joining over 20,000 people across the UK who are making money by renting out their leasing space, driveway or garage. Just fill in the details below to register your space.
    // END : HEADER
    section.space-details
        .container
            .steps
                ul
                    li
                        a(href="list-space-step1.html")
                            span 1
                            span About your space
                    li
                        a(href="list-space-step2.html")
                            span 2
                            span Photos
                    li.active
                        a(href="list-space-step3.html")
                            span 3
                            span Availability
            // END : STEPs
            form(class="list-form dropzone")
                include step-3.jade
                // END : STEP 3
    // END : DETAIL
