.step-1
    .details
        .detail.location.clearfix
            .detail-label
                label(for="address_1")
                    i.fa.fa-map-marker
                    | Location
            .detail-inputs
                .inputs.location.clearfix
                    .street.add-tick
                        input(type="text", placeholder="Street name…", required="required", name="address_1")
                        i.fa.fa-check
                    .town
                        .pop-to-front
                            input(type="text", placeholder="Town or City…", required="required", name="city")
                            i.fa.fa-check
                    .postcode
                        input(type="text", placeholder="Postcode…", required="required", name="postcode")
                        i.fa.fa-check
                    .submit-location
                        a(href="#", id="map-find") Find on map
                .space-map
                    .inner
                        #location_map(data-lat="-34.397", data-lng="150.644")
        // END : ITM
        .detail.description.clearfix
            .detail-label
                label(for="description")
                    i.fa.fa-pencil
                    | Description
            .detail-inputs
                textarea(placeholder="Please enter a description of your space, including its location, nearby landmarks or stations, and details about the type of space (driveway, underground leasing, lock-up garage etc)", id="description" ,required="required", name="description", cols="50" rows="10" aria-required="true")
                i.fa.fa-check
        // END : ITM
        .detail.type-of-rental.clearfix
            .detail-label
                label(for="rentalType")
                    i.fa.fa-cogs
                    | Type of rental
            .detail-inputs
                .inputs
                    .input
                        label.fake-button.add-tick
                            input(data-no-style="data-no-style", data-rental-type="daily", name="rental_type[daily]", type="checkbox", value="daily_rental" ,aria-invalid="false")
                            .actual-label
                                i.fa.fa-calendar
                                | Daily
                                i.fa.fa-check
                    // END
                    .input
                        label.fake-button.add-tick
                            input(data-no-style="data-no-style", data-rental-type="monthly", name="rental_type[monthly]", type="checkbox", value="monthly_rental" ,aria-invalid="false")
                            .actual-label
                                i.fa.fa-calendar-o
                                | Monthly (long term)
                                i.fa.fa-check
                    // END
                    .input
                        .rental-tooltip
                            i(class="fa fa-info-circle", data-toggle="tooltip", data-placement="bottom", title="", data-original-title="A monthly rental is recommended in most instances, especially if a key fob is required to access your space, but if you’re located near a stadium, event or airport then we’d recommend opting for a daily rental. You can also opt for both.")
                    // END
        // END : ITM
        .detail.pricing.clearfix
            .detail-label
                label(for="spaces")
                    i.fa.fa-tag
                    | No. of Spaces
            .detail-inputs
                .inputs
                    .input
                        .select
                            select(id="spaces", name="available_spaces")
                                option(value="0") Number of spaces…
                                option(value="1") 1
                                option(value="2") 2
                                option(value="3") 3
                                option(value="4") 4
                                option(value="5") 5
                                option(value="6") 6
                                option(value="7") 7
                                option(value="8") 8
                                option(value="9") 9
                                option(value="10") 10
                                option(value="11") 11
                                option(value="12") 12
                                option(value="13") 13
                                option(value="14") 14
                                option(value="15") 15
                                option(value="16") 16
                                option(value="17") 17
                                option(value="18") 18
                                option(value="19") 19
                                option(value="20") 20
                                option(value="21") 21
                                option(value="22") 22
                                option(value="23") 23
                                option(value="24") 24
                                option(value="25") 25
                                option(value="26") 26
                                option(value="27") 27
                                option(value="28") 28
                                option(value="29") 29
                                option(value="30") 30
                                option(value="31") 31
                                option(value="32") 32
                                option(value="33") 33
                                option(value="34") 34
                                option(value="35") 35
                                option(value="36") 36
                                option(value="37") 37
                                option(value="38") 38
                                option(value="39") 39
                                option(value="40") 40
                                option(value="41") 41
                                option(value="42") 42
                                option(value="43") 43
                                option(value="44") 44
                                option(value="45") 45
                                option(value="46") 46
                                option(value="47") 47
                                option(value="48") 48
                                option(value="49") 49
                                option(value="50") 50
                                option(value="51") 51
                                option(value="52") 52
                                option(value="53") 53
                                option(value="54") 54
                                option(value="55") 55
                                option(value="56") 56
                                option(value="57") 57
                                option(value="58") 58
                                option(value="59") 59
                                option(value="60") 60
                                option(value="61") 61
                                option(value="62") 62
                                option(value="63") 63
                                option(value="64") 64
                                option(value="65") 65
                                option(value="66") 66
                                option(value="67") 67
                                option(value="68") 68
                                option(value="69") 69
                                option(value="70") 70
                                option(value="71") 71
                                option(value="72") 72
                                option(value="73") 73
                                option(value="74") 74
                                option(value="75") 75
                                option(value="76") 76
                                option(value="77") 77
                                option(value="78") 78
                                option(value="79") 79
                                option(value="80") 80
                                option(value="81") 81
                                option(value="82") 82
                                option(value="83") 83
                                option(value="84") 84
                                option(value="85") 85
                                option(value="86") 86
                                option(value="87") 87
                                option(value="88") 88
                                option(value="89") 89
                                option(value="90") 90
                                option(value="91") 91
                                option(value="92") 92
                                option(value="93") 93
                                option(value="94") 94
                                option(value="95") 95
                                option(value="96") 96
                                option(value="97") 97
                                option(value="98") 98
                                option(value="99") 99
                                option(value="100") 100
            .price-block.clearfix(data-type="daily")
                .detail-label
                    label(for="spaces")
                        i.fa.fa-tag
                        | Price Per Hour (optional)
                .detail-inputs
                    .inputs
                        .input.price
                            .currency £
                            input(placeholder="Price Per Hour…" ,name="price_hourly", type="text")
                            i.fa.fa-check
            // END
            .price-block.clearfix(data-type="daily")
                .detail-label
                    label(for="spaces")
                        i.fa.fa-tag
                        | Price Per Day
                .detail-inputs
                    .inputs
                        .input.price
                            .currency £
                            input(placeholder="Price Per Day..." ,name="price_hourly", type="text")
                            i.fa.fa-check
            // END
            .price-block.clearfix(data-type="monthly")
                .detail-label
                    label(for="spaces")
                        i.fa.fa-tag
                        | Price Per Month
                .detail-inputs
                    .inputs
                        .input.price
                            .currency £
                            input(placeholder="Price Per Month…" ,name="price_monthly", type="text")
                            i.fa.fa-check
            // END
        // END : ITM
        .detail.features.clearfix
            .detail-label
                label(for="features[]")
                    i.fa.fa-list-ul
                    | Features
            .detail-inputs
                .inputs
                    .input
                        label.fake-button.add-tick
                            input(name="space_feature[twentyfour_hours_access]", type="checkbox", value="1" ,aria-invalid="false")
                            .actual-label
                                | 24/7 Access
                                i.fa.fa-check
                    // END
                    .input
                        label.fake-button.add-tick
                            input(name="space_feature[sheltered_parking]", type="checkbox", value="1" ,aria-invalid="false")
                            .actual-label
                                | Sheltered Leasing
                                i.fa.fa-check
                    // END
                    .input
                        label.fake-button.add-tick
                            input(name="space_feature[security_gates]", type="checkbox", value="1" ,aria-invalid="false")
                            .actual-label
                                | Security Gates
                                i.fa.fa-check
                    // END
                    .input
                        label.fake-button.add-tick
                            input(name="space_feature[arranged_transfer]", type="checkbox", value="1" ,aria-invalid="false")
                            .actual-label
                                | Arranged Transfer
                                i.fa.fa-check
                    // END
                    .input
                        label.fake-button.add-tick
                            input(name="space_feature[allocated_space]", type="checkbox", value="1" ,aria-invalid="false")
                            .actual-label
                                | Allocated Space
                                i.fa.fa-check
                    // END
                    .input
                        label.fake-button.add-tick
                            input(name="space_feature[car_wash]", type="checkbox", value="1" ,aria-invalid="false")
                            .actual-label
                                | Car Wash
                                i.fa.fa-check
                    // END
                    .input
                        label.fake-button.add-tick
                            input(name="space_feature[cctv]", type="checkbox", value="1" ,aria-invalid="false")
                            .actual-label
                                | CCTV
                                i.fa.fa-check
                    // END
                    .input
                        label.fake-button.add-tick
                            input(name="space_feature[security_lighting]", type="checkbox", value="1" ,aria-invalid="false")
                            .actual-label
                                | Security Lighting
                                i.fa.fa-check
                    // END
                    .input
                        label.fake-button.add-tick
                            input(name="space_feature[security_guards]", type="checkbox", value="1" ,aria-invalid="false")
                            .actual-label
                                | Security Guards
                                i.fa.fa-check
                    // END
                    .input
                        label.fake-button.add-tick
                            input(name="space_feature[security_key]", type="checkbox", value="1" ,aria-invalid="false")
                            .actual-label
                                | Security Key
                                i.fa.fa-check
                    // END
                    .input
                        label.fake-button.add-tick
                            input(name="space_feature[underground_parking]", type="checkbox", value="1" ,aria-invalid="false")
                            .actual-label
                                | Underground Leasing
                                i.fa.fa-check
                    // END
                    .input
                        label.fake-button.add-tick
                            input(name="space_feature[restrooms]", type="checkbox", value="1" ,aria-invalid="false")
                            .actual-label
                                | Restrooms
                                i.fa.fa-check
                    // END
        // END : ITM
        .detail.post-booking-instructions.clearfix
            .detail-label
                label(for="post_booking_info")
                    i.fa.fa-pencil
                    | Post-booking instructions
                    .rental-tooltip
                        i(class="fa fa-info-circle", data-toggle="tooltip", data-placement="bottom", title="", data-original-title="Your address will not be made public on the website, and will only be given to paying customers")
            .detail-inputs
                textarea(placeholder="Please provide the full address of the leasing space along with any additional details required to access the space (e.g. contact details for collecting a permit, key fob etc).)", id="post_booking_info" ,required="required", name="description", cols="50" rows="10" aria-required="true")
                i.fa.fa-check
        // END : ITM
    .next
        .t-r
            input(type="submit", value="Next", class="btn btn-red")
