section.blk-category-wrap
    header.blk-cat-title(style="background-image: url('uploads/banner/los-angeles.jpg')")
        .container
            i.ico
            h2 Los Angeles
    // END : TITLE
    include blk-grid-category.jade
    // END : GRID CATE
    include blk-map.jade
    // END : MAPs
