//- Modal SIgn Up
.modal.fade(id="mySignUp", class="myPopup" ,tabindex="-1" ,role="dialog", aria-labelledby="mySignUp")
    .modal-dialog(role="document")
        .modal-content
            span(class="close", data-dismiss="modal" ,aria-label="Close" ,aria-hidden="true") &times;
            .modal-body
                .social-button
                    a(href="#", class="facebook")
                        i.fa.fa-facebook
                        span Sign up with Facebook
                    a(href="#", class="google")
                        i.ico-google
                        span Sign up with Google
                .sepe 
                    span or
                .social-button.sc-email
                    a(class="email btn btn-red", data-dismiss="modal", data-toggle="modal", data-target="#mySignUpEmail")
                        i.fa.fa-envelope-o
                        span Sign up with Email
                .terms By signing up, I agree to Zonepace's 
                    a(href="#") Terms of Service
                    | , 
                    a(href="#") Privacy Policy
                    | , 
                    a(href="#") Guest Refund Policy
                    | , and 
                    a(href="#") Host Guarantee Terms.
                .blk-redir
                    | Already an Zonepace member? 
                    a(href="#", data-toggle="modal", data-target="#myLogin", data-dismiss="modal") Log in