//- Modal SIgn Up
.modal.fade(id="myForgot", class="myPopup" ,tabindex="-1" ,role="dialog", aria-labelledby="myForgot")
    .modal-dialog(role="document")
        .modal-content
            span(class="close", data-dismiss="modal" ,aria-label="Close" ,aria-hidden="true") &times;
            .md-head
                | Reset Password
            .modal-body
                .social-button.sc-email
                    form(class="frm-forgot")
                        .desc Enter the email address associated with your account, and we'll email you a link to reset your password.
                        .itm-ipt
                            input(type="email", class="ipt", placeholder="Email Address")
                            i.fa.fa-envelope-o
                        button(class="btn btn-red") Send Reset Link
                .blk-redir.t-r
                    | Back to 
                    a(href="#", data-toggle="modal", data-target="#mySignUp", data-dismiss="modal") Login