{% extends 'AppBundle::layout.html.twig' %}
{% block content %}


    <section class="main-container">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-8 col-lg-offset-1 col-md-push-4 col-lg-push-3">

                </div>

                <!-- sidebar start -->
                {% include 'AppBundle:User:_nav.html.twig' %}
               

            </div>
        </div>
    </section>

{% endblock %}