section.profile-content.col-md-9.col-sm-8.col-xs-12
    h2.prof-ttl-page
        i.fa.fa-calendar
        | My Bookings
    .prof-content
        p
            strong Recent Bookings
        p.prof-sts
            a(href="#", class="btn btn-lred") 0 Active
            a(href="#", class="btn btn-red") 0 Complete
        .table-responsive
            table.table.table-striped.table-bordered.table-hover
                tr
                    th Customer
                    th From
                    th To
                    th Status
                    th Vehicle Reg
                    th Price