section.profile-content.col-md-9.col-sm-8.col-xs-12
    h2.prof-ttl-page
        i.fa.fa-list-ul
        | My Listings
    .prof-content
        .row
            section.list-avt.col-md-4.col-sm-12.col-xs-12
                figure.avt(style="background-image: url('uploads/ava_1.jpg')")
            // END : AVATAR
            section.list-info.col-md-8.col-sm-12.col-xs-12
                .row
                    section.col-md-8.col-sm-8.col-xs-8.info-left
                        h3 Leasing on 85 Yersin.
                        .add 85 Yersin, nha trang, 650000
                        .info-sts
                            span.btn.btn-blue Active
                            span.btn 
                                b Daily Price 
                                | £5.00 
                    // END : LEFT
                    section.col-md-4.col-sm-4.col-xs-4.info-right
                        a(href='#', class="btn btn-red t-c") Edit
                        a(href='#', class="btn btn-red t-c") Availability
                        a(href='#', class="btn btn-red t-c") Picture(0)
                        a(href='#', class="btn btn-red t-c") Disable
                        a(href='#', class="btn btn-red t-c") View Space
                    // END : LEFT
            // END : INFO