/**
 * CSS FORM
 */
.slect, .ipt {
	width: 100%;
	padding: 0px 10px;
	.border-radius(5px);
	outline: none;
	height: 40px;
	line-height: 40px;
	border: 1px solid transparent;
}
.ipt {
	color: #575757;
	.transition(all 0.2s ease);
	&:focus {
		border-color: #999;
	}
}
.btn {
	.border-radius(5px);
	.transition(all 0.2s ease);
	&.btn-red {
		background-color: @red;
		padding-top: 0;
		padding-bottom: 0;
		text-align: center;
		color: #fff;
		height: 40px;
		line-height: 40px;
		color: #fff;
		font-weight: 700;
		&:hover {
			background-color: darken(@red, 10%)
		}
	}
	&.w100 {
		width: 100%;
	}
}
.ftable {
	width: 100%;
	display: table;
}
.ftr {
    display: table-row;
}
.ftd {
	display: table-cell;
}
.txt {
	border: 1px solid #ccc;
	.border-radius(5px);
	resize: none;
	min-height: 100px;
	padding: 10px;
	.transition(all 0.3s ease);
	width: 100%;
	outline: none;
	&:focus {
		border-color: #999;
	}
}