/**
 * CSS HEADER
 */
.header {
	height: 60px;
}
.header-wrap {
	position: relative;
	z-index: 50;
	background-color: #f7f7f7;
	height: 60px;
	.box-shadow(1px 0 5px rgba(0,0,0,0.5));
	.header-logo {
		h1 {
			margin-bottom: 0;
			a {
				display: block;
			}
		}
		img {
			width: 190px;
			margin-top: 3px;
		}
		span {
			color: @red;
			text-transform: uppercase;
			border-left: 1px solid @red;
			margin-left: 15px;
			padding-left: 15px;
			font-size: 16px;
		}
	}
}
.header-wrap {
	.header-menu {
		> ul {
			float: right;
			margin-top: 14px;
		}
		.menu > li {
			float: left;
			margin-right: 20px;
			height: 46px;
			&:last-child {
				margin-right: 0;
			}
			> a {
				display: block;
				background-color: transparent;
				.border-radius(5px);
				text-transform: uppercase;
				padding: 5px 20px;
				&:hover {
					color: #fff;
					background-color: darken(@red, 10%);
				}
			}
			&.active {
				a {
					color: #fff;
					background-color: @red;
				}
			}
		}
	}
}
.header-wrap {
	&.hd-fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}
	.a_menu {
		color: @red;
		font-size: 24px;
		position: absolute;
		top: 10px;
		left: 15px;
		display: none;
		.transition(all 0.3s ease);
		&:hover {
			color: darken(@red, 10%);
		}
	}
}


/* HOVER TOP HEADER */
.hover-help-blk {
	position: relative;
	.help-blk {
		position: absolute;
		top: 46px;
		right: 0;
		background-color: #fff;
		width: 480px;
		.box-shadow(0px 2px 10px rgba(0, 0, 0, 0.3));
		.border-radiuses (0px, 3px, 3px, 0px);
		display: none;
		&:before, &:after {
			content: '';
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 10px 10px 10px;
			border-color: transparent transparent #fff transparent;
		}
		&:before {
			top: -10px; 
			right: 26px;
			z-index: 1;
		}
		&:after {
			top: -11px; 
			right: 26px;
			z-index: 0;
			border-color: transparent transparent #ccc transparent;
		}
	}
}

.help-blk {
	.help-search {
		height: 50px;
		padding: 0 20px;
		position: relative;
		border-bottom: 1px solid #ddd;
		i.fa {
			font-size: 24px;
			color: #ccc;
			position: absolute;
			top: 11px;
    		left: 13px;
		}
		.ipt {
			padding-left: 30px;
			font-size: 16px;
			height: 50px;
			&:focus {
				border: 1px solid transparent;
			}
		}
	}
	.help-link {
		padding: 10px 20px;
		border-top: 1px solid #ddd;
		a {
			color: @red;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.help-result-list {
	height: 360px;
	overflow: hidden;
	position: relative;
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 40px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,ffffff+100&0+0,1+99 */
		background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.01) 1%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 1%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 1%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		
	}
	.help-r-l-ct {
		max-height: 345px;
		overflow: hidden;
		overflow-y: auto;
		> label {
			display: block;
		 	background-color: #eee;
		 	padding: 10px 20px;
		}
		ul {
			padding: 0 20px;
			li {
				padding: 10px 0;
				border-bottom: 1px solid #ddd;
				a {
					display: block;
					.clearfix();
					font-size: 14px;
					line-height: 1.4;
					position: relative;
					&:hover {
						i {
							color: #999;
						}
					}
					i, span {
						display: inline-block;
						vertical-align: middle;
					}
					span {
						width: 90%;
					}
				}
				i {
					color: #ccc;
					font-size: 24px;
					margin-right: 15px;
				}
			}
		}
	}
}