header.header-wrap
    .container-fluid
        .row
            section.header-logo.col-xs-6
                h1.logo
                    a(href="#", title="Zone & Pace Rentals")
                        img(src="images/logo.png", alt="")
            // END : LOGO
            section.header-menu.col-xs-6
                ul.menu.clearfix
                    li.active
                        a(href="#") Lease My Space
                    li
                        a(href="#") Home
                    li
                        a(href="#") How It Works
                    li
                        a(href="#") Help
                    li
                        a(href="#") Log In / Sign Up
            // END : LOGO