header.header
    .header-wrap
        .container
            .row
                section.header-logo.col-md-5.col-sm-4.col-xs-12
                    a(href="javascript:;", class="a_menu")
                        i.fa.fa-bars
                    h1.logo
                        a(href="index.html", title="Zone & Pace Rentals")
                            img(src="images/zonpace-logo.png", alt="")
                            span zone & space rentals
                // END : LOGO
                section.header-menu.col-md-7.col-sm-8.col-xs-12
                    ul.menu.clearfix
                        li.active
                            a(href="#") become a host
                        li.hover-help-blk
                            a(href="#") Help
                            include ../blocks/topheader/help-blk.jade
                        li.blk-has-login
                            a(href="#")
                                figure.user-avt
                                    img(src="uploads/ava_1.jpg", alt="")
                                .user-name zonepace admin
                // END : LOGO
