script(src="js/libs.js")
script(src="js/libs/jquery-ui.min.js")
script(src="js/plugins.js")
script(src="js/start.js")

// ALLPAGE JS
script(src="js/actions/allpage.js")

// HOMEPAGE JS
if(homejs == true) 
    script(src="js/actions/homepage.js")