section.detai-location-path
    .container
        .row
            section.col-xs-6.path-left
                span.path-icon
                    i.fa.fa-map-marker
                span.path-info
                    h2 Parking on Watson St, M3
                    h3 £25.00 per day
            // END : LEFT
            section.col-xs-6.path-right
                a(href="#", class="view-map active")
                    i.fa.fa-map-marker
                    | Map view
                a(href="#", class="view-street", data-lat="10.8028983", data-lng="106.6794993")
                    i.fa.fa-arrows
                    | Street view
                a(class="view-gallery")
                    i.fa.fa-camera
                    | Photos (4)
                    // GALLERY HIDE
            // END : RIGHT
