section.detail-content-wrap
    .container
        .row
            section.col-md-4.col-sm-4.col-xs-12.detail-itm
                h2 Description & Features
                .desc Parking in the Great Northern Warehouse in Manchester available. Located within the entertainment complex so ideal for visitors or someone working in the area. 6 minutes from Deansgate station. 24/7 access from Monday to Sunday. Parking available for hourly, daily and long-term rentals.
                .timing
                    i.fa.fa-clock-o
                    | 24/7 Access
                .button-comment
                    a(class="btn btn-red w100" , data-toggle="modal", data-target="#myModalComment") Have a question about this space?
            // END : ITM
            section.col-md-4.col-sm-4.col-xs-12.detail-itm
                .blk-inner
                    h2 How It Works
                    .desc This car park uses number plate recognition technology. On arrival at the car park your number plate will be automatically recognised and you'll be issued a ticket.
                    .guarantee
                        .blue-box
                            img(src="uploads/guarantee.png", alt="")
                            p You’re always protected when you book with YourParkingSpace.
                            a(href="#") View our booking guarantee
                // END: BLK
                .blk-inner
                    h2 Our Cancellation Policy
                    .desc Your short term booking is fully refundable up to 24 hours before the start of your reservation.
                // END: BLK
                .blk-inner
                    h2 Rental Terms
                    .desc Rolling 30-day agreement with the first month's rent taken up-front along with one month's rent as a deposit.  
                        a(href="#") Why is there a deposit?
                // END: BLK
            // END : ITM
            section.col-md-4.col-sm-4.col-xs-12.detail-itm
                .access-times
                    h3 Access Times
                    table
                        tr
                            th Day
                            th Access Times
                        tr
                            td Mon
                            td 24 Hours
                        tr
                            td Tue
                            td 24 Hours
                        tr
                            td Wed
                            td 24 Hours
                        tr
                            td Thur
                            td 24 Hours
                        tr
                            td Fri
                            td 24 Hours
                        tr
                            td Sat
                            td 24 Hours
                        tr
                            td Sun
                            td 24 Hours
            // END : ITM
