section.detail-comment
    .container
        h2 Space Reviews 
            span 2
        ul.cm-list.clearfix
            li.single-review
                .review.clearfix
                    .review_meta
                        .name Chris
                        .date 18 Feb 2016
                        .rating
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                    .review_content Very close to Birmingham Hippodrome, we used this car park while going for a concert there.
            // END : ITM
            li.single-review
                .review.clearfix
                    .review_meta
                        .name John
                        .date 21 Feb 2016
                        .rating
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                    .review_content Great parking location as just next to Birmingham New Street train station. No issues getting in and out. The scanner entry is convenient and stress free
            // END : ITM