section.detai-location-path
    .container
        .row
            section.col-xs-6.path-left
                span.path-icon
                    i.fa.fa-map-marker
                span.path-info
                    h2 Parking on Watson St, M3
                    h3 £25.00 per day
            // END : LEFT
            section.col-xs-6.path-right
                a(href="#", class="view-map active")
                    i.fa.fa-map-marker
                    | Map view
                a(href="#", class="view-street")
                    i.fa.fa-arrows
                    | Street view
            // END : RIGHT