//- Modal SIgn Up
.modal.fade(id="myGuard", tabindex="-1" ,role="dialog", aria-labelledby="myGuard")
    .modal-dialog(role="document")
        .modal-content
            span(class="close", data-dismiss="modal" ,aria-label="Close" ,aria-hidden="true") &times;
            .modal-body
                .m-header
                    img(src="uploads/guarantee.png", alt="")
                    h3 YourParkingSpace Booking Guarantee
                .m-body
                    p We value all our customers which is why every booking is covered by our booking guarantee. Our goal is to match you up with a parking space that you’re happy with, whether you’re renting it for one hour or many months.
                    p So in the unlikely event that there’s a problem with the parking space you’ve booked, just let us know within 48 hours and we’ll provide you with a full refund. Please provide all the details that you can, including any correspondence with the owner and/or photographic evidence.
                    p Please note that we cannot cover the cost of alternative transport or any parking or towing charges. However, we can refund the full cost of the parking space. We only want our customers booking and paying for parking spaces that they’re happy with!
                    p.t-c
                        a(href="#", data-dismiss="modal", class="btn btn-red uppercase") got it