.tab-pane.active#short-term
    h3.ct-tab-ttl Parking on Clos Dewi Sant, CF11 Cardiff
    .tab-pricing
        strong £5.50 
        | per day
    form(class='frm-short-term')
        .inputs.border-bottom.clearfix
            .input
                label(for="start_date") Arrival Date
                .input-with-icon
                    i.fa.fa-calendar
                    input(type="text", class="ipt-date date-now", name="start_date")
            .input
                label(for="arrival_time") Arrival Time
                .input-with-icon
                    i.fa.fa-clock-o
                    select(required="", name="arrival_time" ,aria-required="true")
                        option(selected="")
                        option(value="00:00") 00:00 AM
                        option(value="00:30") 00:30 AM
                        option(value="01:00") 01:00 AM
                        option(value="01:30") 01:30 AM
                        option(value="02:00") 02:00 AM
                        option(value="02:30") 02:30 AM
                        option(value="03:00") 03:00 AM
                        option(value="03:30") 03:30 AM
                        option(value="04:00") 04:00 AM
                        option(value="04:30") 04:30 AM
                        option(value="05:00") 05:00 AM
                        option(value="05:30") 05:30 AM
                        option(value="06:00") 06:00 AM
                        option(value="06:30") 06:30 AM
                        option(value="07:00") 07:00 AM
                        option(value="07:30") 07:30 AM
                        option(value="08:00") 08:00 AM
                        option(value="08:30") 08:30 AM
                        option(value="09:00") 09:00 AM
                        option(value="09:30") 09:30 AM
                        option(value="10:00") 10:00 AM
                        option(value="10:30") 10:30 AM
                        option(value="11:00") 11:00 AM
                        option(value="11:30") 11:30 AM
                        option(value="12:00") 12:00 PM
                        option(value="12:30") 12:30 PM
                        option(value="13:00") 13:00 PM
                        option(value="13:30") 13:30 PM
                        option(value="14:00") 14:00 PM
                        option(value="14:30") 14:30 PM
                        option(value="15:00") 15:00 PM
                        option(value="15:30") 15:30 PM
                        option(value="16:00") 16:00 PM
                        option(value="16:30") 16:30 PM
                        option(value="17:00") 17:00 PM
                        option(value="17:30") 17:30 PM
                        option(value="18:00") 18:00 PM
                        option(value="18:30") 18:30 PM
                        option(value="19:00") 19:00 PM
                        option(value="19:30") 19:30 PM
                        option(value="20:00") 20:00 PM
                        option(value="20:30") 20:30 PM
                        option(value="21:00") 21:00 PM
                        option(value="21:30") 21:30 PM
                        option(value="22:00") 22:00 PM
                        option(value="22:30") 22:30 PM
                        option(value="23:00") 23:00 PM
                        option(value="23:30") 23:30 PM
        // END : ITM
        .inputs.border-bottom.clearfix
            .input
                label(for="end_date") Departure Date
                .input-with-icon
                    i.fa.fa-calendar
                    input(type="text", class="ipt-date date-now", name="end_date")
            .input
                label(for="end_time") Departure Time
                .input-with-icon
                    i.fa.fa-clock-o
                    select(required="", name="end_time" ,aria-required="true")
                        option(selected="")
                        option(value="00:00") 00:00 AM
                        option(value="00:30") 00:30 AM
                        option(value="01:00") 01:00 AM
                        option(value="01:30") 01:30 AM
                        option(value="02:00") 02:00 AM
                        option(value="02:30") 02:30 AM
                        option(value="03:00") 03:00 AM
                        option(value="03:30") 03:30 AM
                        option(value="04:00") 04:00 AM
                        option(value="04:30") 04:30 AM
                        option(value="05:00") 05:00 AM
                        option(value="05:30") 05:30 AM
                        option(value="06:00") 06:00 AM
                        option(value="06:30") 06:30 AM
                        option(value="07:00") 07:00 AM
                        option(value="07:30") 07:30 AM
                        option(value="08:00") 08:00 AM
                        option(value="08:30") 08:30 AM
                        option(value="09:00") 09:00 AM
                        option(value="09:30") 09:30 AM
                        option(value="10:00") 10:00 AM
                        option(value="10:30") 10:30 AM
                        option(value="11:00") 11:00 AM
                        option(value="11:30") 11:30 AM
                        option(value="12:00") 12:00 PM
                        option(value="12:30") 12:30 PM
                        option(value="13:00") 13:00 PM
                        option(value="13:30") 13:30 PM
                        option(value="14:00") 14:00 PM
                        option(value="14:30") 14:30 PM
                        option(value="15:00") 15:00 PM
                        option(value="15:30") 15:30 PM
                        option(value="16:00") 16:00 PM
                        option(value="16:30") 16:30 PM
                        option(value="17:00") 17:00 PM
                        option(value="17:30") 17:30 PM
                        option(value="18:00") 18:00 PM
                        option(value="18:30") 18:30 PM
                        option(value="19:00") 19:00 PM
                        option(value="19:30") 19:30 PM
                        option(value="20:00") 20:00 PM
                        option(value="20:30") 20:30 PM
                        option(value="21:00") 21:00 PM
                        option(value="21:30") 21:30 PM
                        option(value="22:00") 22:00 PM
                        option(value="22:30") 22:30 PM
                        option(value="23:00") 23:00 PM
                        option(value="23:30") 23:30 PM
        // END : ITM
        .footer
            ul.features.clearfix
                li.available
                    i.fa.fa-check
                    | Space available
                li.instant
                    i.fa.fa-bolt
                    | Instant book
            .button
                .button-inner
                    input(type="submit", value="Check Price", class="btn btn-red")
        // END : FOOTER
        .enquire
            i.fa.fa-question-circle
            |  Have a question before booking?
            a(href="#", data-toggle="modal", data-target="#myModalComment") Get in touch
