<section class="blk-contact blk-white">
    <div class="container">
        <h2 class="blk-ttl">CONTACT US</h2>
        <div class="row">
            <section class="col-xs-6">
                <h2 class="contact-ttl">Headquarter</h2>
                <div class="ctact-info">
                    <p class="bold">5870 West Jefferson Blvd, Los Angeles, CA 90016</p>
                    <p>Building JKF 91, Studio A</p>
                </div>
                <!-- END -->
                <div class="ctact-info">
                    <p>+ 1650-123-4567</p>
                    <p>info@zonpace.com</p>
                </div>
                <!-- END -->
                <div class="ctact-info">
                    <p>592 Sunset Blvd, Los Angeles, CA 90016</p>
                    <p>Building JKF 91, Studio A</p>
                </div>
                <!-- END -->
                <div class="ctact-info">
                    <p>+ 1650-123-4567</p>
                    <p>info@zonpace.com</p>
                </div>
                <!-- END -->
            </section>
            <!-- END : COL-->
            <section class="col-xs-6">
                <h2 class="contact-ttl">Send us an email</h2>
                <form name="frm-contact" class="frm-contact" method="post" action="{{ path('app_front_contact',{'url':url|url_encode}) }}">
                    <div class="frow row">
                        <section class="col-xs-6">
                            <label for="ipt-firstname">First Name</label>
                            <input type="text" required="required" name="firstName" id="ipt-firstname" placeholder="First Name" class="ipt">
                        </section>
                        <!-- END -->
                        <section class="col-xs-6">
                            <label for="ipt-lastname">Last Name</label>
                            <input type="text" required="required" name="lastName" id="ipt-lastname" placeholder="Last Name" class="ipt">
                        </section>
                        <!-- END -->
                    </div>
                    <!-- END : ITM-->
                    <div class="frow">
                        <label for="ipt-title">Title<span>50 characters left</span></label>
                        <input type="text" required="required" name="title" id="ipt-title" placeholder="Title" class="ipt">
                    </div>
                    <!-- END : ITM-->
                    <div class="frow">
                        <label for="ipt-message">Message<span>500 characters left</span></label>
                        <textarea name="message" required="required" id="ipt-message" placeholder="Message" class="txt"></textarea>
                    </div>
                    <!-- END : ITM-->
                    <div class="frow">
                        <input type="submit" value="Send" class="btn btn-red">
                    </div>
                    <!-- END : ITM-->
                </form>
            </section>
            <!-- END : COL-->
        </div>
    </div>
</section>