{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <div class="news_press_wrapper">
        <div class="news_press col-md-12">
            <h2>IN THE NEWS</h2>
            <div class="news_wrapper col-md-12">
                <div class="col-md-4">
                    <img src="{{asset('bundles/app/main/images/LAT.png')}}" />
                    <div>Dec 14th, 2016</div>
                </div>
                <div class="col-md-8">
                    <a href=""><h4>How Zonpace and Uber are helping American with their outdoor activities</h4></a>
                    <p>This place is awesome! It has everything you wish for; lovely locals neighbourhood,
                        a great host - Supanda who caters everything you need, a cozy and quiet 'home'.
                        This place is awesome! It has everything you wish for; lovely locals neighbourhood,
                        a great host - Supanda who caters everything you need, a cozy and quiet 'home'.</p>
                </div>
            </div>
            <div class="news_wrapper col-md-12">
                <div class="col-md-4">
                    <img src="{{asset('bundles/app/main/images/confused.png')}}" />
                    <div>Dec 14th, 2016</div>
                </div>
                <div class="col-md-8">
                    <a href=""><h4>Zonpace is changing the rental industry in California</h4></a>
                    <p>This place is awesome! It has everything you wish for; lovely locals neighbourhood,
                        a great host - Supanda who caters everything you need, a cozy and quiet 'home'.
                        This place is awesome! It has everything you wish for; lovely locals neighbourhood,
                        a great host - Supanda who caters everything you need, a cozy and quiet 'home'.</p>
                </div>
            </div>
            <div class="news_wrapper col-md-12">
                <div class="col-md-4">
                    <img src="{{asset('bundles/app/main/images/wired.png')}}" />
                    <div>Dec 14th, 2016</div>
                </div>
                <div class="col-md-8">
                    <a href=""><h4>‘Sharing economy’ is adopting a new perspective</h4></a>
                    <p>This place is awesome! It has everything you wish for; lovely locals neighbourhood,
                        a great host - Supanda who caters everything you need, a cozy and quiet 'home'.
                        This place is awesome! It has everything you wish for; lovely locals neighbourhood,
                        a great host - Supanda who caters everything you need, a cozy and quiet 'home'.</p>
                </div>
            </div>
            <div class="news_wrapper col-md-12">
                <div class="col-md-4">
                    <img src="{{asset('bundles/app/main/images/fastcompany.png')}}" />
                    <div>Dec 14th, 2016</div>
                </div>
                <div class="col-md-8">
                    <a href=""><h4>5 tips for renting out your spare spaces</h4></a>
                    <p>This place is awesome! It has everything you wish for; lovely locals neighbourhood,
                        a great host - Supanda who caters everything you need, a cozy and quiet 'home'.
                        This place is awesome! It has everything you wish for; lovely locals neighbourhood,
                        a great host - Supanda who caters everything you need, a cozy and quiet 'home'.</p>
                </div>
            </div>

        </div>
        <div class="news_press_wrapper col-md-12">
            <h2>PRESS RELEASES</h2>
            <div class="col-md-6">
                <div class="news_wrapper col-md-12">
                    <a href=""><h4>How Zonpace and Uber are helping American with their outdoor activities</h4></a>
                    <p>This place is awesome! It has everything you wish for; lovely locals neighbourhood,
                        a great host - Supanda who caters everything you need, a cozy and quiet 'home'.
                        This place is awesome! It has everything you wish for; lovely locals neighbourhood,
                        a great host - Supanda who caters everything you need, a cozy and quiet 'home'.</p>
                </div>
                <div class="news_wrapper col-md-12">
                    <a href=""><h4>How Zonpace and Uber are helping American with their outdoor activities</h4></a>
                    <p>This place is awesome! It has everything you wish for; lovely locals neighbourhood,
                        a great host - Supanda who caters everything you need, a cozy and quiet 'home'.
                        This place is awesome! It has everything you wish for; lovely locals neighbourhood,
                        a great host - Supanda who caters everything you need, a cozy and quiet 'home'.</p>
                </div>
                <div class="news_wrapper col-md-12">
                    <a href=""><h4>How Zonpace and Uber are helping American with their outdoor activities</h4></a>
                    <p>This place is awesome! It has everything you wish for; lovely locals neighbourhood,
                        a great host - Supanda who caters everything you need, a cozy and quiet 'home'.
                        This place is awesome! It has everything you wish for; lovely locals neighbourhood,
                        a great host - Supanda who caters everything you need, a cozy and quiet 'home'.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="news_wrapper col-md-12">
                    <a href=""><h4>How Zonpace and Uber are helping American with their outdoor activities</h4></a>
                    <p>This place is awesome! It has everything you wish for; lovely locals neighbourhood,
                        a great host - Supanda who caters everything you need, a cozy and quiet 'home'.
                        This place is awesome! It has everything you wish for; lovely locals neighbourhood,
                        a great host - Supanda who caters everything you need, a cozy and quiet 'home'.</p>
                </div>
                <div class="news_wrapper col-md-12">
                    <a href=""><h4>How Zonpace and Uber are helping American with their outdoor activities</h4></a>
                    <p>This place is awesome! It has everything you wish for; lovely locals neighbourhood,
                        a great host - Supanda who caters everything you need, a cozy and quiet 'home'.
                        This place is awesome! It has everything you wish for; lovely locals neighbourhood,
                        a great host - Supanda who caters everything you need, a cozy and quiet 'home'.</p>
                </div>
                <div class="news_wrapper col-md-12">
                    <a href=""><h4>How Zonpace and Uber are helping American with their outdoor activities</h4></a>
                    <p>This place is awesome! It has everything you wish for; lovely locals neighbourhood,
                        a great host - Supanda who caters everything you need, a cozy and quiet 'home'.
                        This place is awesome! It has everything you wish for; lovely locals neighbourhood,
                        a great host - Supanda who caters everything you need, a cozy and quiet 'home'.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}