{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <div class="pp_container">
        <h2>Privacy Policies</h2>

        <div>
            <h3>Introduction</h3>
            <p>
                Lifealike Limited, trading as Zonpace (“we” or “us”) take the privacy of your information very seriously. This policy explains how and for what purposes we use the information collected about you via this site (referred to below as the “Site”). Please read this privacy policy carefully. By using the Site and any services we offer via the Site, you are agreeing to be bound by this policy in respect of the information collected about you via this Site.

                If you have any queries about the policy, please get in touch with us using our contact details and we will do our best to answer your questions.
            </p>

            <h3>Personal information collected</h3>
            <p>
                We will collect the following personal information from you:<br/>
                &nbsp; &nbsp;&#8231; Certain information required to register with the Site including first and last name, your address and date of birth together with some basic security information;<br/>
                &nbsp; &nbsp;&#x2027; Details of any bookings you make through the Site (either through us or through third parties who use the Site as a booking platform);
                &nbsp; &nbsp;&#x2027; Your e-mail address and password; <br/>
                &nbsp; &nbsp;&#x2027; Billing information such as your credit card number and expiry date; <br/>
                &nbsp; &nbsp;&#x2027; Other information you generate as a result of site interactions. <br/>

                Although it is not compulsory to give us this information, if you do not then you cannot register as a member of the Site or make a booking for accommodation with our Hosts.
            </p>


            <h3>Use of this information</h3>
            <p>
                We (or the Zonpace club, or your booking services provider) will use this information in order to:
                administer your booking;
                collect payment of accommodation fees from you on behalf of our Hosts;
                collect payment for any services you obtain while staying in our Hosts’ accommodation;
                make general improvements to our Site and the services we offer;
                analyse how customers are making use of the Site;
                notify you of certain offers and new products (subject to your right to unsubscribe or opt-out).
            </p>

            <h3>Sharing this information</h3>
            <p>
                Credit or debit card payments will be collected by our payment processor.
                In order for payments to be processed you may need to provide some necessary details to our agent. We tell you about this at the point we collect that information on the Site.
                We may transfer your personal information to a third party as part of a sale of some or all of our business and assets to any third party or as part of any business restructuring or reorganisation, but we will take steps with the aim of ensuring that your privacy rights continue to be protected.
                Other than as set out above, we will not disclose any of your personal information without your permission unless we are required by law to do so (for example, if required to do so by a court order or for the purposes of prevention of fraud or other crime).
            </p>

            <h3></h3>
            <p></p>
        </div>
    </div>
{% endblock %}