{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
<section class="main-container">
    <div class="wrapper general_container">
        <div class="col-md-12">
            <div class="map" id="map"></div>
        </div>
    </div>
</section>
{% endblock %}