.help-blk
    .help-ct
        .help-search 
            form
                i.fa.fa-search
                input(type="text", class="ipt ipt-search-help", placeholder="How can we help you?")
        .help-result-list
            .help-r-l-ct
                label Suggested Articles
                ul.h-r-list
                    li
                        a(href="#") 
                            i.fa.fa-file-text-o
                            span Getting Started Guide
                    li
                        a(href="#") 
                            i.fa.fa-file-text-o
                            span Getting Started Guide
                    li
                        a(href="#") 
                            i.fa.fa-file-text-o
                            span Getting Started Guide Getting Started Guide Getting Started Guide Getting Started Guide
                    li
                        a(href="#") 
                            i.fa.fa-file-text-o
                            span Getting Started Guide
                    li
                        a(href="#") 
                            i.fa.fa-file-text-o
                            span Getting Started Guide
                    li
                        a(href="#") 
                            i.fa.fa-file-text-o
                            span Getting Started Guide
                    li
                        a(href="#") 
                            i.fa.fa-file-text-o
                            span Getting Started Guide
                    li
                        a(href="#") 
                            i.fa.fa-file-text-o
                            span Getting Started Guide
                    li
                        a(href="#") 
                            i.fa.fa-file-text-o
                            span Getting Started Guide
        .help-link
            a(href="#") Help center