/**
 * Media 480px-767px
 *
 * description: css rules for screen of new moderm smartphone
 */
@media (max-width: 767px) {
	/* CSS HEADER */
	.header-wrap {
		.header-logo {
			text-align: center;
			img {
				width: 150px;
				margin-top: 7px;
			}
		}
		&.z-ind {
			z-index: 60;
		}
		.header-menu  {
			display: none;
			position: absolute;
			z-index: 10;
			left: 0;
			right: 0;
			top: 100%;
			background-color: #fff;
			border-top: 1px solid #ddd;
			.box-shadow(0px 2px 3px rgba(0, 0, 0, 0.5));
			.menu {
				> li {
					float: none;
					margin-right: 0;
					padding: 7px 0;
					> a {
						display: inline-block;
						font-size: 14px;
					}
					&.blk-has-login {
						a {
							background-color: transparent;
							&:hover {
								background-color: transparent;
							}
						}
					}
				}				
			}
			ul {
				float: none;
				margin-top: 0;
				padding-top: 15px;
				padding-bottom: 15px;
			}
			&.shw {
				display: block;
			}
		}
		.a_menu, .a_search {
			display: block;
		}
	}
	.header-wrap {
		.header-search{
		    position: absolute;
		    display: none;
		    z-index: 20;
		    top: 59px;
		    left: 0;
		    right: 0;
		    margin-left: 0;
		    width: auto;
		    background-color: #eee;
		    text-align: left;
  			height: 60px;
			line-height: 60px;
			button {
				left: 15px;
				top: 17px;
				i {
					font-size: 24px;
				}
			}
			input[type="text"] {
				padding-left: 50px;
				width: 100%;
			}
			.easy-autocomplete {
				width: 100% !important;
			}
			.easy-autocomplete-container {
				ul {
					.box-shadow(0px 2px 5px rgba(0, 0, 0, 0.5));
				}
			}
			&.shw {
				display: block;
			}
		}
	}
	/* CSS FOOTER */
	.footer-wrap {
		.footer-company, .footer-discover {
			margin-bottom: 30px;
		}
	}
	/* CSS BLK PARKING */
	.blk-park-car {
		h2 {
			font-size: 18px;
		}
		&.blk-parking {
			background-size: cover;
		}
	}
	/* CSS PAGE CATEGORY */
	.blk-category-wrap {
		.blk-category {
			margin-bottom: 30px;
		}
		.blk-map {
			height: 350px;
		}
	}
	/* CSS PAGE LOCATION DETAIL */
	.location-wrap {
		.location-map, .location-list {
			width: 100%;
			float: none;
			height: auto;
		}
		.location-map {
			display: none;
		}
		.location-header {
			margin-bottom: 30px;
		}
		.location-list {
			> .inner {
				height: auto;
			}
			.list {
				.location-itm {
					margin-top: 20px;
					.locat-img, .locat-info {
						display: block;
						width: 100%;
					}
					.locat-img {
						height: 220px;
					}
				}
			}
			.box-filter {
				position: fixed;
				top: 60px;
			}
		}
	}
	.md-w800 {
		.modal-dialog {
			width: 90%;
		}
	}
}
@media (max-width: 640px) {
	/* CSS MAIN SLIDER */
	.main-slider {
		.slides {
			li {
				height: 300px;
			}
		}
	}
	/* CSS BLK FILTER */
	.blk-filter-wrap {
		margin-top: 30px;
		margin-bottom: 30px;
		.inner {
			background-color: #fff;
			height: auto;
		}
		.ipt {
			background-color: #F4F4F4;
		}
		.input-daterange {
			.itm-ipt {
				.itm-ipt-w {
					background-color: #F4F4F4;
				}
			}
		}
		#slider-ranger {
			&.ui-rangeSlider {
				.ui-rangeSlider-container, .ui-rangeSlider-arrow, .ui-rangeSlider-label {
					background: #F4F4F4;
				}
				.ui-rangeSlider-label {
					color: #575757;
				    padding: 0px 5px;
				    font-size: 14px;
			        bottom: 45px;
				}
				.ui-rangeSlider-label-inner {
					border-top: 5px solid #F4F4F4;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					margin-left: -5px;
				}
			}
		}
	}
}
@media (max-width: 540px) {
	/* CSS HEADER */
	.header-wrap {
		.header-logo {
			img {
				width: 120px;
				margin-top: 13px;
			}
		}
	}
	/* CSS BLK FILTER */
	.blk-filter-wrap {
		.filter-itm {
			&:nth-of-type(1), &:nth-of-type(2) {
				width: 100%;
			}
		}
	}
}
@import 'responsive-detail-480px-767px.less';
@import 'responsive-profile-480px-767px.less';
