/**
 * Media 480px-767px
 *
 * description: css rules for screen of new moderm smartphone
 */
@media (max-width: 767px) {
    .header-wrap {
        height: 45px;
        .header-search{
            position: absolute;
            display: none;
            z-index: 20;
            top: 45px;
            margin-top: 0;
            left: 0;
            right: 0;
            margin-left: 0;
            width: auto;
            background-color: #eee;
            text-align: left;
            height: 50px;
            line-height: 50px;
            border-left: none;
            border-right: none;
            border: none;
            .border-radius(0);
            button {
                background-color: transparent;
                border: none;
                position: absolute;
                left: 15px;
                top: 14px;
                padding: 0;
                line-height: normal;
                outline: none;
                z-index: 20;
                width: auto;
                height: auto;
            }
            #ipt-search {
                padding-left: 50px;
                width: 100%;
                vertical-align: 0;
            }
            &.shw {
                display: block;
            }
        }
        .header-logo {
            h1 {
                text-align: center;
                display: block;
                margin-left: 0;
                img {
                    margin-top: 13px;
                }
            }
        }
        .a_search {
            display: block;
        }
        .a_menu {
            top: 12px;
        }
    }
    .main {
        margin-top: 45px;
    }
    /* CSS HOME OFFER */
    .home-offer {
        .offer-itm {
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    /* CSS HOME AREA */
    .blk-area-wrap {
        .area-inner {
            padding-bottom: 0;
        }
        .area-itm {
            margin-bottom: 30px;
            .area-img {
                height: 350px;
            }
        }
    }
    h2.blk-ttl {
		font-size: 20px;
	}
	.blk-make-money {
		h2.money-ttl {
    		font-size: 20px;
    	}
	}
    /* CSS HOME VENUES */
    .blk-venues {
        h2.blk-ttl, .desc {
            text-align: center;
        }
        .venues-itm {
            &:first-child {
                margin-bottom: 30px;
            }
        }
    }
    .blk-how-works {
		.desc {
			font-size: 14px;
		}
	}
	.blk-make-money {
		.money-text {
			span, a {
				font-size: 14px;
			}
		}
        .money-button {
            .btn {
                font-size: 14px;
            }
        }
	}
	.blk-feature {
		.feature-slider {
			.fea-info {
				.desc {
					font-size: 14px;
					line-height: 18px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    &::before, &::after {
                        width: 15px;
                        height: 12px;
                        background-size: 15px auto;
                    }
				}
                .fea-user {
                    bottom: 0;
                }
			}
		}
	}
    .blk-venues {
    	.vens-itm {
    		h3 {
    			font-size: 14px;
    		}
    	}
    }
    .main-slider {
        margin-bottom: 40px;
    	.blk-filter {
    		.fil-item {
    			.btn-red {
    				font-size: 14px;
    			}
    		}
    	}
    	.main-filter {
            h2 {
                font-size: 20px;
                line-height: 26px;
            }
        }
    }
    .home-offer {
    	.offer-ttl {
    		font-size: 14px;
    	}
    }
    .footer-wrap {
        .footer-choice, .footer-company, .footer-discover  {
            margin-bottom: 30px;
        }
    }
    .blk-subscrible {
        .ipt {
            width: 300px;
        }
    }
}
@media (max-width: 700px) {
   /* CSS HOME AREA */
    .blk-area-wrap {
        .area-itm {
            .area-img {
                height: 300px;
            }
        }
    }
}
@media (max-width: 640px) {
   /* CSS HOME AREA */
    .blk-area-wrap {
        .area-itm {
            .area-img {
                height: 280px;
            }
        }
    }
    .blk-how-works {
        .works-itm {
            width: 100%;
            &:first-child {
                margin-bottom: 30px;
            }
        }
        .wrk-step-wrap {
            .wrk-step {
                width: 200px;
            }
        }
    }
}
@media (max-width: 600px) {
   /* CSS HOME AREA */
    .blk-area-wrap {
        .area-itm {
            .area-img {
                height: 260px;
            }
        }
    }
    .main-slider {
        .blk-filter {
            width: 100%;
        }
    }
    .blk-make-money {
        .money-button {
            .btn {
                display: block;
                margin-right: 0;
                &.btn-red ,&.btn-border {
                    width: 250px;
                    margin: 0 auto;
                }
                &.btn-red {
                    margin-bottom: 20px;
                }
            }
        }
    }
}
@media (max-width: 540px) {
   /* CSS HOME AREA */
    .blk-area-wrap {
        .area-itm {
            .area-img {
                height: 220px;
            }
        }
    }
    .blk-feature {
		.feature-slider {
			.fea-avatar {
				width: 170px;
				height: 170px;
			}
			.fea-info {
				margin-left: 200px;
				height: 170px;
			}
		}
	}
}
