<section class="lease-nav">
    <div class="row">
        <section class="col-xs-6">
            <div class="wrk-step-wrap table">
                <div class="wrk-step tbl-cell {{ app.request.get('step') >= 1 ? 'active' }}"><a href="#"><span class="wrk-ico"> <i class="ico ico-zoom"></i></span>
                        <h3> <span>Location </span></h3></a></div>
                <!-- END-->
                <div class="wrk-step tbl-cell {{ app.request.get('step') >= 2 ? 'active' }}"><a href="#"><span class="wrk-ico"> <i class="ico ico-info"></i></span>
                        <h3> <span>Space </span><span>Details</span></h3></a></div>
                <!-- END-->
                <div class="wrk-step tbl-cell {{ app.request.get('step') >= 3 ? 'active' }}"><a href="#"><span class="wrk-ico"> <i class="ico ico-list"></i></span>
                        <h3> <span>Review </span><span>Your Space</span></h3></a></div>
                <!-- END-->
                <div class="wrk-step tbl-cell {{ app.request.get('step') >= 4 ? 'active' }}"><a href="#"><span class="wrk-ico"> <i class="ico ico-power"></i></span>
                        <h3> <span>Activate </span></h3></a></div>
                <!-- END-->
            </div>
        </section>
    </div>
</section>