{% extends 'AppBundle::layout.html.twig' %}
{% form_theme form 'AppBundle:form:space_fields_step2.html.twig' %}
{% block content %}

    <section class="blk-lease-space blk-white" data-space-create-stepx="">
        <div class="container">
            <h2 class="blk-ttl">Lease Your Space</h2>
            {% include 'AppBundle:User/Space/Steps:_nav.html.twig' %}
            <!-- END : LEASE NAV-->
            <section class="blk-lease-map">
                <h2 class="blk-ttl-bold">Activate</h2>
                <div class="row">
                    <section class="col-xs-6">
                        <p style="color: #808184;">Explain why we ask to phone number Space Description: Whether it is a space in a town centre for few hours, or secure look-up venue close to where you live</p>
                        <form role="form" id="form-space" method="post">
                            <div class="frow">
                                <label for="ipt-namespace">Phone Number</label>
                                <input type="text" id="ipt-namespace" placeholder="Phone Number" required="required" class="ipt">
                            </div>
                            <div class="frow">
                                <label for="ipt-namespace">Activation Code</label>
                                <input type="text" id="ipt-namespace" placeholder="Activation Code" required="required" class="ipt">
                            </div>
                            <div class="frow">
                                <input type="submit" value="Activate" class="btn btn-red">
                                <a href="{{ path('app_user_space_create',{'step':4,'space':space.id}) }}" class="back_to">Resend Activation Code</a>
                            </div>
                            <input type="hidden" value="{{ space.shape }}" id="app_space_space_shape">
                        </form>
                    </section>
                    <!-- END : COL-->
                    <section class="col-xs-6">
                        <div id="location-map"></div>
                    </section>
                    <!-- END : COL-->
                </div>
            </section>
            <!-- END -->
        </div>
    </section>
    <!-- END : SPACE DETAIL-->

{% endblock %}