extends layouts/layout
block main
    include blocks/homepage/blk-offer.jade
    // END : BLK OFFER
    include blocks/homepage/blk-area.jade
    // END : BLK AREA
    include blocks/homepage/blk-venues.jade
    // END : BLK VENUES
    include blocks/homepage/blk-feature.jade
    // END : BLK FEATURE
    include blocks/homepage/blk-how-works.jade
    // END : BLK HOW IT WORKS
    include blocks/homepage/blk-money.jade
    // END : BLK MAKE MONEY
