section.blk-venues
    .container
        .row
            section.venues-itm.col-md-3.col-sm-3.col-xs-6
                h2.blk-ttl 
                    a(href="#") FEATURED VENUES
                .desc Feature Venues Description: venues in California, as chosen by our customers.
            // END : ITM
            section.venues-itm.col-md-3.col-sm-3.col-xs-6
                section.vens-itm
                    h3 Eastside Los Angeles
                    ul
                        li
                            a(href="#")
                                i.fa.fa-map-marker
                                | California
                        li
                            a(href="#")
                                i.fa.fa-cog
                                | Vacant Land
                // END : ITM
                section.vens-itm
                    h3 Eastside Los Angeles
                    ul
                        li
                            a(href="#")
                                i.fa.fa-map-marker
                                | California
                        li
                            a(href="#")
                                i.fa.fa-cog
                                | Vacant Land
                // END : ITM
                section.vens-itm
                    h3 Eastside Los Angeles
                    ul
                        li
                            a(href="#")
                                i.fa.fa-map-marker
                                | California
                        li
                            a(href="#")
                                i.fa.fa-cog
                                | Vacant Land
                // END : ITM
            // END : ITM
            section.venues-itm.col-md-3.col-sm-3.col-xs-6
                section.vens-itm
                    h3 Eastside Los Angeles
                    ul
                        li
                            a(href="#")
                                i.fa.fa-map-marker
                                | California
                        li
                            a(href="#")
                                i.fa.fa-cog
                                | Vacant Land
                // END : ITM
                section.vens-itm
                    h3 Eastside Los Angeles
                    ul
                        li
                            a(href="#")
                                i.fa.fa-map-marker
                                | California
                        li
                            a(href="#")
                                i.fa.fa-cog
                                | Vacant Land
                // END : ITM
                section.vens-itm
                    h3 Eastside Los Angeles
                    ul
                        li
                            a(href="#")
                                i.fa.fa-map-marker
                                | California
                        li
                            a(href="#")
                                i.fa.fa-cog
                                | Vacant Land
                // END : ITM
            // END : ITM
            section.venues-itm.col-md-3.col-sm-3.col-xs-6
                section.vens-itm
                    h3 Eastside Los Angeles
                    ul
                        li
                            a(href="#")
                                i.fa.fa-map-marker
                                | California
                        li
                            a(href="#")
                                i.fa.fa-cog
                                | Vacant Land
                // END : ITM
                section.vens-itm
                    h3 Eastside Los Angeles
                    ul
                        li
                            a(href="#")
                                i.fa.fa-map-marker
                                | California
                        li
                            a(href="#")
                                i.fa.fa-cog
                                | Vacant Land
                // END : ITM
                section.vens-itm
                    h3 Eastside Los Angeles
                    ul
                        li
                            a(href="#")
                                i.fa.fa-map-marker
                                | California
                        li
                            a(href="#")
                                i.fa.fa-cog
                                | Vacant Land
                // END : ITM
            // END : ITM