section.home-offer
    .container
        h2.blk-ttl 
            a(href="#") WHAT WE OFFER
        .row
            section.offer-itm.col-md-4.col-sm-4.col-xs-6
                a(href="#")
                    figure.zone-img(style="background-image: url(uploads/fig_location.png);")
                    h3.offer-ttl Vacant Lands        
            // END : ITM
            section.offer-itm.col-md-4.col-sm-4.col-xs-6
                a(href="#")
                    figure.zone-img(style="background-image: url(uploads/fig_house.png);")
                    h3.offer-ttl Spaces Attached To Property    
            // END : ITM
            section.offer-itm.col-md-4.col-sm-4.col-xs-6
                a(href="#")
                    figure.zone-img(style="background-image: url(uploads/fig_build.png);")
                    h3.offer-ttl Event Places      
            // END : ITM