section.blk-feature
    .container
        section.feature-slider.flexslider
            ul.slides
                li.clearfix
                    .fea-avatar(style="background-image: url('uploads/avatar.jpg')")
                    .fea-info
                        .desc Your communication with the clients is simply exemplary - fast, effecient, informative. You are one of the best companies I have ever come across.
                        .fea-user
                            .name Jessica Justice
                            .add California, USA
                // END : ITM
                li.clearfix
                    .fea-avatar(style="background-image: url('uploads/avatar.jpg')")
                    .fea-info
                        .desc Your communication with the clients is simply exemplary - fast, effecient, informative. You are one of the best companies I have ever come across.
                        .fea-user
                            .name Jessica Justice
                            .add California, USA
                // END : ITM
                li.clearfix
                    .fea-avatar(style="background-image: url('uploads/avatar.jpg')")
                    .fea-info
                        .desc Your communication with the clients is simply exemplary - fast, effecient, informative. You are one of the best companies I have ever come across.
                        .fea-user
                            .name Jessica Justice
                            .add California, USA
                // END : ITM
        // END : SLIDER
        section.feature-logo
            h2.blk-ttl FEATURED ON
            ul.logo-list
                li
                    a(href="#")
                        img(src="uploads/p-1.png", alt="")
                li
                    a(href="#")
                        img(src="uploads/p-2.png", alt="")
                li
                    a(href="#")
                        img(src="uploads/p-3.png", alt="")
                li
                    a(href="#")
                        img(src="uploads/p-4.png", alt="")
        // END : LOGO
