section.blk-area-wrap
    .container
        .area-inner
            h2.blk-ttl 
                a(href="#") MOST POPULAR VENUES IN CALIFORNIA
            .row
                section.area-itm.col-md-3.col-sm-3.col-xs-6
                    a(href="#")
                        figure.area-img(style="background-image: url(uploads/los.jpg);")
                            h2 CALIFORNIA
                            h3 Los Angeles
                    .desc
                        ul
                            li
                                a(href="#") Los Angeles Center
                            li
                                a(href="#") Eastside Los Angeles
                            li
                                a(href="#") South Los Angeles
                            li
                                a(href="#") Los Angeles Harbor Region
                            li
                                a(href="#") Hollywood
                // END : ITM
                section.area-itm.col-md-3.col-sm-3.col-xs-6
                    a(href="#")
                        figure.area-img(style="background-image: url(uploads/sanjos.jpg);")
                            h2 CALIFORNIA
                            h3 San Diego
                        .desc
                            ul
                                li
                                    a(href="#") San Diego-Imperal
                                li
                                    a(href="#") San Diego County
                                li
                                    a(href="#") San Diego - Tijuana
                                li
                                    a(href="#") Carlsbad
                                li
                                    a(href="#") San Marcos
                // END : ITM
                section.area-itm.col-md-3.col-sm-3.col-xs-6
                    a(href="#")
                        figure.area-img(style="background-image: url(uploads/sandie.jpg);")
                            h2 CALIFORNIA
                            h3 San Jose
                        .desc
                            ul
                                li
                                    a(href="#") Little Saigon
                                li
                                    a(href="#") Silicon Valley
                                li
                                    a(href="#") Downtown San Jose
                                li
                                    a(href="#") Central San Jose
                                li
                                    a(href="#") San Jose Convention Center
                // END : ITM
                section.area-itm.col-md-3.col-sm-3.col-xs-6
                    a(href="#")
                        figure.area-img(style="background-image: url(uploads/sanfanc.jpg);")
                            h2 CALIFORNIA
                            h3 San Francisco
                        .desc
                            ul
                                li
                                    a(href="#") Market Town
                                li
                                    a(href="#") Russian Hill
                                li
                                    a(href="#") North Beach
                                li
                                    a(href="#") Telegraph Hill
                                li
                                    a(href="#") San Francisco Chinatown
                // END : ITM
