section.blk-make-money
    .container
        h2.money-ttl Want to make money from your vacant land?
        .money-button
            a(href="#", class="btn btn-red") LEASE MY SPACE
            a(href="#", class="btn btn-border") LEASING CALCULATOR
        .money-text
            span Thousands of hosts and guests 
            span are part of Zonepace's trusted community.
            a(href="#") Join us by signing up
                i.fa.fa-arrow-right