header.location-header.clearfix
    section.location-map
        #location-map(data-href="ajax/map/data-maker.json")
        a(href="javascript:;", class="btn btn-red view_space") View space list
    // END: MAPs
    section.location-list
        .box-filter
            a(href="javascript:;", class="a_filter_close") Hide Filters
            .box-inner
                form(class="frm-adv-filer")
                    .section-filter
                        h3 Anniversary:
                        ul
                            li
                                input(type="checkbox", name="chk-space", id="chk-banquet")
                                label(for="chk-banquet") Banquet
                            li
                                input(type="checkbox", name="chk-space", id="chk-concert")
                                label(for="chk-concert") Concert
                            li
                                input(type="checkbox", name="chk-space", id="chk-conference")
                                label(for="chk-conference") Conference
                            li
                                input(type="checkbox", name="chk-space", id="chk-meeting")
                                label(for="chk-meeting") Meeting
                            li
                                input(type="checkbox", name="chk-space", id="chk-corporate")
                                label(for="chk-corporate") Party - corporate
                            li
                                input(type="checkbox", name="chk-space", id="chk-adults")
                                label(for="chk-adults") Party - adults
                            li
                                input(type="checkbox", name="chk-space", id="chk-kids")
                                label(for="chk-kids") Party -kids
                            li
                                input(type="checkbox", name="chk-space", id="chk-reception")
                                label(for="chk-reception") Reception
                            li
                                input(type="checkbox", name="chk-space", id="chk-retreat")
                                label(for="chk-retreat") Retreat
                            li
                                input(type="checkbox", name="chk-space", id="chk-reunion")
                                label(for="chk-reunion") Reunion
                    // END : FILTER
                    .section-filter
                        h3 Event:
                        ul
                            li
                                input(type="checkbox", name="chk-space", id="chk-seminar")
                                label(for="chk-seminar") Seminar
                            li
                                input(type="checkbox", name="chk-space", id="chk-wedding")
                                label(for="chk-wedding") Wedding
                            li
                                input(type="checkbox", name="chk-space", id="chk-camping")
                                label(for="chk-camping") Camping
                            li
                                input(type="checkbox", name="chk-space", id="chk-hunting")
                                label(for="chk-hunting") Hunting
                            li
                                input(type="checkbox", name="chk-space", id="chk-parking")
                                label(for="chk-parking") Parking
                            li
                                input(type="checkbox", name="chk-space", id="chk-adults")
                                label(for="chk-adults") Party - adults
                            li
                                input(type="checkbox", name="chk-space", id="chk-kids")
                                label(for="chk-kids") Party -kids
                            li
                                input(type="checkbox", name="chk-space", id="chk-reception")
                                label(for="chk-reception") Reception
                            li
                                input(type="checkbox", name="chk-space", id="chk-retreat")
                                label(for="chk-retreat") Retreat
                            li
                                input(type="checkbox", name="chk-space", id="chk-reunion")
                                label(for="chk-reunion") Reunion
                    // END : FILTER
                    .section-filter
                        h3 By Function:
                        ul
                            li
                                input(type="checkbox", name="chk-space", id="chk-semi-constructional")
                                label(for="chk-semi-constructional") Semi - constructional
                            li
                                input(type="checkbox", name="chk-space", id="chk-moving")
                                label(for="chk-moving") Movie making
                            li
                                input(type="checkbox", name="chk-space", id="chk-photo")
                                label(for="chk-photo") Photo shooting
                            li
                                input(type="checkbox", name="chk-space", id="chk-residental")
                                label(for="chk-residental") Residental
                            li
                                input(type="checkbox", name="chk-space", id="chk-warehousing")
                                label(for="chk-warehousing") Warehousing
                            li
                                input(type="checkbox", name="chk-space", id="chk-shows")
                                label(for="chk-shows") Shows
                            li
                                input(type="checkbox", name="chk-space", id="chk-exhibition")
                                label(for="chk-exhibition") Exhibition
                            li
                                input(type="checkbox", name="chk-space", id="chk-caterings")
                                label(for="chk-caterings") Caterings
                            li
                                input(type="checkbox", name="chk-space", id="chk-product-demo")
                                label(for="chk-product-demo") Product demo
                            li
                                input(type="checkbox", name="chk-space", id="chk-housedemo")
                                label(for="chk-housedemo") House demo / Show house
                    // END : FILTER
                    .section-filter
                        ul
                            li
                                label(for="land-size") Land size
                                input(type="text", class="ipt", placeholder="54 Sq. Ft", id="land-size")
                            li
                                label(for="fil-rating") Rating
                                select(class="slect", id="fil-rating")
                                    option(value="1") 1
                                    option(value="2") 2
                                    option(value="3") 3
                                    option(value="4") 4
                                    option(value="5") 5
                    // END : FILTER
                    .section-filter
                        ul
                            li
                                input(type="checkbox", name="chk-space", id="chk-instant")
                                label(for="chk-instant") Instant booking
                            li
                                input(type="checkbox", name="chk-space", id="chk-review-booking")
                                label(for="chk-review-booking") After host review booking
                    // END : FILTER
        // END: FILTER ADVANCES
        .inner
            section.blk-head-locat
                section.lct-head-title
                    h2
                        i.fa.fa-map-marker
                        | Cardiff Airport Leasing
                    a(href="javascript:;", class="a_filter") Advanced Filters
                // END : TTL
                section.lct-type
                    .row
                        section.col-xs-6.type-itm
                            .box
                                input(type="checkbox", name="fil-month", id="fil-month")
                                label(for="fil-month") Monthly Leasing
                        // END : ITM
                        section.col-xs-6.type-itm
                            .box
                                input(type="checkbox", name="fil-short", id="fil-short")
                                label(for="fil-short") Short-term Leasing
                        // END : ITM
                // END : TYPE
                section.lct-ranger
                    .lct-price-ranger.clearfix
                        label Price per 100 square feet
                        #price-ranger(data-min="20", data-max="50")
                    // END : PRICE
                    .lct-square-ranger.clearfix
                        label Square feet
                        #square-ranger(data-min="20000", data-max="50000")
                    // END : PRICE
                // END : RANGER
            section.list
                .inner
                    .location-itm
                        a(href="#")
                            span.num a
                            .ftable
                                .ftd.locat-img(style="background-image: url('uploads/location-img-1.jpg')")
                                    .blk-time
                                        span
                                            i.fa.fa-clock-o
                                            | Daily
                                        span
                                            i.fa.fa-calendar
                                            | Monthly
                                .ftd.locat-info
                                    .details
                                        .blk-ttl.clearfix
                                            .distance 2.8 miles
                                            h3 Summerfield Gardens, LS13
                                        .desc Driveway on Summerfield Gardens that can park 2
                                        ul.features.clearfix
                                            li.available
                                                i.fa.fa-check
                                                | Space available now
                                            li.instant
                                                i.fa.fa-bolt
                                                | Instant book
                                    // END : DETAIL
                                    .prices-row
                                        .prices
                                            .price
                                                strong £5.00
                                                | per day
                                            .price
                                                strong £5.00
                                                | per week
                                            .price
                                                strong £93.75
                                                | per month
                                            .price.book-button
                                                span(class="btn btn-red uppercase") book now
                                    // END : PRICEs
                                // END : INFO
                    // END : ITM
                    .location-itm
                        a(href="#")
                            span.num b
                            .ftable
                                .ftd.locat-img(style="background-image: url('uploads/location-img.jpg')")
                                    .blk-time
                                        span
                                            i.fa.fa-clock-o
                                            | Daily
                                        span
                                            i.fa.fa-calendar
                                            | Monthly
                                .ftd.locat-info
                                    .details
                                        .blk-ttl.clearfix
                                            .distance 2.8 miles
                                            h3 Summerfield Gardens, LS13
                                        .desc Driveway on Summerfield Gardens that can park 2
                                        ul.features.clearfix
                                            li.available
                                                i.fa.fa-check
                                                | Space available now
                                            li.instant
                                                i.fa.fa-bolt
                                                | Instant book
                                    // END : DETAIL
                                    .prices-row
                                        .prices
                                            .price
                                                strong £5.00
                                                | per day
                                            .price
                                                strong £5.00
                                                | per week
                                            .price
                                                strong £93.75
                                                | per month
                                            .price.book-button
                                                span(class="btn btn-red uppercase") book now
                                    // END : PRICEs
                                // END : INFO
                    // END : ITM
                    .location-itm
                        a(href="#")
                            span.num c
                            .ftable
                                .ftd.locat-img(style="background-image: url('uploads/location-img.jpg')")
                                    .blk-time
                                        span
                                            i.fa.fa-clock-o
                                            | Daily
                                        span
                                            i.fa.fa-calendar
                                            | Monthly
                                .ftd.locat-info
                                    .details
                                        .blk-ttl.clearfix
                                            .distance 2.8 miles
                                            h3 Summerfield Gardens, LS13
                                        .desc Driveway on Summerfield Gardens that can park 2
                                        ul.features.clearfix
                                            li.available
                                                i.fa.fa-check
                                                | Space available now
                                            li.instant
                                                i.fa.fa-bolt
                                                | Instant book
                                    // END : DETAIL
                                    .prices-row
                                        .prices
                                            .price
                                                strong £5.00
                                                | per day
                                            .price
                                                strong £5.00
                                                | per week
                                            .price
                                                strong £93.75
                                                | per month
                                            .price.book-button
                                                span(class="btn btn-red uppercase") book now
                                    // END : PRICEs
                                // END : INFO
                    // END : ITM
                    .location-itm
                        a(href="#")
                            span.num d
                            .ftable
                                .ftd.locat-img(style="background-image: url('uploads/location-img.jpg')")
                                    .blk-time
                                        span
                                            i.fa.fa-clock-o
                                            | Daily
                                        span
                                            i.fa.fa-calendar
                                            | Monthly
                                .ftd.locat-info
                                    .details
                                        .blk-ttl.clearfix
                                            .distance 2.8 miles
                                            h3 Summerfield Gardens, LS13
                                        .desc Driveway on Summerfield Gardens that can park 2
                                        ul.features.clearfix
                                            li.available
                                                i.fa.fa-check
                                                | Space available now
                                            li.instant
                                                i.fa.fa-bolt
                                                | Instant book
                                    // END : DETAIL
                                    .prices-row
                                        .prices
                                            .price
                                                strong £5.00
                                                | per day
                                            .price
                                                strong £5.00
                                                | per week
                                            .price
                                                strong £93.75
                                                | per month
                                            .price.book-button
                                                span(class="btn btn-red uppercase") book now
                                    // END : PRICEs
                                // END : INFO
                    // END : ITM
                    .location-itm
                        a(href="#")
                            span.num e
                            .ftable
                                .ftd.locat-img(style="background-image: url('uploads/location-img.jpg')")
                                    .blk-time
                                        span
                                            i.fa.fa-clock-o
                                            | Daily
                                        span
                                            i.fa.fa-calendar
                                            | Monthly
                                .ftd.locat-info
                                    .details
                                        .blk-ttl.clearfix
                                            .distance 2.8 miles
                                            h3 Summerfield Gardens, LS13
                                        .desc Driveway on Summerfield Gardens that can park 2
                                        ul.features.clearfix
                                            li.available
                                                i.fa.fa-check
                                                | Space available now
                                            li.instant
                                                i.fa.fa-bolt
                                                | Instant book
                                    // END : DETAIL
                                    .prices-row
                                        .prices
                                            .price
                                                strong £5.00
                                                | per day
                                            .price
                                                strong £5.00
                                                | per week
                                            .price
                                                strong £93.75
                                                | per month
                                            .price.book-button
                                                span(class="btn btn-red uppercase") book now
                                    // END : PRICEs
                                // END : INFO
                    // END : ITM
                    .location-itm
                        a(href="#")
                            span.num f
                            .ftable
                                .ftd.locat-img(style="background-image: url('uploads/location-img.jpg')")
                                    .blk-time
                                        span
                                            i.fa.fa-clock-o
                                            | Daily
                                        span
                                            i.fa.fa-calendar
                                            | Monthly
                                .ftd.locat-info
                                    .details
                                        .blk-ttl.clearfix
                                            .distance 2.8 miles
                                            h3 Summerfield Gardens, LS13
                                        .desc Driveway on Summerfield Gardens that can park 2
                                        ul.features.clearfix
                                            li.available
                                                i.fa.fa-check
                                                | Space available now
                                            li.instant
                                                i.fa.fa-bolt
                                                | Instant book
                                    // END : DETAIL
                                    .prices-row
                                        .prices
                                            .price
                                                strong £5.00
                                                | per day
                                            .price
                                                strong £5.00
                                                | per week
                                            .price
                                                strong £93.75
                                                | per month
                                            .price.book-button
                                                span(class="btn btn-red uppercase") book now
                                    // END : PRICEs
                                // END : INFO
                    // END : ITM
                    .location-itm
                        a(href="#")
                            span.num g
                            .ftable
                                .ftd.locat-img(style="background-image: url('uploads/location-img.jpg')")
                                    .blk-time
                                        span
                                            i.fa.fa-clock-o
                                            | Daily
                                        span
                                            i.fa.fa-calendar
                                            | Monthly
                                .ftd.locat-info
                                    .details
                                        .blk-ttl.clearfix
                                            .distance 2.8 miles
                                            h3 Summerfield Gardens, LS13
                                        .desc Driveway on Summerfield Gardens that can park 2
                                        ul.features.clearfix
                                            li.available
                                                i.fa.fa-check
                                                | Space available now
                                            li.instant
                                                i.fa.fa-bolt
                                                | Instant book
                                    // END : DETAIL
                                    .prices-row
                                        .prices
                                            .price
                                                strong £5.00
                                                | per day
                                            .price
                                                strong £5.00
                                                | per week
                                            .price
                                                strong £93.75
                                                | per month
                                            .price.book-button
                                                span(class="btn btn-red uppercase") book now
                                    // END : PRICEs
                                // END : INFO
                    // END : ITM
                    .location-itm
                        a(href="#")
                            span.num h
                            .ftable
                                .ftd.locat-img(style="background-image: url('uploads/location-img.jpg')")
                                    .blk-time
                                        span
                                            i.fa.fa-clock-o
                                            | Daily
                                        span
                                            i.fa.fa-calendar
                                            | Monthly
                                .ftd.locat-info
                                    .details
                                        .blk-ttl.clearfix
                                            .distance 2.8 miles
                                            h3 Summerfield Gardens, LS13
                                        .desc Driveway on Summerfield Gardens that can park 2
                                        ul.features.clearfix
                                            li.available
                                                i.fa.fa-check
                                                | Space available now
                                            li.instant
                                                i.fa.fa-bolt
                                                | Instant book
                                    // END : DETAIL
                                    .prices-row
                                        .prices
                                            .price
                                                strong £5.00
                                                | per day
                                            .price
                                                strong £5.00
                                                | per week
                                            .price
                                                strong £93.75
                                                | per month
                                            .price.book-button
                                                span(class="btn btn-red uppercase") book now
                                    // END : PRICEs
                                // END : INFO
                    // END : ITM
            .pagination-wrap
                .results_count 1 – 18 of 300+ Rentals
                .pagination
                    ul.list-unstyled
                        li.active
                            a(rel="start", target="1", href="#") 1
                        li
                            a(rel="next", target="2", href="#") 2
                        li
                            a(rel="3", target="3", href="#") 3
                        li.gap
                            span.gap ...
                        li
                            a(rel="10", target="10", href="#") 10
                        li.next.next_page
                            a(rel="next", target="2", href="#")
                                i.fa.fa-caret-right
            // END : PAGINATION
    // END: LIST
