section.content-location
    .container
        .row
            section.col-md-4.col-sm-6.col-xs-12.ct-itm
                h3 Nearby Featured Locations
                .ftable
                    a(href="#", class="ftr")
                        .ftd 0.0 miles
                        .ftd Temple Meads Railway Station
                        .ftd 
                            i.fa.fa-arrow-circle-right
                    // END : ITM
                    a(href="#", class="ftr")
                        .ftd 0.1 miles
                        .ftd Bristol Temple Meads Railway Station
                        .ftd 
                            i.fa.fa-arrow-circle-right
                    // END : ITM
                    a(href="#", class="ftr")
                        .ftd 0.4 miles
                        .ftd Bristol
                        .ftd 
                            i.fa.fa-arrow-circle-right
                    // END : ITM
                    a(href="#", class="ftr")
                        .ftd 0.6 miles
                        .ftd Broadmead
                        .ftd 
                            i.fa.fa-arrow-circle-right
                    // END : ITM
                    a(href="#", class="ftr")
                        .ftd 0.6 miles
                        .ftd Cabot Circus
                        .ftd 
                            i.fa.fa-arrow-circle-right
                    // END : ITM
            // END: ITM
            section.col-md-4.col-sm-6.col-xs-12.ct-itm
                h3 Rent Out Your Temple Meads Space
                p Having an empty driveway or parking spaces near Temple Meads railway station is one of the best places to have one in Bristol. You can earn around £100 per month from each space. Commuters travelling from Bristol Temple Meads are always on the lookout for affordable parking. Garages can also be rented out. 
            // END: ITM
            section.col-md-4.col-sm-12.col-xs-12.ct-itm
                h3 Temple Meads Railway Station Parking Statistics
                table.table.tbl-statis
                    tr
                        th
                        th Daily
                        th Monthly
                    tr
                        th Highest Price
                        td £25.00
                        td £1000.00
                    tr
                        th Lowest Price
                        td £2.50
                        td £25.00
                    tr
                        th Average Price
                        td £8.83
                        td £133.98
            // END: ITM