header.location-header.clearfix
    section.location-map#location-map
    // END: MAPs
    section.location-list
        .inner
            section.blk-head-locat
                section.lct-head-title
                    h2
                        i.fa.fa-map-marker
                        | Cardiff Airport Parking
                    a(href="javascript:;", class="a_filter") Advanced Filters
                // END : TTL
                section.lct-type
                    .row
                        section.col-xs-6.type-itm
                            .box
                                input(type="checkbox", name="fil-month", id="fil-month")
                                label(for="fil-month") Monthly Parking
                        // END : ITM
                        section.col-xs-6.type-itm
                            .box
                                input(type="checkbox", name="fil-short", id="fil-short")
                                label(for="fil-short") Short-term Parking
                        // END : ITM
                // END : TYPE
            section.list
                .inner
                    .location-itm
                        a(href="#")
                            span.num a
                            .ftable
                                .ftd.locat-img(style="background-image: url('uploads/location-img.jpg')")
                                    .blk-time
                                        span
                                            i.fa.fa-clock-o
                                            | Daily
                                        span
                                            i.fa.fa-calendar
                                            | Monthly
                                .ftd.locat-info
                                    .details
                                        .blk-ttl.clearfix
                                            .distance 2.8 miles
                                            h3 Summerfield Gardens, LS13
                                        .desc Driveway on Summerfield Gardens that can park 2...
                                        ul.features.clearfix
                                            li.available
                                                i.fa.fa-check
                                                | Space available now
                                            li.instant
                                                i.fa.fa-bolt
                                                | Instant book
                                    // END : DETAIL
                                    .prices-row
                                        .prices
                                            .price
                                                strong £2.50
                                                | per hour
                                            .price
                                                strong £5.00
                                                | per day
                                            .price
                                                strong £93.75
                                                | per month
                                            .price.book-button.hidden-xs
                                                span(class="btn btn-red uppercase") book now
                                    // END : PRICEs
                                // END : INFO
                    // END : ITM
                    .location-itm
                        a(href="#")
                            span.num b
                            .ftable
                                .ftd.locat-img(style="background-image: url('uploads/location-img.jpg')")
                                    .blk-time
                                        span
                                            i.fa.fa-clock-o
                                            | Daily
                                        span
                                            i.fa.fa-calendar
                                            | Monthly
                                .ftd.locat-info
                                    .details
                                        .blk-ttl.clearfix
                                            .distance 2.8 miles
                                            h3 Summerfield Gardens, LS13
                                        .desc Driveway on Summerfield Gardens that can park 2...
                                        ul.features.clearfix
                                            li.available
                                                i.fa.fa-check
                                                | Space available now
                                            li.instant
                                                i.fa.fa-bolt
                                                | Instant book
                                    // END : DETAIL
                                    .prices-row
                                        .prices
                                            .price
                                                strong £2.50
                                                | per hour
                                            .price
                                                strong £5.00
                                                | per day
                                            .price
                                                strong £93.75
                                                | per month
                                            .price.book-button.hidden-xs
                                                span(class="btn btn-red uppercase") book now
                                    // END : PRICEs
                                // END : INFO
                    // END : ITM
                    .location-itm
                        a(href="#")
                            span.num c
                            .ftable
                                .ftd.locat-img(style="background-image: url('uploads/location-img.jpg')")
                                    .blk-time
                                        span
                                            i.fa.fa-clock-o
                                            | Daily
                                        span
                                            i.fa.fa-calendar
                                            | Monthly
                                .ftd.locat-info
                                    .details
                                        .blk-ttl.clearfix
                                            .distance 2.8 miles
                                            h3 Summerfield Gardens, LS13
                                        .desc Driveway on Summerfield Gardens that can park 2...
                                        ul.features.clearfix
                                            li.available
                                                i.fa.fa-check
                                                | Space available now
                                            li.instant
                                                i.fa.fa-bolt
                                                | Instant book
                                    // END : DETAIL
                                    .prices-row
                                        .prices
                                            .price
                                                strong £2.50
                                                | per hour
                                            .price
                                                strong £5.00
                                                | per day
                                            .price
                                                strong £93.75
                                                | per month
                                            .price.book-button.hidden-xs
                                                span(class="btn btn-red uppercase") book now
                                    // END : PRICEs
                                // END : INFO
                    // END : ITM
                    .location-itm
                        a(href="#")
                            span.num d
                            .ftable
                                .ftd.locat-img(style="background-image: url('uploads/location-img.jpg')")
                                    .blk-time
                                        span
                                            i.fa.fa-clock-o
                                            | Daily
                                        span
                                            i.fa.fa-calendar
                                            | Monthly
                                .ftd.locat-info
                                    .details
                                        .blk-ttl.clearfix
                                            .distance 2.8 miles
                                            h3 Summerfield Gardens, LS13
                                        .desc Driveway on Summerfield Gardens that can park 2...
                                        ul.features.clearfix
                                            li.available
                                                i.fa.fa-check
                                                | Space available now
                                            li.instant
                                                i.fa.fa-bolt
                                                | Instant book
                                    // END : DETAIL
                                    .prices-row
                                        .prices
                                            .price
                                                strong £2.50
                                                | per hour
                                            .price
                                                strong £5.00
                                                | per day
                                            .price
                                                strong £93.75
                                                | per month
                                            .price.book-button.hidden-xs
                                                span(class="btn btn-red uppercase") book now
                                    // END : PRICEs
                                // END : INFO
                    // END : ITM
                    .location-itm
                        a(href="#")
                            span.num e
                            .ftable
                                .ftd.locat-img(style="background-image: url('uploads/location-img.jpg')")
                                    .blk-time
                                        span
                                            i.fa.fa-clock-o
                                            | Daily
                                        span
                                            i.fa.fa-calendar
                                            | Monthly
                                .ftd.locat-info
                                    .details
                                        .blk-ttl.clearfix
                                            .distance 2.8 miles
                                            h3 Summerfield Gardens, LS13
                                        .desc Driveway on Summerfield Gardens that can park 2...
                                        ul.features.clearfix
                                            li.available
                                                i.fa.fa-check
                                                | Space available now
                                            li.instant
                                                i.fa.fa-bolt
                                                | Instant book
                                    // END : DETAIL
                                    .prices-row
                                        .prices
                                            .price
                                                strong £2.50
                                                | per hour
                                            .price
                                                strong £5.00
                                                | per day
                                            .price
                                                strong £93.75
                                                | per month
                                            .price.book-button.hidden-xs
                                                span(class="btn btn-red uppercase") book now
                                    // END : PRICEs
                                // END : INFO
                    // END : ITM
                    .location-itm
                        a(href="#")
                            span.num f
                            .ftable
                                .ftd.locat-img(style="background-image: url('uploads/location-img.jpg')")
                                    .blk-time
                                        span
                                            i.fa.fa-clock-o
                                            | Daily
                                        span
                                            i.fa.fa-calendar
                                            | Monthly
                                .ftd.locat-info
                                    .details
                                        .blk-ttl.clearfix
                                            .distance 2.8 miles
                                            h3 Summerfield Gardens, LS13
                                        .desc Driveway on Summerfield Gardens that can park 2...
                                        ul.features.clearfix
                                            li.available
                                                i.fa.fa-check
                                                | Space available now
                                            li.instant
                                                i.fa.fa-bolt
                                                | Instant book
                                    // END : DETAIL
                                    .prices-row
                                        .prices
                                            .price
                                                strong £2.50
                                                | per hour
                                            .price
                                                strong £5.00
                                                | per day
                                            .price
                                                strong £93.75
                                                | per month
                                            .price.book-button.hidden-xs
                                                span(class="btn btn-red uppercase") book now
                                    // END : PRICEs
                                // END : INFO
                    // END : ITM
                    .location-itm
                        a(href="#")
                            span.num g
                            .ftable
                                .ftd.locat-img(style="background-image: url('uploads/location-img.jpg')")
                                    .blk-time
                                        span
                                            i.fa.fa-clock-o
                                            | Daily
                                        span
                                            i.fa.fa-calendar
                                            | Monthly
                                .ftd.locat-info
                                    .details
                                        .blk-ttl.clearfix
                                            .distance 2.8 miles
                                            h3 Summerfield Gardens, LS13
                                        .desc Driveway on Summerfield Gardens that can park 2...
                                        ul.features.clearfix
                                            li.available
                                                i.fa.fa-check
                                                | Space available now
                                            li.instant
                                                i.fa.fa-bolt
                                                | Instant book
                                    // END : DETAIL
                                    .prices-row
                                        .prices
                                            .price
                                                strong £2.50
                                                | per hour
                                            .price
                                                strong £5.00
                                                | per day
                                            .price
                                                strong £93.75
                                                | per month
                                            .price.book-button.hidden-xs
                                                span(class="btn btn-red uppercase") book now
                                    // END : PRICEs
                                // END : INFO
                    // END : ITM
                    .location-itm
                        a(href="#")
                            span.num h
                            .ftable
                                .ftd.locat-img(style="background-image: url('uploads/location-img.jpg')")
                                    .blk-time
                                        span
                                            i.fa.fa-clock-o
                                            | Daily
                                        span
                                            i.fa.fa-calendar
                                            | Monthly
                                .ftd.locat-info
                                    .details
                                        .blk-ttl.clearfix
                                            .distance 2.8 miles
                                            h3 Summerfield Gardens, LS13
                                        .desc Driveway on Summerfield Gardens that can park 2...
                                        ul.features.clearfix
                                            li.available
                                                i.fa.fa-check
                                                | Space available now
                                            li.instant
                                                i.fa.fa-bolt
                                                | Instant book
                                    // END : DETAIL
                                    .prices-row
                                        .prices
                                            .price
                                                strong £2.50
                                                | per hour
                                            .price
                                                strong £5.00
                                                | per day
                                            .price
                                                strong £93.75
                                                | per month
                                            .price.book-button.hidden-xs
                                                span(class="btn btn-red uppercase") book now
                                    // END : PRICEs
                                // END : INFO
                    // END : ITM
    // END: LIST