//- Modal SIgn Up
.modal.fade(id="myTerm", class="md-w800", tabindex="-1" ,role="dialog", aria-labelledby="myTerm")
    .modal-dialog(role="document")
        .modal-content
            span(class="close", data-dismiss="modal" ,aria-label="Close" ,aria-hidden="true") &times;
            .modal-body
                h2 Terms & Conditions:
                p These terms and conditions relate to the use of this parking space.
                    b By booking the parking space you agree to these terms:
                ol
                    li To pay the rent in advance and not fall behind on rental payments. The Tenant agrees that YPS has the right to charge an additional £25 admin fee if a rental payment is not received in advance of the agreed date.
                    li The Space is used at the Tenant’s own risk. Neither YPS, nor the Landlord, is responsible for any special, indirect or consequential damages, or any damages whatsoever resulting from this agreement and/or the use of the Space.
                    li Neither YPS, nor the Landlord is responsible for any vehicle or any items left in the Space. All items and vehicles are parked entirely at the Tenant’s risk.
                    li The Tenant agrees to use the premises exclusively for parking a vehicle in the case of a Parking Space and for either parking a vehicle or storage if it’s a Garage.
                    li The Tenant agrees to keep the immediate premises in good order and to advise the Landlord or his/her management agent of any required maintenance or repairs.
                    li The Tenant shall not keep or have in or on the leased premises any article or thing which might be pronounced ʺhazardousʺ or ʺextra hazardousʺ by any responsible insurance company.
                    li The Tenant agrees to fix and fully repair any damage caused to the property, aside from usual wear and tear.
                    li Neither YPS nor the Landlord are responsible for any loss or damage due to fire, theft, water, wind, hurricane or any cause whatsoever to the property or the possessions stored on the property.
                    li Neither the Tenant, nor the Landlord, is required to carry any insurance.
                    li The Tenant, at his own expense, shall obtain his own insurance, if any, to the vehicle stored at the Parking Space or any possessions stored at a Garage.
                    li The Tenant shall not sublease the Space without the written consent of the Landlord.
                    li The Tenant may not make any alterations to the premises without the written consent of the Landlord.
                    li YPS agrees to return said security Deposit to the Tenant upon the Tenant vacating the premises in a clean condition subject to the terms and conditions set forth herein.
                    li The Tenant agrees that YPS may transfer the Deposit to the Landlord at the termination of this lease for the cost of repairs, if any, to the premises caused by the intentional or negligent acts of Tenant.
                    li The Tenant agrees not to enter into a direct rental agreement with the Landlord for a minimum of 6 months following the termination of this rental agreement.
                    li 30 days written notice must be provided to YPS if the Tenant wishes to terminate the rental. Providing the writing notice via email is fine, the email address to notify YPS on is bookings@yourparkingspace.co.uk. We can also be contacted on 01172 443 574.
                    li We receive, store and use any personal information you provide us with in accordance with the requirements of the Data Protection Act 1998.
                p Finally, enjoy your stay and thanks for booking at YourParkingSpace.co.uk!
