section.blk-area-wrap
    .container
        h2.area-ttl POPULAR VENUES
        .row
            section.area-itm.col-md-3.col-sm-3.col-xs-6
                a(href="category.html")
                    figure.area-img(style="background-image: url(uploads/la.jpg);")
                        h3 Los Angeles
                .desc
                    ol
                        li
                            a(href="#") Los Angeles Center
                        li
                            a(href="#") Eastside Los Angeles
                        li
                            a(href="#") South Los Angeles
                        li
                            a(href="#") Los Angeles Harbor Region
                        li
                            a(href="#") Hollywood
            // END : ITM
            section.area-itm.col-md-3.col-sm-3.col-xs-6
                a(href="category.html")
                    figure.area-img(style="background-image: url(uploads/sd.jpg);")
                        h3 San Diego
                    .desc
                        ol
                            li
                                a(href="#") San Diego-Imperal
                            li
                                a(href="#") San Diego County
                            li
                                a(href="#") San Diego - Tijuana
                            li
                                a(href="#") Carlsbad
                            li
                                a(href="#") San Marcos
            // END : ITM
            section.area-itm.col-md-3.col-sm-3.col-xs-6
                a(href="category.html")
                    figure.area-img(style="background-image: url(uploads/sj.jpg);")
                        h3 San Jose
                    .desc
                        ol
                            li
                                a(href="#") Little Saigon
                            li
                                a(href="#") Silicon Valley
                            li
                                a(href="#") Downtown San Jose
                            li
                                a(href="#") Central San Jose
                            li
                                a(href="#") San Jose Convention Center
            // END : ITM
            section.area-itm.col-md-3.col-sm-3.col-xs-6
                a(href="category.html")
                    figure.area-img(style="background-image: url(uploads/sf.jpg);")
                        h3 San Francisco
                    .desc
                        ol
                            li
                                a(href="#") Market Town
                            li
                                a(href="#") Russian Hill
                            li
                                a(href="#") North Beach
                            li
                                a(href="#") Telegraph Hill
                            li
                                a(href="#") San Francisco Chinatown
            // END : ITM
