section.blk-area-wrap
    .container
        h2.area-ttl Popular Areas
        .row
            section.area-itm.col-md-3.col-sm-3.col-xs-6
                a(href="#")
                    figure.area-img(style="background-image: url(uploads/la.jpg);")
                        h3 Los Angeles
                .desc
                    ul
                        li
                            a(href="#") Los Angeles Center
                        li
                            a(href="#") Eastside Los Angeles
                        li
                            a(href="#") South Los Angeles
                        li
                            a(href="#") Los Angeles Harbor Region
                        li
                            a(href="#") Hollywood
                        li
                            a(href="#") Wilshire
                        li
                            a(href="#") Westside
                        li
                            a(href="#") San Fernando
                        li
                            a(href="#") Crescenta
                        li
                            a(href="#") Venice Beach
            // END : ITM
            section.area-itm.col-md-3.col-sm-3.col-xs-6
                a(href="#")
                    figure.area-img(style="background-image: url(uploads/sd.jpg);")
                        h3 San Diego
                    .desc
                        ul
                            li
                                a(href="#") San Diego-Imperal
                            li
                                a(href="#") San Diego County
                            li
                                a(href="#") San Diego - Tijuana
                            li
                                a(href="#") Carlsbad
                            li
                                a(href="#") San Marcos
            // END : ITM
            section.area-itm.col-md-3.col-sm-3.col-xs-6
                a(href="#")
                    figure.area-img(style="background-image: url(uploads/sj.jpg);")
                        h3 San Jose
                    .desc
                        ul
                            li
                                a(href="#") Little Saigon
                            li
                                a(href="#") Silicon Valley
                            li
                                a(href="#") Downtown San Jose
                            li
                                a(href="#") Central San Jose
                            li
                                a(href="#") San Jose Convention Center
            // END : ITM
            section.area-itm.col-md-3.col-sm-3.col-xs-6
                a(href="#")
                    figure.area-img(style="background-image: url(uploads/sf.jpg);")
                        h3 San Francisco
                    .desc
                        ul
                            li
                                a(href="#") Market Town
                            li
                                a(href="#") Russian Hill
                            li
                                a(href="#") North Beach
                            li
                                a(href="#") Telegraph Hill
                            li
                                a(href="#") San Francisco Chinatown
                            li
                                a(href="#") South of Market
                            li
                                a(href="#") Mission Bay
                            li
                                a(href="#") Western Addition
                            li
                                a(href="#") Hayes Valley
                            li
                                a(href="#") The Fillmore
                            li
                                a(href="#") San Francisco Japantown
                            li
                                a(href="#") Haight-Ashbury
                            li
                                a(href="#") Pacific Heights
            // END : ITM
