section.blk-suggest-login
    .container
        | Join the millions of hosts and guests in Zonepace's trusted community.
        a(href="#", data-toggle="modal", data-target="#myLogin", class="sg-login") Log In
        a(href="#", data-toggle="modal", data-target="#mySignUp", class="sg-signup") Sign Up
