section.blk-category   
    .container
        .blk-popular
            i.fa.fa-star
            | Most Popular Venues
        .row
            .grid-cate
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 A
                        ul
                            li
                                a(href='location-list.html') Afc Wimbledon
                            li
                                a(href='location-list.html') American Express Stadium
                            li
                                a(href='location-list.html') Anfield
                            li
                                a(href='location-list.html') Anfield Stadium
                            li
                                a(href='location-list.html') Ashton Gate
                            li
                                a(href='location-list.html') Wycombe Wanderers
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 B
                        ul
                            li
                                a(href='location-list.html') Bescot Stadium
                            li
                                a(href='location-list.html') Birmingham Hippodrome
                            li
                                a(href='location-list.html') Bloomfield Road
                            li
                                a(href='location-list.html') Blundell Park
                            li
                                a(href='location-list.html') Boundary Park
                            li
                                a(href='location-list.html') Bramall Lane
                            li
                                a(href='location-list.html') Britannia Stadium
                            li
                                a(href='location-list.html') Britannia Stadium
                            li
                                a(href='location-list.html') Broadfield Stadium
                            li
                                a(href='location-list.html') Brunton Park
                            li
                                a(href='location-list.html') York City
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 c
                        ul
                            li
                                a(href='location-list.html') Cardiff City Stadium
                            li
                                a(href='location-list.html') Carrow Road
                            li
                                a(href='location-list.html') Celtic Park
                            li
                                a(href='location-list.html') Clydebank
                            li
                                a(href='location-list.html') The County Ground
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 d
                        ul
                            li
                                a(href='location-list.html') Deepdale
                            li
                                a(href='location-list.html') DeepdaleDW Stadium
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 e
                        ul
                            li
                                a(href='location-list.html') City Of Manchester Stadium
                            li
                                a(href='location-list.html') Ebb Stadium
                            li
                                a(href='location-list.html') Elland Road
                            li
                                a(href='location-list.html') Elm Park
                            li
                                a(href='location-list.html') Etihad Stadium
                            li
                                a(href='location-list.html') Ewood Park
                            li
                                a(href='location-list.html') Exeter City Football Club
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 f
                        ul
                            li
                                a(href='location-list.html') Falkirk Stadium
                            li
                                a(href='location-list.html') Fleetwood Town
                            li
                                a(href='location-list.html') Fratton Park
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 g
                        ul
                            li
                                a(href='location-list.html') Galpharm Stadium
                            li
                                a(href='location-list.html') Gigg Lane Stadium
                            li
                                a(href='location-list.html') Gmex
                            li
                                a(href='location-list.html') Goodison Park
                            li
                                a(href='location-list.html') Greenhous Meadow
                            li
                                a(href='location-list.html') Gresty Road
                            li
                                a(href='location-list.html') Griffin Park
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 h
                        ul
                            li
                                a(href='location-list.html') Hammersmith Apollo
                            li
                                a(href='location-list.html') Hampden Park
                            li
                                a(href='location-list.html') Hillsborough
                            li
                                a(href='location-list.html') Home Park
                            li
                                a(href='location-list.html') Huish Park
                            li
                                a(href='location-list.html') Victoria Park Hartlepool
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 i
                        ul
                            li
                                a(href='location-list.html') Ibrox Stadium
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 k
                        ul
                            li
                                a(href='location-list.html') Kassam Stadium
                            li
                                a(href='location-list.html') Kc Stadium
                            li
                                a(href='location-list.html') Keepmoat Stadium
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 l
                        ul
                            li
                                a(href='location-list.html') Liberty Stadium
                            li
                                a(href='location-list.html') Loftus Road
                            li
                                a(href='location-list.html') London Road Stadium
                            li
                                a(href='location-list.html') The Echo Arena
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 m
                        ul
                            li
                                a(href='location-list.html') Leyton Orient
                            li
                                a(href='location-list.html') Madejski Stadium
                            li
                                a(href='location-list.html') Meadow Lane
                            li
                                a(href='location-list.html') Memorial Stadium
                            li
                                a(href='location-list.html') Millennium Stadium
                            li
                                a(href='location-list.html') Molineux Stadium
                            li
                                a(href='location-list.html') Murrayfield Stadium
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 n
                        ul
                            li
                                a(href='location-list.html') Nottingham Playhouse
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 o
                        ul
                            li
                                a(href='location-list.html') Oakwell Stadium
                            li
                                a(href='location-list.html') Old Trafford Stadium
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 p
                        ul
                            li
                                a(href='location-list.html') Emirates Stadium
                            li
                                a(href='location-list.html') Phones 4u Arena
                            li
                                a(href='location-list.html') Pirelli Stadium
                            li
                                a(href='location-list.html') Pittodrie Stadium
                            li
                                a(href='location-list.html') Plainmoor
                            li
                                a(href='location-list.html') Portman Road Stadium
                            li
                                a(href='location-list.html') Prenton Park
                            li
                                a(href='location-list.html') Pride Park
                            li
                                a(href='location-list.html') Priestfield Stadium
                            li
                                a(href='location-list.html') Proact Stadium
                            li
                                a(href='location-list.html') Stamford Bridge
                            li
                                a(href='location-list.html') White Hart Lane
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 r
                        ul
                            li
                                a(href='location-list.html') Reebok Stadium
                            li
                                a(href='location-list.html') Ricoh Arena
                            li
                                a(href='location-list.html') Riverside Stadium
                            li
                                a(href='location-list.html') Roots Hall
                            li
                                a(href='location-list.html') Rotherham United
                            li
                                a(href='location-list.html') Rugby Park
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 s
                        ul
                            li
                                a(href='location-list.html') Selhurst Park
                            li
                                a(href='location-list.html') Sixfields Stadium
                            li
                                a(href='location-list.html') St Andrews Stadium
                            li
                                a(href='location-list.html') St Helens
                            li
                                a(href='location-list.html') St James Park
                            li
                                a(href='location-list.html') St Marys Stadium
                            li
                                a(href='location-list.html') Stadium MK
                            li
                                a(href='location-list.html') Stadium Of Light
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 t
                        ul
                            li
                                a(href='location-list.html') Hawthorns
                            li
                                a(href='location-list.html') Lamex Stadium
                            li
                                a(href='location-list.html') Tannadice Park
                            li
                                a(href='location-list.html') The City Ground
                            li
                                a(href='location-list.html') The Crown Ground
                            li
                                a(href='location-list.html') The Den Stadium
                            li
                                a(href='location-list.html') The National Indoor Arena
                            li
                                a(href='location-list.html') The Valley Stadium
                            li
                                a(href='location-list.html') Turf Moor Stadium
                            li
                                a(href='location-list.html') Twickenham Stadium
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 u
                        ul
                            li
                                a(href='location-list.html') Underhill
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 v
                        ul
                            li
                                a(href='location-list.html') Vale Park
                            li
                                a(href='location-list.html') Valley Parade Stadium
                            li
                                a(href='location-list.html') Vicarage Road
                            li
                                a(href='location-list.html') Villa Park
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 w
                        ul
                            li
                                a(href='location-list.html') Wembley Stadium & Arena
                            li
                                a(href='location-list.html') Weston Homes Community Stadium
                // END : ITM
