section.blk-category   
    .container
        .blk-popular
            i.fa.fa-star
            | Most Popular Venues
        .row
            .grid-cate
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 A
                        ul
                            li
                                a(href='#') Afc Wimbledon
                            li
                                a(href='#') American Express Stadium
                            li
                                a(href='#') Anfield
                            li
                                a(href='#') Anfield Stadium
                            li
                                a(href='#') Ashton Gate
                            li
                                a(href='#') Wycombe Wanderers
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 B
                        ul
                            li
                                a(href='#') Bescot Stadium
                            li
                                a(href='#') Birmingham Hippodrome
                            li
                                a(href='#') Bloomfield Road
                            li
                                a(href='#') Blundell Park
                            li
                                a(href='#') Boundary Park
                            li
                                a(href='#') Bramall Lane
                            li
                                a(href='#') Britannia Stadium
                            li
                                a(href='#') Britannia Stadium
                            li
                                a(href='#') Broadfield Stadium
                            li
                                a(href='#') Brunton Park
                            li
                                a(href='#') York City
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 c
                        ul
                            li
                                a(href='#') Cardiff City Stadium
                            li
                                a(href='#') Carrow Road
                            li
                                a(href='#') Celtic Park
                            li
                                a(href='#') Clydebank
                            li
                                a(href='#') The County Ground
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 d
                        ul
                            li
                                a(href='#') Deepdale
                            li
                                a(href='#') DeepdaleDW Stadium
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 e
                        ul
                            li
                                a(href='#') City Of Manchester Stadium
                            li
                                a(href='#') Ebb Stadium
                            li
                                a(href='#') Elland Road
                            li
                                a(href='#') Elm Park
                            li
                                a(href='#') Etihad Stadium
                            li
                                a(href='#') Ewood Park
                            li
                                a(href='#') Exeter City Football Club
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 f
                        ul
                            li
                                a(href='#') Falkirk Stadium
                            li
                                a(href='#') Fleetwood Town
                            li
                                a(href='#') Fratton Park
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 g
                        ul
                            li
                                a(href='#') Galpharm Stadium
                            li
                                a(href='#') Gigg Lane Stadium
                            li
                                a(href='#') Gmex
                            li
                                a(href='#') Goodison Park
                            li
                                a(href='#') Greenhous Meadow
                            li
                                a(href='#') Gresty Road
                            li
                                a(href='#') Griffin Park
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 h
                        ul
                            li
                                a(href='#') Hammersmith Apollo
                            li
                                a(href='#') Hampden Park
                            li
                                a(href='#') Hillsborough
                            li
                                a(href='#') Home Park
                            li
                                a(href='#') Huish Park
                            li
                                a(href='#') Victoria Park Hartlepool
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 i
                        ul
                            li
                                a(href='#') Ibrox Stadium
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 k
                        ul
                            li
                                a(href='#') Kassam Stadium
                            li
                                a(href='#') Kc Stadium
                            li
                                a(href='#') Keepmoat Stadium
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 l
                        ul
                            li
                                a(href='#') Liberty Stadium
                            li
                                a(href='#') Loftus Road
                            li
                                a(href='#') London Road Stadium
                            li
                                a(href='#') The Echo Arena
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 m
                        ul
                            li
                                a(href='#') Leyton Orient
                            li
                                a(href='#') Madejski Stadium
                            li
                                a(href='#') Meadow Lane
                            li
                                a(href='#') Memorial Stadium
                            li
                                a(href='#') Millennium Stadium
                            li
                                a(href='#') Molineux Stadium
                            li
                                a(href='#') Murrayfield Stadium
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 n
                        ul
                            li
                                a(href='#') Nottingham Playhouse
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 o
                        ul
                            li
                                a(href='#') Oakwell Stadium
                            li
                                a(href='#') Old Trafford Stadium
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 p
                        ul
                            li
                                a(href='#') Emirates Stadium
                            li
                                a(href='#') Phones 4u Arena
                            li
                                a(href='#') Pirelli Stadium
                            li
                                a(href='#') Pittodrie Stadium
                            li
                                a(href='#') Plainmoor
                            li
                                a(href='#') Portman Road Stadium
                            li
                                a(href='#') Prenton Park
                            li
                                a(href='#') Pride Park
                            li
                                a(href='#') Priestfield Stadium
                            li
                                a(href='#') Proact Stadium
                            li
                                a(href='#') Stamford Bridge
                            li
                                a(href='#') White Hart Lane
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 r
                        ul
                            li
                                a(href='#') Reebok Stadium
                            li
                                a(href='#') Ricoh Arena
                            li
                                a(href='#') Riverside Stadium
                            li
                                a(href='#') Roots Hall
                            li
                                a(href='#') Rotherham United
                            li
                                a(href='#') Rugby Park
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 s
                        ul
                            li
                                a(href='#') Selhurst Park
                            li
                                a(href='#') Sixfields Stadium
                            li
                                a(href='#') St Andrews Stadium
                            li
                                a(href='#') St Helens
                            li
                                a(href='#') St James Park
                            li
                                a(href='#') St Marys Stadium
                            li
                                a(href='#') Stadium MK
                            li
                                a(href='#') Stadium Of Light
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 t
                        ul
                            li
                                a(href='#') Hawthorns
                            li
                                a(href='#') Lamex Stadium
                            li
                                a(href='#') Tannadice Park
                            li
                                a(href='#') The City Ground
                            li
                                a(href='#') The Crown Ground
                            li
                                a(href='#') The Den Stadium
                            li
                                a(href='#') The National Indoor Arena
                            li
                                a(href='#') The Valley Stadium
                            li
                                a(href='#') Turf Moor Stadium
                            li
                                a(href='#') Twickenham Stadium
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 u
                        ul
                            li
                                a(href='#') Underhill
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 v
                        ul
                            li
                                a(href='#') Vale Park
                            li
                                a(href='#') Valley Parade Stadium
                            li
                                a(href='#') Vicarage Road
                            li
                                a(href='#') Villa Park
                // END : ITM
                section.grid-itm.col-md-4.col-sm-6.col-xs-6
                    .inner
                        h3 w
                        ul
                            li
                                a(href='#') Wembley Stadium & Arena
                            li
                                a(href='#') Weston Homes Community Stadium
                // END : ITM