section.blk-category-wrap
    header.blk-cat-title
        .container
            i.ico
            h2 Los Angeles
    // END : TITLE
    include blk-grid-category.jade
    // END : GRID CATE
    include blk-map.jade
    // END : MAPs