section.blk-category-wrap
    header.blk-cat-title
        .container
            i.ico
            h2 Los Angeles
            a(href="#",class="btn btn-red")
                i.fa.fa-car
                | List your space
    // END : TITLE
    include blk-grid-category.jade
    // END : GRID CATE
    include blk-map.jade
    // END : MAPs