section.footer-follow
    .container
        h2.foo-ttl follow us on
        ul.clearfix
            li
                a(href="#", title="Linkedin")
                    i.fa.fa-linkedin
            li
                a(href="#", title="Pinterest")
                    i.fa.fa-pinterest-p
            li
                a(href="#", title="Pinterest")
                    i.fa.fa-pinterest-p
            li
                a(href="#", title="Pinterest")
                    i.fa.fa-pinterest-p
            li
                a(href="#", title="Twitter")
                    i.fa.fa-twitter
            li
                a(href="#", title="Facebook")
                    i.fa.fa-facebook
        p.t-c
            | Copyright 2016 by © 
            b ZONPACE, INC.