section.footer-menu
    .container
        .row
            section.footer-choice.col-md-3.col-sm-3.col-xs-6
                .foo-logo zonepace
                .blk-lang
                    select(class="slect slect-lang")
                        option(value='') Language (Eng)
                        option(value='en') English
                        option(value='fr') French
                // END : BLK 
                .blk-money
                    select(class="slect slect-money")
                        option(value='') Currency (USD)
                        option(value='VND') VND
                        option(value='$') $
                        option(value='€') €
                // END : BLK 
            section.footer-company.col-md-2.col-sm-2.col-xs-6
                h2.foo-ttl company
                ul
                    li
                        a(href="#") About
                    li
                        a(href="#") Careers
                    li
                        a(href="#") Press
                    li
                        a(href="#") Blog
                    li
                        a(href="#") Help
                    li
                        a(href="#") Policies
                    li
                        a(href="#") Disaster Respone
                    li
                        a(href="#") Terms & Privacy
            // END : COMPANY
            section.footer-discover.col-md-2.col-sm-2.col-xs-6
                h2.foo-ttl USING ZONPACE
                ul
                    li
                        a(href="#") Why Host
                    li
                        a(href="#") Responsible Hosting
                    li
                        a(href="#") Booking Guarantee
                    li
                        a(href="#") Zonpace Picks
            // END : DISCOVER
            section.footer-subscrible.col-md-5.col-sm-5.col-xs-6
                section.blk-subscrible
                    h2.foo-ttl SUBSCRIBE TO OUR NEWSLETTER
                    form(class="frm-subscrible")
                        input(type='text', class="ipt", placeholder='Email address')
                        input(type="submit", class="btn btn-subscrible",value='Subscribe')
                // END : SUBSCRIBLE
                section.blk-social
                    h2.foo-ttl JOIN US ON
                    a(href="#")
                        i.fa.fa-facebook
                    a(href="#")
                        i.fa.fa-twitter
                    a(href="#")
                        i.fa.fa-linkedin
                    a(href="#")
                        i.fa.fa-youtube-play 
                    a(href="#")
                        i.fa.fa-instagram
                // END : SOCIAL
            // END : SUBSCRIBLE WRAP
