section.footer-menu
    .container
        .row
            section.footer-company.col-md-3.col-sm-3.col-xs-6
                h2.foo-ttl company
                ul
                    li
                        a(href="#") About
                    li
                        a(href="#") Careers
                    li
                        a(href="#") Press
                    li
                        a(href="#") Blog
                    li
                        a(href="#") Help
                    li
                        a(href="#") Policies
                    li
                        a(href="#") Disaster Respone
                    li
                        a(href="#") Terms & Privacy
            // END : COMPANY
            section.footer-discover.col-md-3.col-sm-3.col-xs-6
                h2.foo-ttl discover
                ul
                    li
                        a(href="#") Trust & Safety
                    li
                        a(href="#") Travel Credit
                    li
                        a(href="#") Gift Cards
                    li
                        a(href="#") Airbnb Picks
                    li
                        a(href="#") Mobile
                    li
                        a(href="#") Airbnb Action
                    li
                        a(href="#") Business Travel
                    li
                        a(href="#") Site map
            // END : DISCOVER
            section.footer-hosting.col-md-3.col-sm-3.col-xs-6
                h2.foo-ttl hosting
                ul
                    li
                        a(href="#") Why Host
                    li
                        a(href="#") Hospitality
                    li
                        a(href="#") Responesible Hosting
                    li
                        a(href="#") Home Safety
            // END : HOSTING
            section.footer-choice.col-md-3.col-sm-3.col-xs-6
                .blk-lang
                    h2.foo-ttl select language
                    select(class="slect slect-lang")
                        option(value='en') English
                        option(value='fr') French
                // END : BLK 
                .blk-money
                    h2.foo-ttl your money type
                    select(class="slect slect-money")
                        option(value='$') $
                        option(value='€') €
                // END : BLK 
            // END : CHOICE