section.main-slider.flexslider
    ul.slides
        li(style="background-image: url('uploads/main-slider-1.jpg')")
            img(src="uploads/main-slider-1.jpg", alt="")
        li(style="background-image: url('uploads/main-slider-2.jpg')")
            img(src="uploads/main-slider-2.jpg", alt="")
        li(style="background-image: url('uploads/main-slider-3.jpg')")
            img(src="uploads/main-slider-3.jpg", alt="")
    .text-demo
        h2 welcome home
        h3 Rent unique places to stay from local hosts in 190+ countries.
        .t-c
            a(href="javascript:;", class="how_works") How It Works
