section.main-slider.flexslider
    ul.slides
        li(style="background-image: url('uploads/main-slider-1.jpg')")
            img(src="uploads/main-slider-1.jpg", alt="")
        li(style="background-image: url('uploads/main-slider-2.jpg')")
            img(src="uploads/main-slider-2.jpg", alt="")
        li(style="background-image: url('uploads/main-slider-3.jpg')")
            img(src="uploads/main-slider-3.jpg", alt="")
    .text-demo welcome home