section.menu-mobile
    .menu-mobile-inner
        a(href="#",class="a_close")
            i.fa.fa-times
        ul.menu
            li.active
                a(href="#") Lease My Space
            li
                a(href="#") Home
            li
                a(href="#") How It Works
            li
                a(href="#") Help
            li
                a(href="#") Log In / Sign Up