//- Modal SIgn Up
.modal.fade(id="myLogin", class="myPopup" ,tabindex="-1" ,role="dialog", aria-labelledby="myLogin")
    .modal-dialog(role="document")
        .modal-content
            span(class="close", data-dismiss="modal" ,aria-label="Close" ,aria-hidden="true") &times;
            .modal-body
                .social-button
                    a(href="#", class="facebook")
                        i.fa.fa-facebook
                        span Sign up with Facebook
                    a(href="#", class="google")
                        i.ico-google
                        span Sign up with Google
                .sepe 
                    span or
                .social-button.sc-email
                    form(class="frm-login")
                        .itm-ipt
                            input(type="email", class="ipt", placeholder="Email Address")
                            i.fa.fa-envelope-o
                        .itm-ipt
                            input(type="password", class="ipt", placeholder="Password")
                            i.fa.fa-lock
                        .itm-remem
                            span.remem
                                input(type="checkbox", id="remem")
                                label(for="remem") Remember me
                            span.forgot
                                a(href="#", , data-toggle="modal", data-target="#myForgot", data-dismiss="modal") Forgot Password?
                        button(class="btn btn-red") Log In
                .blk-redir
                    | Don't have an account? 
                    a(href="#", data-toggle="modal", data-target="#mySignUp", data-dismiss="modal") Sign up