header.header-wrap.hd-fixed
    .container-fluid
        .row
            section.header-logo.col-md-6.col-sm-6.col-xs-12
                h1.logo
                    a(href="#", title="Zone & Pace Rentals")
                        img(src="images/logo.png", alt="")
                section.header-search
                    form(class="frm-search", name="frm-search")
                        button(type="submit")
                            i.fa.fa-search
                        input(type="text", id="ipt-search", placeholder="Zone & space rentals", name="title")
                // END : SEARCH
            // END : LOGO
            section.header-menu.col-md-6.col-sm-6.col-xs-12
                ul.menu.clearfix
                    li.active
                        a(href="#") Lease My Space
                    li
                        a(href="#") Home
                    li
                        a(href="#") How It Works
                    li
                        a(href="#") Help
                    li
                        a(href="#") Log In / Sign Up
            // END : LOGO
