.step-2
    .intro-upload
    // UPLOAD IMG
    .step2-streetview
        .intro
            h2 Choose your Streetview location
            p You can adjust the Streetview direction below so that it’s directed at your space.
        #streetview-map(data-lat="51.480761", data-lng="-3.193194")
    // MAPs
    .next
        .t-r
            input(type="submit", value="Next", class="btn btn-red")
