section.profile-mb-menu
    .prof-mb-title
        .container
            h2 Account
        a(href="javascript:;", class="prof-mb")
            i.fa.fa-angle-down
    .prof-mb-menu
        .container
            ul
                li.account
                    a(href="#") Account
                    ul
                        li.switch
                            a(href="#") Switch to tenant account
                        li
                            a(href="#")
                                | Overview
                        li
                            a(href="#")
                                | My Listings
                        li
                            a(href="#")
                                | My Booking
                        li
                            a(href="#")
                                | Payment Preferences
                        li.active
                            a(href="#")
                                | My Account
                        li
                            a(href="#")
                                | Logout
