section.profile-content.col-md-9.col-sm-8.col-xs-12
    h2.prof-ttl-page
        i.fa.fa-bar-chart
        | Overview
    .prof-content
        .blk-pending
            .row
                section.col-md-3.col-sm-6.col-xs-6.pending-itm
                    .inner
                        h3 Pending this Month
                            i.fa.fa-info-circle
                        .price £0.00
                // END : ITM
                section.col-md-3.col-sm-6.col-xs-6.pending-itm
                    .inner
                        h3 Pending Transfer
                            i.fa.fa-info-circle
                        .price £0.00
                // END : ITM
                section.col-md-3.col-sm-6.col-xs-6.pending-itm
                    .inner
                        h3 Lifetime Earnings
                            i.fa.fa-info-circle
                        .price £0.00
                // END : ITM
                section.col-md-3.col-sm-6.col-xs-6.pending-itm
                    .inner
                        h3 Lifetime Transactions
                            i.fa.fa-info-circle
                        .price 0
                // END : ITM
        .blk-booking
            p
                strong Last 0 Bookings
            p.prof-sts
                a(href="#", class="btn btn-lred") 0 Active
                a(href="#", class="btn btn-red") 0 Complete
        .blk-tbl-space
            p 
                strong Your Spaces 
                | (1)
            .table-responsive
                table.table.table-striped.table-bordered.table-hover
                    tr
                        th Postcode
                        th Listing Type
                        th Price
                        th Status
                        th Lifetime Earnings
                        th &nbsp;
                    tr
                        td 650000
                        td Garage
                        td £2.88
                        td 
                            span(class="btn btn-lred") 0 Active
                        td £ 0
                        td.td-action
                            a(href="#", class="btn btn-red") Disable
                            a(href="#", class="btn btn-red") Edit
                            a(href="#", class="btn btn-dred") View