section.profile-menu.col-md-3.col-sm-4.col-xs-12
    h2.prof-menu-ttl Navigation
    .switch-acc
        a(href="#") Swith to tenant account
    ul.prof-menu
        li
            a(href="my-overview.html")
                i.fa.fa-bar-chart
                | Overview
                i.fa.fa-chevron-right.right
        li
            a(href="my-listing.html")
                i.fa.fa-list-ul
                | My Listings
                i.fa.fa-chevron-right.right
        li
            a(href="my-booking.html")
                i.fa.fa-calendar
                | My Booking
                i.fa.fa-chevron-right.right
        li
            a(href="my-payment.html")
                i.fa.fa-credit-card
                | Payment Preferences
                i.fa.fa-chevron-right.right
        li.active
            a(href="my-account.html")
                i.fa.fa-user
                | My Account
                i.fa.fa-chevron-right.right
        li
            a(href="#")
                i.fa.fa-sign-out
                | Logout
