section.blk-faqs.blk-white
    .container
        h2.blk-ttl FAQs
        .row
            section.col-xs-6
                h2.blk-ttl-bold For Searchers
                section.faqs-itm.shw
                    h3.faqs-title 
                        a(href="#", class="active") How do I create an account?
                    .faqs-content 
                        p If you don't have an Zonpace account yet, go to zonpace.com and click Sign Up. You can sign up using your email address, Facebook account, Google account, or Twitter. 
                        p Signing up and creating an Zonpace account is free. After you sign up, be sure to complete your account before booking a reservation.
                // END : ITM
                section.faqs-itm
                    h3.faqs-title 
                        a(href="#") How do I cancel my rentals?
                    .faqs-content 
                        p If you don't have an Zonpace account yet, go to zonpace.com and click Sign Up. You can sign up using your email address, Facebook account, Google account, or Twitter. 
                        p Signing up and creating an Zonpace account is free. After you sign up, be sure to complete your account before booking a reservation.
                // END : ITM
                section.faqs-itm
                    h3.faqs-title 
                        a(href="#") How do I edit my proﬁle or proﬁle photo?
                    .faqs-content 
                        p If you don't have an Zonpace account yet, go to zonpace.com and click Sign Up. You can sign up using your email address, Facebook account, Google account, or Twitter. 
                        p Signing up and creating an Zonpace account is free. After you sign up, be sure to complete your account before booking a reservation.
                // END : ITM
                section.faqs-itm
                    h3.faqs-title 
                        a(href="#") Can I get a receipt for my payment?
                    .faqs-content 
                        p If you don't have an Zonpace account yet, go to zonpace.com and click Sign Up. You can sign up using your email address, Facebook account, Google account, or Twitter. 
                        p Signing up and creating an Zonpace account is free. After you sign up, be sure to complete your account before booking a reservation.
                // END : ITM
                section.faqs-itm
                    h3.faqs-title 
                        a(href="#") How do I create an account?
                    .faqs-content 
                        p If you don't have an Zonpace account yet, go to zonpace.com and click Sign Up. You can sign up using your email address, Facebook account, Google account, or Twitter. 
                        p Signing up and creating an Zonpace account is free. After you sign up, be sure to complete your account before booking a reservation.
                // END : ITM
                section.faqs-itm
                    h3.faqs-title 
                        a(href="#") How do I cancel my rentals?
                    .faqs-content 
                        p If you don't have an Zonpace account yet, go to zonpace.com and click Sign Up. You can sign up using your email address, Facebook account, Google account, or Twitter. 
                        p Signing up and creating an Zonpace account is free. After you sign up, be sure to complete your account before booking a reservation.
                // END : ITM
                section.faqs-itm
                    h3.faqs-title 
                        a(href="#") How do I edit my proﬁle or proﬁle photo?
                    .faqs-content 
                        p If you don't have an Zonpace account yet, go to zonpace.com and click Sign Up. You can sign up using your email address, Facebook account, Google account, or Twitter. 
                        p Signing up and creating an Zonpace account is free. After you sign up, be sure to complete your account before booking a reservation.
                // END : ITM
                section.faqs-itm
                    h3.faqs-title 
                        a(href="#") Can I get a receipt for my payment?
                    .faqs-content 
                        p If you don't have an Zonpace account yet, go to zonpace.com and click Sign Up. You can sign up using your email address, Facebook account, Google account, or Twitter. 
                        p Signing up and creating an Zonpace account is free. After you sign up, be sure to complete your account before booking a reservation.
                // END : ITM
            // END : COL
            section.col-xs-6
                h2.blk-ttl-bold For Owners
                section.faqs-itm
                    h3.faqs-title 
                        a(href="#") How do I cancel my rentals?
                    .faqs-content 
                        p If you don't have an Zonpace account yet, go to zonpace.com and click Sign Up. You can sign up using your email address, Facebook account, Google account, or Twitter. 
                        p Signing up and creating an Zonpace account is free. After you sign up, be sure to complete your account before booking a reservation.
                // END : ITM
                section.faqs-itm
                    h3.faqs-title 
                        a(href="#") How do I edit my proﬁle or proﬁle photo?
                    .faqs-content 
                        p If you don't have an Zonpace account yet, go to zonpace.com and click Sign Up. You can sign up using your email address, Facebook account, Google account, or Twitter. 
                        p Signing up and creating an Zonpace account is free. After you sign up, be sure to complete your account before booking a reservation.
                // END : ITM
                section.faqs-itm
                    h3.faqs-title 
                        a(href="#") Can I get a receipt for my payment?
                    .faqs-content 
                        p If you don't have an Zonpace account yet, go to zonpace.com and click Sign Up. You can sign up using your email address, Facebook account, Google account, or Twitter. 
                        p Signing up and creating an Zonpace account is free. After you sign up, be sure to complete your account before booking a reservation.
                // END : ITM
                section.faqs-itm
                    h3.faqs-title 
                        a(href="#") How do I create an account?
                    .faqs-content 
                        p If you don't have an Zonpace account yet, go to zonpace.com and click Sign Up. You can sign up using your email address, Facebook account, Google account, or Twitter. 
                        p Signing up and creating an Zonpace account is free. After you sign up, be sure to complete your account before booking a reservation.
                // END : ITM
                section.faqs-itm
                    h3.faqs-title 
                        a(href="#") How do I cancel my rentals?
                    .faqs-content 
                        p If you don't have an Zonpace account yet, go to zonpace.com and click Sign Up. You can sign up using your email address, Facebook account, Google account, or Twitter. 
                        p Signing up and creating an Zonpace account is free. After you sign up, be sure to complete your account before booking a reservation.
                // END : ITM
                section.faqs-itm
                    h3.faqs-title 
                        a(href="#") How do I edit my proﬁle or proﬁle photo?
                    .faqs-content 
                        p If you don't have an Zonpace account yet, go to zonpace.com and click Sign Up. You can sign up using your email address, Facebook account, Google account, or Twitter. 
                        p Signing up and creating an Zonpace account is free. After you sign up, be sure to complete your account before booking a reservation.
                // END : ITM
                section.faqs-itm
                    h3.faqs-title 
                        a(href="#") Can I get a receipt for my payment?
                    .faqs-content 
                        p If you don't have an Zonpace account yet, go to zonpace.com and click Sign Up. You can sign up using your email address, Facebook account, Google account, or Twitter. 
                        p Signing up and creating an Zonpace account is free. After you sign up, be sure to complete your account before booking a reservation.
                // END : ITM
                section.faqs-itm
                    h3.faqs-title 
                        a(href="#") How do I create an account?
                    .faqs-content 
                        p If you don't have an Zonpace account yet, go to zonpace.com and click Sign Up. You can sign up using your email address, Facebook account, Google account, or Twitter. 
                        p Signing up and creating an Zonpace account is free. After you sign up, be sure to complete your account before booking a reservation.
                // END : ITM
            // END : COL