header.location-header.clearfix
    section.location-map
        #location-map
        a(href="javascript:;", class="btn btn-red view_space") View space list
    // END: MAPs
    section.location-list
        .box-filter
            a(href="javascript:;", class="a_filter_close") Hide Filters
            .box-inner
                form(class="frm-adv-filer")
                    .section-filter
                        h3 Type of Space:
                        ul
                            li
                                input(type="radio", name="rd-space", id="rd-parking")
                                label(for="rd-parking") Parking
                            li
                                input(type="radio", name="rd-space", id="rd-garages")
                                label(for="rd-garages") Garages
                            li
                                input(type="radio", name="rd-space", id="rd-all", checked="checked")
                                label(for="rd-all") All Spaces
                    // END : FILTER
                    .section-filter
                        h3 Only show spaces with:
                        ul
                            li
                                input(type="checkbox", name="chk-space", id="chk-access")
                                label(for="chk-access") 24/7 Access
                            li
                                input(type="checkbox", name="chk-space", id="chk-shelter")
                                label(for="chk-shelter") Sheltered parking
                            li
                                input(type="checkbox", name="chk-space", id="chk-security")
                                label(for="chk-security") Security Gates
                            li
                                input(type="checkbox", name="chk-space", id="chk-airport")
                                label(for="chk-airport") Airport transfes
                            li
                                input(type="checkbox", name="chk-space", id="chk-all")
                                label(for="chk-all") Allocated space
                    // END : FILTER
        // END: FILTER ADVANCES
        .inner
            section.blk-head-locat
                section.lct-head-title
                    h2
                        i.fa.fa-map-marker
                        | Cardiff Airport Parking
                    a(href="javascript:;", class="a_filter") Advanced Filters
                // END : TTL
                section.lct-type
                    .row
                        section.col-xs-6.type-itm
                            .box
                                input(type="checkbox", name="fil-month", id="fil-month")
                                label(for="fil-month") Monthly Parking
                        // END : ITM
                        section.col-xs-6.type-itm
                            .box
                                input(type="checkbox", name="fil-short", id="fil-short")
                                label(for="fil-short") Short-term Parking
                        // END : ITM
                // END : TYPE
            section.list
                .inner
                    .location-itm
                        a(href="#")
                            span.num a
                            .ftable
                                .ftd.locat-img(style="background-image: url('uploads/location-img.jpg')")
                                    .blk-time
                                        span
                                            i.fa.fa-clock-o
                                            | Daily
                                        span
                                            i.fa.fa-calendar
                                            | Monthly
                                .ftd.locat-info
                                    .details
                                        .blk-ttl.clearfix
                                            .distance 2.8 miles
                                            h3 Summerfield Gardens, LS13
                                        .desc Driveway on Summerfield Gardens that can park 2
                                        ul.features.clearfix
                                            li.available
                                                i.fa.fa-check
                                                | Space available now
                                            li.instant
                                                i.fa.fa-bolt
                                                | Instant book
                                    // END : DETAIL
                                    .prices-row
                                        .prices
                                            .price
                                                strong £5.00
                                                | per day
                                            .price
                                                strong £93.75
                                                | per month
                                            .price.book-button
                                                span(class="btn btn-red uppercase") book now
                                    // END : PRICEs
                                // END : INFO
                    // END : ITM
                    .location-itm
                        a(href="#")
                            span.num b
                            .ftable
                                .ftd.locat-img(style="background-image: url('uploads/location-img.jpg')")
                                    .blk-time
                                        span
                                            i.fa.fa-clock-o
                                            | Daily
                                        span
                                            i.fa.fa-calendar
                                            | Monthly
                                .ftd.locat-info
                                    .details
                                        .blk-ttl.clearfix
                                            .distance 2.8 miles
                                            h3 Summerfield Gardens, LS13
                                        .desc Driveway on Summerfield Gardens that can park 2
                                        ul.features.clearfix
                                            li.available
                                                i.fa.fa-check
                                                | Space available now
                                            li.instant
                                                i.fa.fa-bolt
                                                | Instant book
                                    // END : DETAIL
                                    .prices-row
                                        .prices
                                            .price
                                                strong £5.00
                                                | per day
                                            .price
                                                strong £93.75
                                                | per month
                                            .price.book-button
                                                span(class="btn btn-red uppercase") book now
                                    // END : PRICEs
                                // END : INFO
                    // END : ITM
                    .location-itm
                        a(href="#")
                            span.num c
                            .ftable
                                .ftd.locat-img(style="background-image: url('uploads/location-img.jpg')")
                                    .blk-time
                                        span
                                            i.fa.fa-clock-o
                                            | Daily
                                        span
                                            i.fa.fa-calendar
                                            | Monthly
                                .ftd.locat-info
                                    .details
                                        .blk-ttl.clearfix
                                            .distance 2.8 miles
                                            h3 Summerfield Gardens, LS13
                                        .desc Driveway on Summerfield Gardens that can park 2
                                        ul.features.clearfix
                                            li.available
                                                i.fa.fa-check
                                                | Space available now
                                            li.instant
                                                i.fa.fa-bolt
                                                | Instant book
                                    // END : DETAIL
                                    .prices-row
                                        .prices
                                            .price
                                                strong £5.00
                                                | per day
                                            .price
                                                strong £93.75
                                                | per month
                                            .price.book-button
                                                span(class="btn btn-red uppercase") book now
                                    // END : PRICEs
                                // END : INFO
                    // END : ITM
                    .location-itm
                        a(href="#")
                            span.num d
                            .ftable
                                .ftd.locat-img(style="background-image: url('uploads/location-img.jpg')")
                                    .blk-time
                                        span
                                            i.fa.fa-clock-o
                                            | Daily
                                        span
                                            i.fa.fa-calendar
                                            | Monthly
                                .ftd.locat-info
                                    .details
                                        .blk-ttl.clearfix
                                            .distance 2.8 miles
                                            h3 Summerfield Gardens, LS13
                                        .desc Driveway on Summerfield Gardens that can park 2
                                        ul.features.clearfix
                                            li.available
                                                i.fa.fa-check
                                                | Space available now
                                            li.instant
                                                i.fa.fa-bolt
                                                | Instant book
                                    // END : DETAIL
                                    .prices-row
                                        .prices
                                            .price
                                                strong £5.00
                                                | per day
                                            .price
                                                strong £93.75
                                                | per month
                                            .price.book-button
                                                span(class="btn btn-red uppercase") book now
                                    // END : PRICEs
                                // END : INFO
                    // END : ITM
                    .location-itm
                        a(href="#")
                            span.num e
                            .ftable
                                .ftd.locat-img(style="background-image: url('uploads/location-img.jpg')")
                                    .blk-time
                                        span
                                            i.fa.fa-clock-o
                                            | Daily
                                        span
                                            i.fa.fa-calendar
                                            | Monthly
                                .ftd.locat-info
                                    .details
                                        .blk-ttl.clearfix
                                            .distance 2.8 miles
                                            h3 Summerfield Gardens, LS13
                                        .desc Driveway on Summerfield Gardens that can park 2
                                        ul.features.clearfix
                                            li.available
                                                i.fa.fa-check
                                                | Space available now
                                            li.instant
                                                i.fa.fa-bolt
                                                | Instant book
                                    // END : DETAIL
                                    .prices-row
                                        .prices
                                            .price
                                                strong £5.00
                                                | per day
                                            .price
                                                strong £93.75
                                                | per month
                                            .price.book-button
                                                span(class="btn btn-red uppercase") book now
                                    // END : PRICEs
                                // END : INFO
                    // END : ITM
                    .location-itm
                        a(href="#")
                            span.num f
                            .ftable
                                .ftd.locat-img(style="background-image: url('uploads/location-img.jpg')")
                                    .blk-time
                                        span
                                            i.fa.fa-clock-o
                                            | Daily
                                        span
                                            i.fa.fa-calendar
                                            | Monthly
                                .ftd.locat-info
                                    .details
                                        .blk-ttl.clearfix
                                            .distance 2.8 miles
                                            h3 Summerfield Gardens, LS13
                                        .desc Driveway on Summerfield Gardens that can park 2
                                        ul.features.clearfix
                                            li.available
                                                i.fa.fa-check
                                                | Space available now
                                            li.instant
                                                i.fa.fa-bolt
                                                | Instant book
                                    // END : DETAIL
                                    .prices-row
                                        .prices
                                            .price
                                                strong £5.00
                                                | per day
                                            .price
                                                strong £93.75
                                                | per month
                                            .price.book-button
                                                span(class="btn btn-red uppercase") book now
                                    // END : PRICEs
                                // END : INFO
                    // END : ITM
                    .location-itm
                        a(href="#")
                            span.num g
                            .ftable
                                .ftd.locat-img(style="background-image: url('uploads/location-img.jpg')")
                                    .blk-time
                                        span
                                            i.fa.fa-clock-o
                                            | Daily
                                        span
                                            i.fa.fa-calendar
                                            | Monthly
                                .ftd.locat-info
                                    .details
                                        .blk-ttl.clearfix
                                            .distance 2.8 miles
                                            h3 Summerfield Gardens, LS13
                                        .desc Driveway on Summerfield Gardens that can park 2
                                        ul.features.clearfix
                                            li.available
                                                i.fa.fa-check
                                                | Space available now
                                            li.instant
                                                i.fa.fa-bolt
                                                | Instant book
                                    // END : DETAIL
                                    .prices-row
                                        .prices
                                            .price
                                                strong £5.00
                                                | per day
                                            .price
                                                strong £93.75
                                                | per month
                                            .price.book-button
                                                span(class="btn btn-red uppercase") book now
                                    // END : PRICEs
                                // END : INFO
                    // END : ITM
                    .location-itm
                        a(href="#")
                            span.num h
                            .ftable
                                .ftd.locat-img(style="background-image: url('uploads/location-img.jpg')")
                                    .blk-time
                                        span
                                            i.fa.fa-clock-o
                                            | Daily
                                        span
                                            i.fa.fa-calendar
                                            | Monthly
                                .ftd.locat-info
                                    .details
                                        .blk-ttl.clearfix
                                            .distance 2.8 miles
                                            h3 Summerfield Gardens, LS13
                                        .desc Driveway on Summerfield Gardens that can park 2
                                        ul.features.clearfix
                                            li.available
                                                i.fa.fa-check
                                                | Space available now
                                            li.instant
                                                i.fa.fa-bolt
                                                | Instant book
                                    // END : DETAIL
                                    .prices-row
                                        .prices
                                            .price
                                                strong £5.00
                                                | per day
                                            .price
                                                strong £93.75
                                                | per month
                                            .price.book-button
                                                span(class="btn btn-red uppercase") book now
                                    // END : PRICEs
                                // END : INFO
                    // END : ITM
    // END: LIST
