block vars
  -title    = "Zone & Space Rentals"
  -homejs   = true
  -catjs    = false
  -locatjs  = false
extends layouts/layout
block main
    include blocks/main-slider.jade
    // END : MAIN SLIDER
    include blocks/blk-filter.jade
    // END : FILTER
    include blocks/blk-area.jade
    // END : BLK AREA
    include blocks/blk-park-car.jade
    // END : BLK CAR
    include blocks/blk-parking.jade
    // END : BLK PARKING