block vars
  -title 	= "Zone & Space Rentals"
  -homejs   = true
extends layouts/layout
block main
    include blocks/blk-area.jade
    // END : BLK AREA
    include blocks/blk-park-car.jade
    // END : BLK CAR
    include blocks/blk-parking.jade
    // END : BLK PARKING