block vars
  -title    = "Zone & Space Rentals"
  -homejs   = false
  -catjs    = false
  -locatjs  = false
  -detailjs = true
extends layouts/layout
block main
    include blocks/location-detail/detail-wrap.jade
    // END : BLK DETAIL
