block vars
  -title    = "Zone & Space Rentals"
  -homejs   = false
  -catjs    = false
  -locatjs  = true
  -detailjs = false
extends layouts/layout
block main
    include blocks/location-detail/location-detail-wrap.jade
    // END : BLK LOCATION DETAIL