block vars
  -title = "Zone & Space Rentals"
  -homejs = false
extends layouts/layout
block main
    .container
        ul(style="margin: 30px 0;")
            li(style="margin-bottom: 10px; list-style: circle")
                a(href="index.html", target="_blank") Homepage
            li(style="margin-bottom: 10px; list-style: circle")
                a(href="about-us.html", target="_blank") About us
            li(style="margin-bottom: 10px; list-style: circle")
                a(href="how-it-work.html", target="_blank") How it work