block vars
  -title    = "Zone & Space Rentals"
  -homejs   = false
  -catjs    = false
  -locatjs  = false
  -detailjs = false
  -profjs	= true
  -spacejs  = false
extends layouts/layout-login
block main
    include blocks/profile/my-account.jade
    // END : BLK PROFILE
