{% extends 'AppBundle::layout.html.twig' %}
{% block content %}


    <section class="main-container">

        <div class="container">
            <div class="row">
                <div class="main col-md-6">
                </div>
                <div class="main col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>cach mahg thang 8</strong>
                        </div>
                        <div class="col-md-6 pull-right">
                            <span class="pull-right">Available</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            300 qsd vacand 2.7mile
                        </div>
                        <div class="col-md-6">
                            <span class="pull-right">instant book</span>
                        </div>
                    </div>
                        <div class="separator-2"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{{ asset('bundles/app/images/image_space.png') }}" />
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <strong>$56</strong><br>Per Day
                                </div>
                                <div class="col-md-4">
                                    <strong>$56</strong><br>Per Day
                                </div>
                                <div class="col-md-4">
                                    <strong>$56</strong><br>Per Day
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="button" value="Book Now" class="margin-clear btn btn-default btn-custom">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

{% endblock %}