.general_container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    background: white;
}
.wrapper {
    margin-top: -40px;
}
.override_filter {
    color: #A6A5A5 !important;
}
.override_slide {
    background-color: #A6A5A5;
}
.general_container .main-slider .blk-filter .fil-item .ui-slider-horizontal .ui-slider-handle {
    border:1px solid #A6A5A5;
}
.general_container .near_by {
    margin-top: 80px;
}
.general_container label {
    color: #A6A5A5;
    text-align: left !important;
    font-weight: normal;
}

.general_container aside {
    margin-top: 55px;
}
.user_profile_wrapper label {
    color : #0a0a0a;
    font-weight: bold;
}
.user_profile_wrapper input ,.user_profile_wrapper select {
    border-radius: 0px;
}
.general_container .sidebar .block {
    margin-bottom: 60px;
    width: 75%;
    background-color: #F6F9FA;
    padding-top: 15px;
    font-size: 15px;
}
.general_container .sidebar .title {
    margin-top: 3px;
}
.general_container .sidebar ul li {
    padding: 2px 0px 2px 5px;
}
.separator-2 {
    width: 90%;
    margin-bottom: 15px;
    position: relative;
    height: 1px;
}
.separator-2:after {
    height: 1px;
    background: #aaa;
    /*background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, rgba(0, 0, 0, 0) 100%);*/
    /*background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.18)), color-stop(35%, rgba(0, 0, 0, 0.12)), color-stop(70%, rgba(0, 0, 0, 0.05)), color-stop(100%, rgba(0, 0, 0, 0)));*/
    /*background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, rgba(0, 0, 0, 0) 100%);*/
    /*background: -o-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, rgba(0, 0, 0, 0) 100%);*/
    /*background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, rgba(0, 0, 0, 0) 100%);*/
    /*background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, rgba(0, 0, 0, 0) 100%);*/
    position: absolute;
    bottom: -1px;
    left: 0px;
    content: "";
    width: 100%;
}
.nav-stacked .active a {
    color :red;
}





#oval {
    width: 171px;
    height: 50px;
    background: #f4f4f4;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 41px / 50px;
    border: 1px solid #ff0033;
    text-align: center;
    padding-top: 6%;
}
#oval:hover {
    background: red;
    color : white;
}
.cat_container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}
.blog_bg_img {
    position: relative;
    width: 100%; /* for IE 6 */
}
.blog_bg_text {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -144px;
    z-index: 99;
    color: white;
    font-size: 57px;
    margin: 0 auto 0 auto;
    text-align: center;
}
.bg_text_below {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
    text-align: center;
    margin-top: 15px;
    font-size : 23px;
}
#rectangle {
    width: 177px;
    height: 30px;
    background: #f4f4f4;
    margin: 0px auto 0 auto;
    border: 1px solid red;
    color: red;
    text-align: center;
    padding-top: 4px;
}
.blog_post_container {
    width: 100%;
    height: auto;
    min-height: 1150px;
}

.blog_post_container h3 {
    margin-top: -40px;
    margin-left: 7px;
}
.blog_post_container p {
    margin-top: 26px;
    margin-left: 7px;
}
.bl_post_categories {
    margin-left: 7px;
}
.bl_post_categories a {
    color: #53A2F9;
}
.load_more_btn {
    width: 300px;
    height: 40px;
    background: red;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    color: white;
    font-size: 17px;
    padding-top: 7px;
    text-align: center;
}
.bl_post_detai_container {
    width: 100%;
    height: auto;
    min-height: 999px;
}
.bl_detail_bg {
    padding-top: 50px;
}
.bl_detail_text_container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.bl_detail_text_container p {
    margin-top: 33px;
    font-size: 18px;
}
.bl_post_detail_categories {
    margin-left: -35px;
    font-size: 16px;
    height: 88px;
    margin-top: 99px;
}
.bl_post_detail_categories a {
    color: #53A2F9;
}


.career_wrapper {
    min-height: 1000px;
    background: white;
    margin-top: -20px;
}
.cr_text_right {
    padding-left:12%;

}
.cr_text_right p {
    color:#808184;
}
.cr_text_right h4 {
    color:black;
}
.cr_col_left {
    margin-top: 100px;
}
.cr_col_left h2 {
    color: red;
}
#cr_firstName , #cr_lastName ,#cr_email ,#cr_message {
    border: 1px solid;
}
#cr_submit {
    width: 25%;
    background: red;
    border: none;
    color: white;
    height: 35px;
}
.cr_apply_result {
    margin-top : 50px;
}
.cr_apply_result p {
    color : #808184;
}

.pp_container {
    width: 70%;
    margin: 30px auto ;
}
.pp_container h2 {
    color : red;
    text-align: center;
}
.pp_container p {
    color : #808184;
}
.news_press_wrapper {
    min-height: 1000px;
    background: white;
    margin-top: -23px;
    margin-bottom: 30px;
}
.news_press_wrapper h2{
    color : red;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
}
.news_wrapper {
    border-bottom: 1px solid;
    padding: 20px;
    margin: 20px auto;
}





/* Responsive */
@media screen and (max-width: 1367px) {
    .bl_post_detai_container h3 {
        margin-top: -38px;
        margin-left: 7px;
    }
    .bl_post_detai_container p {
        margin-top: 22px;
        margin-left: 7px;
    }
    .blog_bg_text {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 84px;
        z-index: 99;
        color: white;
        font-size: 47px;
        margin: 0 auto 0 auto;
        text-align: center;
    }
}
@media screen and (max-width: 1282px) {
    .blog_post_container {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .blog_bg_text {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 158px;
        z-index: 99;
        color: white;
        font-size: 47px;
        margin: 0 auto 0 auto;
        text-align: center;
    }
    #rectangle {
        width: 177px;
        height: 30px;
        background: #f4f4f4;
        margin: 40px auto 0 auto;
        border: 1px solid red;
        color: red;
        text-align: center;
        padding-top: 5px;
    }
    .blog_post_container h3 {
        margin-top: -40px;
        margin-left: 7px;
        font-size: 20px;
    }

}
@media screen and (max-width: 1025px) {
    .blog_post_container {
        width: 100%;
        height: auto;
        min-height: 1100px;
    }
    .blog_bg_text {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: -10px;
        z-index: 99;
        color: white;
        font-size: 39px;
        margin: 0 auto 0 auto;
        text-align: center;
    }
    .blog_post_container h3 {
        margin-top: -30px;
        margin-left: 7px;
        font-size: 18px;
    }
    .bl_post_detai_container h3 {
        margin-top: -29px;
        margin-left: 7px;
        font-size: 18px;
    }
    .bl_post_detai_container p {
        margin-top: 22px;
        margin-left: 7px;
    }
}
@media screen and (max-width: 909px) {
    .bl_post_detai_container h3 {
        margin-top: -70px;
        margin-left: 7px;
        font-size: 34px;
    }
    .bl_post_detai_container p {
        margin-top: 46px;
        margin-left: 7px;
    }
    #rectangle {
        width: 177px;
        height: 30px;
        background: #f4f4f4;
        margin: 80px auto 0 auto;
        border: 1px solid red;
        color: red;
        text-align: center;
        padding-top: 5px;
    }
    #oval {
        width: 171px;
        height: 50px;
        background: #f4f4f4;
        -moz-border-radius: 100px / 50px;
        -webkit-border-radius: 100px / 50px;
        border-radius: 41px / 50px;
        border: 1px solid #ff0033;
        text-align: center;
        padding-top: 8%;
    }
    .blog_post_container h3 {
        margin-top: -72px;
        margin-left: 7px;
        font-size: 48px;
    }
    .blog_post_container p {
        margin-top: 40px;
        margin-left: 7px;
        font-size: 15px;
    }
}
@media screen and (max-width: 800px) {
    #oval {
        width: 124px;
        height: 42px;
        background: #f4f4f4;
        -moz-border-radius: 100px / 50px;
        -webkit-border-radius: 100px / 50px;
        border-radius: 41px / 50px;
        border: 1px solid #ff0033;
        text-align: center;
        padding-top: 11%;
        font-size: 12px;
    }
    .blog_bg_text {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 375px;
        z-index: 99;
        color: white;
        font-size: 27px;
        margin: 0 auto 0 auto;
        text-align: center;
    }

    .bl_post_detai_container {
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .bl_post_detai_container h3 {
        margin-top: -70px;
        margin-left: 7px;
        font-size: 34px;
    }
    .bl_post_detai_container p {
        margin-top: 46px;
        margin-left: 7px;
    }
    #rectangle {
        width: 177px;
        height: 30px;
        background: #f4f4f4;
        margin: 150px auto 0 auto;
        border: 1px solid red;
        color: red;
        text-align: center;
        padding-top: 5px;
    }
    .blog_post_container h3 {
        margin-top: -72px;
        margin-left: 7px;
        font-size: 37px;
    }
}

@media screen and (max-width: 482px) {
    #rectangle {
        margin: 320px auto 0 auto;
    }
    .blog_post_container h3 {
        margin-top: -47px;
        margin-left: 7px;
        font-size: 25px;
    }
    .blog_post_container {
        margin-top: 46px;
        margin-bottom: 20px;
    }

}
@media screen and (max-width: 400px) {
    .blog_post_container h3 {
        margin-top: -34px;
        font-size: 19px;
    }

}