block vars
  -title = "How it work - Zone & Space Rentals"
  -homejs = false
extends layouts/layout
block main
    include blocks/how-it-work/blk-how-it-work.jade
    // END : BLK HOW IT WORK
    include blocks/how-it-work/blk-why-us.jade
    // END : BLK WHY US
    include blocks/how-it-work/blk-fqas.jade
    // END : BLK FAQs
    include blocks/about-us/blk-contact.jade
    // END : BLK CONTACT