block vars
  -title  = "Space Detail - Zone & Space Rentals"
  -homejs = false
  -mapjs  = true
extends layouts/layout
block main
    include blocks/lease-your-space/lease-space-detail.jade
    // END : SPACE DETAIL