block vars
  -title    = "Zone & Space Rentals"
  -cls      = ""
  -homejs   = false
  -catjs    = false
  -locatjs  = false
  -detailjs = false
  -spacejs  = true
extends layouts/layout
block main
    include blocks/list-your-space/list-space-step3.jade
    // END : LIST YOUR SPACE
