block vars
  -title    = "Zone & Space Rentals"
  -homejs   = false
  -catjs    = true
  -locatjs  = false
  -detailjs = false
  -profjs   = false
  -spacejs  = false
extends layouts/layout
block main
    include blocks/category-list.jade
    // END : CATEGORY
