section.blk-how-works
    .container
        h2.blk-ttl
            a(href="#") HOW IT WORKS
        .row
            section.works-itm.col-xs-6
                .desc I am looking for a land or a space to rent to do an event. Can you help?
                .wrk-step-wrap.table
                    .wrk-step.tbl-cell
                        span.wrk-ico
                            i.ico.ico-zoom
                        h3
                            span Search listings
                    // END
                    .wrk-step.tbl-cell
                        span.wrk-ico
                            i.ico.ico-pin
                        h3
                            span Choose a space
                    // END
                    .wrk-step.tbl-cell
                        span.wrk-ico
                            i.ico.ico-calgrid
                        h3
                            span Book and pay
                    // END
                    .wrk-step.tbl-cell
                        span.wrk-ico
                            i.ico.ico-check
                        h3
                            span Do your event
                    // END
            // END : ITM
            section.works-itm.col-xs-6
                .desc I have a land or a space for rent. Can I lease my space and earn money?
                .wrk-step-wrap.table
                    .wrk-step.tbl-cell
                        span.wrk-ico
                            i.ico.ico-plus
                        h3
                            span Create your listing
                    // END
                    .wrk-step.tbl-cell
                        span.wrk-ico
                            i.ico.ico-calgrid
                        h3
                            span Update  calendar
                    // END
                    .wrk-step.tbl-cell
                        span.wrk-ico
                            i.ico.ico-chat
                        h3
                            span Wait for bookings
                    // END
                    .wrk-step.tbl-cell
                        span.wrk-ico
                            i.ico.ico-wallet
                        h3
                            span Managed service
                    // END
            // END : ITM
