section.lease-nav
    .row
        section.col-xs-6
            .wrk-step-wrap.table
                .wrk-step.tbl-cell.active
                    a(href="#")
                        span.wrk-ico 
                            i.ico.ico-zoom
                        h3 
                            span Location 
                // END
                .wrk-step.tbl-cell
                    a(href="#")
                        span.wrk-ico 
                            i.ico.ico-pin
                        h3 
                            span Space 
                            span Details
                // END
                .wrk-step.tbl-cell
                    a(href="#")
                        span.wrk-ico 
                            i.ico.ico-calgrid
                        h3 
                            span Review 
                            span Your Space
                // END
                .wrk-step.tbl-cell
                    a(href="#")
                        span.wrk-ico 
                            i.ico.ico-check
                        h3 
                            span Activate 
                // END