section.main-slider
    ul.slides
        li(style="background-image: url('uploads/main_slider.jpg')")
    .main-filter
        .container
            h2 ZONE & SPACE RENTALS TO HOST AN EVENT FROM LOCAL HOSTS IN 100+ CITIES
            .more
                a(href="#") Learn more on how it works
                    i.fa.fa-arrow-right
            .blk-filter
                .fil-item
                    input(type="text", class="ipt", placeholder="Location or ZIP code")
                // END
                .fil-item.fil-row
                    .fil-col-6
                        input(type="text", class="ipt", placeholder="Start date")
                        i.fa.fa-calendar
                    .fil-col-6
                        input(type="text", class="ipt", placeholder="End date")
                        i.fa.fa-calendar
                // END
