section.main-slider
    ul.slides
        li(style="background-image: url('uploads/main_slider.jpg')")
    .main-filter
        h2 ZONE & SPACE RENTALS TO HOST AN EVENT FROM LOCAL HOSTS IN 100+ CITIES
        .more
            a(href="#") Learn more on how it works
                i.fa.fa-arrow-right
